{% extends "layout.html" %}
{% import 'layout.html' as layout %}
{% block VueComponent %}
<v-container>
    <v-row v-for="row in rows">
        <v-col v-for="col in row" cols="3" class="d-flex" style="flex-direction:column">
            <v-tooltip v-if="col.courseCode" bottom>
                <template v-slot:activator="{ on, attrs }">
                    <v-card style="height: 100%; width: 100%;" v-bind="attrs" v-on="on" elevation="12"
                        @click="selectCourse(col.courseCode)">
                        <v-card-title>
                            ${col.courseCode}
                        </v-card-title>
                        <v-card-subtitle>
                            <v-avatar size="96">
                                <img :src="col.img">
                            </v-avatar>
                        </v-card-subtitle>
                    </v-card>
                </template>
                <span>${col.courseName}</span>
            </v-tooltip>
        </v-col>
    </v-row>
</v-container>
{% endblock %}
{% block VueComponentScript %}
<script>
    Vue.component('app-content', {
        data: () => ({
            rows: [
                []
            ]
        }),
        methods: {
            loadData() {
                this.$root.progress.show = true
                fetch("{{ url_for('RESTful.course.query', list=True) }}", {
                        method: 'GET',
                        cache: 'no-store',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                    })
                    .then(response => {
                        try {
                            return response.json()
                        } catch {
                            this.$root.progress.show = false
                            this.$root.errorDisplay({},
                                'Unexpected error occured.')
                        }
                    })
                    .then(body => {
                        this.$root.progress.show = false
                        let colPerRow = 4
                        if (body.courses) {
                            body.courses.forEach(c => {
                                let lastRow = this.rows[this.rows.length - 1]
                                if (lastRow.length == colPerRow) {
                                    this.rows.push([])
                                    lastRow = this.rows[this.rows.length - 1]
                                }
                                lastRow.push({
                                    courseCode: c.concept.name,
                                    img: c.course.imageURL,
                                    courseName: c.course.displayName
                                })

                            })
                            let lastRow = this.rows[this.rows.length - 1]
                            while (lastRow.length < colPerRow) {
                                lastRow.push({})
                            }
                        } else {
                            this.$root.errorDisplay(body,
                                'Unexpected error on getting relationship information.')
                        }
                    })
            },
            selectCourse(courseCode) {
                window.location.replace("{{ url_for('draft.my_space') }}/" + courseCode)
            }
        },
        created: function () {
            this.loadData()
        },
        template: '#content',
        delimiters: ['${', '}'],
    })
</script>
{% endblock %}