{% macro componentContent() %}
<div style="height: 100%; width: 100%;">
    summary
</div>
{% endmacro %}
{% macro component() %}
<script type="text/x-template" id="kcube-instructor-summary">
    {{ componentContent()}}
</script>
{% endmacro %}
{% macro script() %}
<script src="https://unpkg.com/vue-iro-color-picker@2.0.0/dist/VueIroColorPicker.umd.min.js"></script>
<script>
    widgetName = 'summary'
    widgetComponentName = 'kcube-instructor-summary'
    KCube.widgetName.push(widgetName)
    KCube.widgetOptions[widgetName] = {
        component: widgetComponentName
    }
    Vue.component(widgetComponentName, {
        data: () => ({
        }),
        methods: {
        },
        template: '#' + widgetComponentName,
        delimiters: ['${', '}'],
    })
</script>
{% endmacro %}
{{ component() }}
{{ script() }}