{% extends "layout.html" %}
{% import 'layout.html' as layout with context %}
{% block VueComponent %}

<v-container>
    <v-row>
        <v-text-field v-model="searchText" label="search" @input="search()"></v-text-field>
    </v-row>
    {% if request.blueprint == "instructor" or request.blueprint == "DLTC" %}
    <v-row no-gutters>
        <v-col>
            <span class="mr-4">filters:</span>
            <v-chip filter v-model="filter.public"
                @click="filter.public = !filter.public; filter.internal = filter.public?false:filter.internal; search()"
                dense hide-details>
                public</v-chip>
            <v-chip filter v-model="filter.internal"
                @click="filter.internal = !filter.internal; filter.public = filter.internal?false:filter.public; search()"
                dense hide-details>internal</v-chip>
            {% if request.blueprint == "instructor" %}
            <v-chip filter v-model="filter.joined"
                @click="filter.joined = !filter.joined; filter.notJoined = filter.joined?false:filter.notJoined; search()"
                dense hide-details ref="shepherd-joinedFilter">
                joined</v-chip>
            <v-chip filter v-model="filter.notJoined"
                @click="filter.notJoined = !filter.notJoined; filter.joined = filter.notJoined?false:filter.joined; search();"
                dense hide-details>not joined
            </v-chip>
            {% endif %}
        </v-col>
        {% if request.blueprint == "instructor" %}
        <v-divider vertical></v-divider>
        <v-col cols="auto">
            <v-btn color="success" @click="filter.joined=false;filter.public=false;filter.internal=false;search()"
                ref="shepherd-joinNewCourse">
                <v-icon left>add</v-icon>join new course
            </v-btn>
        </v-col>
        {% endif %}
    </v-row>
    {% endif %}
    <v-row v-if="courses.length == 0">
        <v-col v-if="searchText.length>0">No course for search text "${searchText}". <br>
            <v-btn color="error" @click="searchText='';search()">clear search text</v-btn>
        </v-col>
    </v-row>
    <v-row v-for="row in [...Array(Math.ceil(courses.length/colPerRow)).keys()]">
        <v-col v-for="col in  [...Array(colPerRow).keys()]" cols="4" class="d-flex" style="flex-direction:column">
            {% if request.blueprint == "collaborate" %}
            <v-card v-if="courses[row*colPerRow + col]"
                :href="'{{ url_for('collaborate.feedbacks') }}/' + courses[row*colPerRow + col].courseCode">
                <v-list-item three-line>
                    <v-list-item-content>
                        <v-list-item-title>
                            ${courses[row*colPerRow + col].courseCode}
                        </v-list-item-title>
                        <v-list-item-subtitle>
                            ${courses[row*colPerRow + col].courseName}</v-list-item-subtitle>
                    </v-list-item-content>
                    <v-list-item-avatar tile size="96">
                        <img :src="courses[row*colPerRow + col].imageURL">
                    </v-list-item-avatar>
                </v-list-item>
            </v-card>
            {% else %}
            <v-card v-if="courses[row*colPerRow + col]">
                <v-list-item three-line>
                    <v-list-item-content>
                        <div style="cursor: pointer;" @click="openCoursePreview(courses[row * colPerRow + col])">
                            <v-list-item-title>
                                ${courses[row*colPerRow + col].courseCode}
                                {% if request.blueprint == "instructor" %}
                                <v-icon>
                                    launch
                                </v-icon>
                                {% endif %}
                            </v-list-item-title>
                            <v-list-item-subtitle>
                                ${courses[row*colPerRow + col].courseName}
                            </v-list-item-subtitle>
                        </div>
                    </v-list-item-content>

                    <v-badge bordered icon="work" offset-x="24" offset-y="24" color="info"
                        :value="courses[row*colPerRow + col].workspaces?.length > 0">
                        <v-list-item-avatar tile size="96">
                            <v-img :src="courses[row*colPerRow + col].imageURL"></v-img>
                        </v-list-item-avatar>
                    </v-badge>
                    <v-menu bottom offset-y>
                        <template v-slot:activator="{ on, attrs }">
                            <v-list-item-icon v-bind="attrs" v-on="on">
                                <v-icon>more_vert</v-icon>
                            </v-list-item-icon>
                        </template>
                        <v-list class="no-padding-list" dense>
                            <v-subheader style="height: auto; font-size: small;">page</v-subheader>
                            {% if request.blueprint == "instructor" %}
                            <v-list-item>
                                <v-tooltip bottom>
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-btn v-bind="attrs" v-on="on"
                                            :href="'{{ url_for('instructor.repositories') }}/' + courses[row*colPerRow + col].courseCode"
                                            icon>
                                            <v-icon>table_view</v-icon>
                                        </v-btn>
                                    </template>
                                    <span>Repository</span>
                                </v-tooltip>
                            </v-list-item>
                            <v-list-item>
                                <v-tooltip bottom>
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-btn v-bind="attrs" v-on="on"
                                            :href="'{{ url_for('instructor.coursePlan') }}/' + courses[row*colPerRow + col].courseCode"
                                            icon>
                                            <v-icon>edit_calendar</v-icon>
                                        </v-btn>
                                    </template>
                                    <span>Course Plan</span>
                                </v-tooltip>
                            </v-list-item>
                            <v-list-item>
                                <v-tooltip bottom>
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-btn v-bind="attrs" v-on="on"
                                            :href="'{{ url_for('instructor.material') }}/' + courses[row*colPerRow + col].courseCode"
                                            icon>
                                            <v-icon>add_link</v-icon>
                                        </v-btn>
                                    </template>
                                    <span>Course Resources</span>
                                </v-tooltip>
                            </v-list-item>
                            <v-list-item>
                                <v-tooltip bottom>
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-btn v-bind="attrs" v-on="on"
                                            :href="'{{ url_for('instructor.versionTree') }}/' + courses[row*colPerRow + col].courseCode"
                                            icon>
                                            <v-icon>account_tree</v-icon>
                                        </v-btn>
                                    </template>
                                    <span>Versions</span>
                                </v-tooltip>
                            </v-list-item>
                            {% elif request.blueprint == "DLTC" %}
                            <v-list-item>
                                <v-tooltip bottom>
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-btn v-bind="attrs" v-on="on"
                                            :href="'{{ url_for('DLTC.versionTree') }}/' + courses[row*colPerRow + col].courseCode"
                                            icon>
                                            <v-icon>account_tree</v-icon>
                                        </v-btn>
                                    </template>
                                    <span>Versions</span>
                                </v-tooltip>
                            </v-list-item>
                            <v-list-item>
                                <v-tooltip bottom>
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-btn v-bind="attrs" v-on="on"
                                            :href="'{{ url_for('DLTC.pullRequest') }}/' + courses[row*colPerRow + col].courseCode"
                                            icon>
                                            <v-icon>library_add</v-icon>
                                        </v-btn>
                                    </template>
                                    <span>Approve Updates</span>
                                </v-tooltip>
                            </v-list-item>
                            <v-list-item>
                                <v-tooltip bottom>
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-btn v-bind="attrs" v-on="on"
                                            :href="'{{ url_for('DLTC.trunkVersions') }}/' + courses[row*colPerRow + col].courseCode"
                                            icon>
                                            <v-icon>library_add_check</v-icon>
                                        </v-btn>
                                    </template>
                                    <span>Manage Versions</span>
                                </v-tooltip>
                            </v-list-item>
                            {% endif %}
                            <v-divider></v-divider>
                            <v-subheader style="height: auto; font-size: small;">action</v-subheader>
                            <v-list-item>
                                <v-tooltip bottom>
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-btn v-bind="attrs" v-on="on"
                                            @click="courseAssignment(courses[row*colPerRow + col])" icon>
                                            <v-icon>assignment_ind</v-icon>
                                        </v-btn>
                                    </template>
                                    <span>List Course Instructor</span>
                                </v-tooltip>
                            </v-list-item>
                            {% if request.blueprint == "instructor" %}
                            <v-list-item>
                                <v-tooltip bottom>
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-btn v-bind="attrs" v-on="on"
                                            @click="courseInfo(courses[row*colPerRow + col])" icon>
                                            <v-icon>edit</v-icon>
                                        </v-btn>
                                    </template>
                                    <span>Edit info</span>
                                </v-tooltip>
                            </v-list-item>
                            {% elif request.blueprint == "DLTC" %}
                            <v-list-item>
                                <v-tooltip bottom>
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-btn v-bind="attrs" v-on="on"
                                            @click="courseIsInternal(courses[row*colPerRow + col])" icon>
                                            <v-icon>${courses[row*colPerRow + col].isInternal ===
                                                false?'public_off':'public'}
                                            </v-icon>
                                        </v-btn>
                                    </template>
                                    <span>${courses[row*colPerRow + col].isInternal === false?'set internal':
                                        'set public'}</span>
                                </v-tooltip>
                            </v-list-item>
                            {% endif %}
                        </v-list>
                    </v-menu>
                </v-list-item>
                <v-card-actions>
                    {% if request.blueprint == "DLTC" %}
                    <v-tooltip bottom>
                        <template v-slot:activator="{ on, attrs }">
                            <v-btn :color="courses[row*colPerRow + col].isInternal === false?'success':'grey'"
                                @click="courseIsInternal(courses[row*colPerRow + col])" v-bind="attrs" v-on="on"
                                outlined>
                                <v-icon left>public</v-icon>
                                public
                            </v-btn>
                        </template>
                        ${'click to '+(courses[row*colPerRow + col].isInternal === false?'set internal':'set public')}
                    </v-tooltip>
                    <v-spacer></v-spacer>
                    <v-slide-group style="padding: unset">
                        <v-slide-item>
                            <v-subheader style="height: auto; font-size: small;">page</v-subheader>
                        </v-slide-item>
                        <v-slide-item>
                            <v-tooltip bottom>
                                <template v-slot:activator="{ on, attrs }">
                                    <v-btn v-bind="attrs" v-on="on" color="info"
                                        :href="'{{ url_for('DLTC.versionTree') }}/' + courses[row*colPerRow + col].courseCode"
                                        icon>
                                        <v-icon>account_tree</v-icon>
                                    </v-btn>
                                </template>
                                <span>Versions</span>
                            </v-tooltip>
                        </v-slide-item>
                        <v-slide-item>
                            <v-tooltip bottom>
                                <template v-slot:activator="{ on, attrs }">
                                    <v-btn v-bind="attrs" v-on="on" color="info" ref="shepherd-approveUpdates"
                                        :href="'{{ url_for('DLTC.pullRequest') }}/' + courses[row*colPerRow + col].courseCode"
                                        icon>
                                        <v-icon>library_add</v-icon>
                                    </v-btn>
                                </template>
                                <span>Approve Updates</span>
                            </v-tooltip>
                        </v-slide-item>
                        <v-slide-item>
                            <v-tooltip bottom>
                                <template v-slot:activator="{ on, attrs }">
                                    <v-btn v-bind="attrs" v-on="on" color="info" ref="shepherd-manageVersions"
                                        :href="'{{ url_for('DLTC.trunkVersions') }}/' + courses[row*colPerRow + col].courseCode"
                                        icon>
                                        <v-icon>library_add_check</v-icon>
                                    </v-btn>
                                </template>
                                <span>Manage Versions</span>
                            </v-tooltip>
                        </v-slide-item>
                        <v-divider vertical></v-divider>
                        <v-slide-item>
                            <v-subheader style="height: auto; font-size: small;">action</v-subheader>
                        </v-slide-item>
                        <v-slide-item>
                            <v-tooltip bottom>
                                <template v-slot:activator="{ on, attrs }">
                                    <v-btn v-bind="attrs" v-on="on" color="info" ref="shepherd-listCourseInstructor"
                                        @click="courseAssignment(courses[row*colPerRow + col])" icon>
                                        <v-icon>assignment_ind</v-icon>
                                    </v-btn>
                                </template>
                                <span>List Course Instructor</span>
                            </v-tooltip>
                        </v-slide-item>
                    </v-slide-group>
                    {% endif %}
                    {% if request.blueprint == "instructor" %}
                    <v-tooltip bottom>
                        <template v-slot:activator="{ on, attrs }">
                            <v-btn :outlined="!courses[row*colPerRow + col].isTeaching"
                                :color="courses[row*colPerRow + col].isTeaching?'success':'grey'" v-bind="attrs"
                                v-on="on"
                                @click="courses[row*colPerRow + col].isTeaching?quit(courses[row*colPerRow + col]):join(courses[row*colPerRow + col])">
                                <v-icon v-if="courses[row*colPerRow + col].isTeaching" left>check</v-icon>
                                ${courses[row*colPerRow + col].isTeaching?'joined':'join'}
                            </v-btn>
                        </template>
                        ${'click to '+(courses[row*colPerRow + col].isTeaching?'unjoin':'join')}
                    </v-tooltip>
                    <v-spacer></v-spacer>
                    <v-btn v-if="courses[row*colPerRow + col].workspaces.length == 0"
                        @click="openWorkspaceDialogue(courses[row*colPerRow + col])">
                        create workspace &nbsp;<v-icon small>work_outline</v-icon>
                    </v-btn>
                    <div v-else>
                        <v-tooltip bottom>
                            <template v-slot:activator="{ on, attrs }">
                                <v-btn v-bind="attrs" v-on="on" color="success" style="width: 36px; min-width: unset;"
                                    @click="openWorkspaceDialogue(courses[row*colPerRow + col])"
                                    ref="shepherd-newWorkspace">
                                    <v-icon>
                                        add_box</v-icon>
                                </v-btn>
                            </template>
                            new workspace
                        </v-tooltip>
                        <v-tooltip bottom>
                            <template v-slot:activator="{ on, attrs }">
                                <v-btn v-bind="attrs" v-on="on" color="info" ref="shepherd-recentVisit"
                                    :href="'{{ url_for('instructor.workspace') }}' + courses[row*colPerRow + col].workspaces[0].deltaGraphId">
                                    recent visit &nbsp;<v-icon small>work</v-icon>
                                </v-btn>
                            </template>
                            ${courses[row*colPerRow + col].workspaces[0].tag}
                        </v-tooltip>
                    </div>
                    {% endif %}
                </v-card-actions>
            </v-card>
            {% endif %}
        </v-col>
    </v-row>
    {% if request.blueprint == "instructor" %}
    <v-dialog v-model="workspaceDialogue" max-width="500px" eager>
        <kcube-workspace-form ref="workspaceForm"></kcube-workspace-form>
    </v-dialog>
    <v-dialog v-model="coursePreviewDialogue" max-width="80vw" eager>
        <kcube-course-preview ref="coursePreview"></kcube-course-preview>
    </v-dialog>
    <v-dialog v-model="courseInfoDialogue" max-width="500px">
        <v-card v-if="course">
            <v-card-title>${course.courseName}</v-card-title>
            <v-card-text>
                <v-form ref="courseInfoFormControl">
                    <v-container>
                        <v-row>
                            <v-text-field v-model="courseCode" :rules="courseCodeRules" label="Cource Code" required>
                            </v-text-field>
                        </v-row>
                        <v-row>
                            <v-text-field v-model="courseName" :rules="courseNameRules" label="Course Name" required>
                            </v-text-field>
                        </v-row>
                        <v-row>
                            <v-select label="Image url" v-model="imageURL" :rules="imageURLRules" :items="imagesUrl"
                                required>
                                <template v-slot:item="{ item }">
                                    <v-img :src="item" height="40" contain></v-img>
                                </template>
                            </v-select>
                        </v-row>
                        <v-row>
                            <v-btn @click="updateCourseInfo()" color="success">
                                update
                            </v-btn>
                        </v-row>
                    </v-container>
                </v-form>
            </v-card-text>
        </v-card>
    </v-dialog>
    {% endif %}
    {% if request.blueprint == "instructor" or request.blueprint == "DLTC" %}
    <v-dialog v-model="instructorDialogue" max-width="500px">
        {% if request.blueprint == "instructor" %}
        <v-card v-if="course">
            <v-card-title>Instructors for ${course.courseName}</v-card-title>
            <v-card-text>
                <v-subheader>Joined</v-subheader>
                <v-tooltip bottom v-for="instructor in instructors" v-if="instructor.isTeaching">
                    <template v-slot:activator="{ on, attrs  }">
                        <v-chip v-bind="attrs" v-on="on">
                            ${instructor.user.userName}
                        </v-chip>
                    </template>
                    ${instructor.user.email}
                </v-tooltip>
            </v-card-text>
        </v-card>
        {% else %}
        <v-card v-if="course">
            <v-card-title>Instructors for ${course.courseName}</v-card-title>
            <v-card-text>
                <v-subheader>Assigned</v-subheader>
                <v-tooltip bottom v-for="instructor in instructors" v-if="instructor.isTeaching">
                    <template v-slot:activator="{ on, attrs  }">
                        <v-chip v-bind="attrs" v-on="on" @click="unassign(instructor.user.userId)"
                            close-icon="file_download">
                            ${instructor.user.userName}
                            <v-icon right>file_download</v-icon>
                        </v-chip>
                    </template>
                    ${instructor.user.email}
                </v-tooltip>
            </v-card-text>
            <v-card-text>
                <v-subheader>Not assigned</v-subheader>
                <v-tooltip bottom v-for="instructor in instructors" v-if="!instructor.isTeaching">
                    <template v-slot:activator="{ on, attrs  }">
                        <v-chip v-bind="attrs" v-on="on" @click="assign(instructor.user.userId)" close-icon="upload">
                            ${instructor.user.userName}
                            <v-icon right>upload</v-icon>
                        </v-chip>
                    </template>
                    ${instructor.user.email}
                </v-tooltip>
            </v-card-text>
        </v-card>
        {% endif %}
    </v-dialog>
    {% endif %}
</v-container>

{% endblock %}
{% block VueComponentScript %}
{% if request.blueprint == "instructor" %}
{% include "instructor/components/coursePreview.html" %}
{% endif %}
<style>
    .no-padding-list>* {
        padding: unset
    }
</style>
<script>
    Vue.component('app-content', {
        data: () => ({
            colPerRow: 3,
            allCourses: [],
            courses: [],
            searchText: "",
            course: null,
            // {% if request.blueprint == "instructor" or request.blueprint == "DLTC" %}
            filter: {
                public: false,
                internal: false,
                // {% if request.blueprint == "instructor" %}
                joined: new URLSearchParams(window.location
                    .search).get('joined') == null,
                notJoined: false,
                // {% endif %}
            },
            instructorDialogue: false,
            instructors: null,
            // {% endif %}
            // {% if request.blueprint == "instructor" %}
            workspaceDialogue: false,
            courseInfoDialogue: false,
            coursePreviewDialogue: false,
            imagesUrl: [
                //{% for url in imagesUrl %}
                '{{ url | safe}}',
                //{% endfor %}
            ],
            courseCode: '',
            courseCodeRules: [v => !!v || 'Course code is required',
            v => (v && v.length > 3 && v.length < 101) ||
                'Course code should be anything between 4 and 100 charactors',
            v => (v && /{{regExpRules["courseCode"]}}/.test(v)) ||
                'Course code can only contains alphanumeric characters and space.'
            ],
            courseName: '',
            courseNameRules: [v => !!v || 'Course name is required',
            v => (v && v.length > 3 && v.length < 101) ||
                'Course name should be anything between 4 and 100 charactors',
            v => (v && /{{regExpRules["courseName"]}}/.test(v)) ||
                'Course name can only contains alphanumeric characters and space.'
            ],
            imageURL: '',
            imageURLRules: [],
            // {% endif %}
        }),
        methods: {
            loadData() {
                this.$root.progress.show = true
                fetch(
                    // {% if request.blueprint == "DLTC" %}
                    "{{ url_for('RESTful.course.query', internal=True) }}",
                    // {% elif request.blueprint == "instructor" %}
                    "{{ url_for('RESTful.course.query', instructor=True) }}",
                    // {% else %}
                    "{{ url_for('RESTful.course.query', list=True) }}",
                    // {% endif %}
                    {
                        method: 'GET',
                        cache: 'no-store',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                    })
                    .then(response => {
                        try {
                            return response.json()
                        } catch {
                            this.$root.progress.show = false
                            this.$root.errorDisplay({},
                                'Unexpected error occured.')
                        }
                    })
                    .then(body => {
                        this.$root.progress.show = false
                        if (body.courses) {
                            // {% if request.blueprint == "instructor" or request.blueprint == "DLTC" %}
                            if (body.courses.filter(c => c.isTeaching).length == 0) this.filter.joined = false
                            // {% endif %}
                            body.courses.sort((a, b) => {
                                if (a.concept.name < b.concept.name) {
                                    return -1;
                                }
                                if (a.concept.name > b.concept.name) {
                                    return 1;
                                }
                                return 0;
                            }).forEach(c => {
                                this.allCourses.push({
                                    courseCode: c.concept.name,
                                    imageURL: c.course.imageURL,
                                    courseName: c.course.courseName,
                                    isInternal: c.course.isInternal,
                                    isTeaching: c.isTeaching,
                                    workspaces: c.workspaces
                                })
                            })
                            this.search()
                        } else {
                            this.$root.errorDisplay(body,
                                'Unexpected error on getting courses information.')
                        }
                    })
            },
            // {% if request.blueprint == "instructor" %}
            courseInfo(course) {
                this.course = course
                this.courseInfoDialogue = true
                this.courseCode = course.courseCode
                this.courseName = course.courseName
                this.imageURL = course.imageURL
            },
            openCoursePreview(course) {
                this.courseCode = course.courseCode
                this.$refs.coursePreview.loadData(this.courseCode);
                this.coursePreviewDialogue = true
            },
            openWorkspaceDialogue(course) {
                this.courseCode = course.courseCode
                this.$refs.workspaceForm.loadData(this.courseCode);
                this.workspaceDialogue = true;
            },
            updateCourseInfo() {
                if (this.$refs.courseInfoFormControl.validate()) {
                    if (this.$root.progress.show == true) {
                        this.$root.bePatientSnackBar.show = true
                        return
                    }
                    this.$root.progress.show = true
                    fetch("{{ url_for('RESTful.course.patch') }}" + encodeURIComponent(this.course
                        .courseCode), {
                        method: 'PATCH',
                        cache: 'no-store',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            courseName: this.courseName,
                            imageURL: this.imageURL,
                            name: this.courseCode,
                        })
                    })
                        .then(response => {
                            try {
                                return response.json()
                            } catch {
                                this.$root.progress.show = false
                                this.$root.errorDisplay({},
                                    'Unexpected error occured.')
                            }
                        })
                        .then(body => {
                            this.$root.progress.show = false
                            this.$root.responseSnackBar(body,
                                'Update failed for unknown reason.',
                                () => {
                                    location.reload()
                                })
                        })
                }
            },
            courseAssignment(course) {
                if (this.$root.progress.show == true) {
                    this.$root.bePatientSnackBar.show = true
                    return
                }
                this.$root.progress.show = true
                this.course = course
                fetch("{{ url_for('RESTful.course.query') }}/" + course.courseCode + "/instructors", {
                    method: 'GET',
                    cache: 'no-store',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                })
                    .then(response => {
                        try {
                            return response.json()
                        } catch {
                            this.$root.progress.show = false
                            this.$root.errorDisplay({},
                                'Unexpected error occured.')
                        }
                    })
                    .then(body => {
                        this.$root.progress.show = false
                        if (body.instructors) {
                            this.instructors = body.instructors
                            this.instructorDialogue = true

                        } else {
                            this.$root.errorDisplay(body,
                                'Unexpected error on getting instructor assignment information.')
                        }

                    })
            },
            join(course) {
                this.$root.actionDisplay("You are joining " + course.courseCode, "sure", () => {
                    if (this.$root.progress.show == true) {
                        this.$root.bePatientSnackBar.show = true
                        return
                    }
                    this.$root.progress.show = true
                    fetch("{{ url_for('RESTful.course.patch') }}" + encodeURIComponent(course
                        .courseCode), {
                        method: 'PATCH',
                        cache: 'no-store',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            join: true
                        })
                    })
                        .then(response => {
                            try {
                                return response.json()
                            } catch {
                                this.$root.progress.show = false
                                this.$root.errorDisplay({},
                                    'Unexpected error occured.')
                            }
                        })
                        .then(body => {
                            this.$root.progress.show = false
                            this.$root.responseSnackBar(body,
                                'Assignment failed for unknown reason.',
                                () => {
                                    this.$root.actionSnackBar.show = false
                                    this.allCourses[this.allCourses.map(c => c.courseCode).indexOf(course.courseCode)].isTeaching = true
                                    this.search()
                                    // window.location.href = "{{ url_for('instructor.courseList') }}?joined=false"
                                })

                        })
                })
            },
            quit(course) {
                this.$root.actionDisplay("You are quiting " + course.courseCode, "sure", () => {
                    if (this.$root.progress.show == true) {
                        this.$root.bePatientSnackBar.show = true
                        return
                    }
                    this.$root.progress.show = true
                    fetch("{{ url_for('RESTful.course.patch') }}" + encodeURIComponent(course
                        .courseCode), {
                        method: 'PATCH',
                        cache: 'no-store',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            join: false
                        })
                    })
                        .then(response => {
                            try {
                                return response.json()
                            } catch {
                                this.$root.progress.show = false
                                this.$root.errorDisplay({},
                                    'Unexpected error occured.')
                            }
                        })
                        .then(body => {
                            this.$root.progress.show = false
                            this.$root.responseSnackBar(body,
                                'Assignment failed for unknown reason.',
                                () => {
                                    this.$root.actionSnackBar.show = false
                                    this.allCourses[this.allCourses.map(c => c.courseCode).indexOf(course.courseCode)].isTeaching = false
                                    this.search()
                                    // window.location.href = "{{ url_for('instructor.courseList') }}?joined=false"
                                })
                        })
                })
            },
            clearQueryString() {
                var newurl = window.location.protocol + "//" + window.location.host + window.location.pathname
                window.history.pushState({ path: newurl }, '', newurl)
            },
            // {% endif %}
            // {% if request.blueprint == "DLTC" %}

            assign(userId) {
                if (this.$root.progress.show == true) {
                    this.$root.bePatientSnackBar.show = true
                    return
                }
                this.$root.progress.show = true
                fetch("{{ url_for('RESTful.course.patch') }}" + this.course
                    .courseCode, {
                    method: 'PATCH',
                    cache: 'no-store',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        userId: userId,
                        assignment: true
                    })
                })
                    .then(response => {
                        try {
                            return response.json()
                        } catch {
                            this.$root.progress.show = false
                            this.$root.errorDisplay({},
                                'Unexpected error occured.')
                        }
                    })
                    .then(body => {
                        this.$root.progress.show = false
                        this.$root.responseSnackBar(body,
                            'Assignment failed for unkown reason.',
                            () => {
                                this.courseAssignment(this.course)
                            })

                    })
            },
            unassign(userId) {
                if (this.$root.progress.show == true) {
                    this.$root.bePatientSnackBar.show = true
                    return
                }
                this.$root.progress.show = true
                fetch("{{ url_for('RESTful.course.patch') }}" + this.course
                    .courseCode, {
                    method: 'PATCH',
                    cache: 'no-store',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        userId: userId,
                        assignment: false
                    })
                })
                    .then(response => {
                        try {
                            return response.json()
                        } catch {
                            this.$root.progress.show = false
                            this.$root.errorDisplay({},
                                'Unexpected error occured.')
                        }
                    })
                    .then(body => {
                        this.$root.progress.show = false
                        this.$root.responseSnackBar(body,
                            'Assignment failed for unkown reason.',
                            () => {
                                this.courseAssignment(this.course)
                            })

                    })
            },
            courseIsInternal(course) {
                this.course = course
                this.$root.actionDisplay("This set " + course.courseCode + " " + (this.course.isInternal ===
                    false ? "internal" : "public"),
                    "proceed", () => {
                        if (this.$root.progress.show == true) {
                            this.$root.bePatientSnackBar.show = true
                            return
                        }
                        this.$root.progress.show = true
                        fetch("{{ url_for('RESTful.course.patch') }}" + encodeURIComponent(this.course
                            .courseCode), {
                            method: 'PATCH',
                            cache: 'no-store',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({
                                isInternal: this.course.isInternal === false ? true : false
                            })
                        })
                            .then(response => {
                                try {
                                    return response.json()
                                } catch {
                                    this.$root.progress.show = false
                                    this.$root.errorDisplay({},
                                        'Unexpected error occured.')
                                }
                            })
                            .then(body => {
                                this.$root.progress.show = false
                                this.$root.responseSnackBar(body,
                                    'Update failed for unknown reason.',
                                    () => {
                                        this.$root.actionSnackBar.show = false
                                        let index = this.allCourses.map(c => c.courseCode).indexOf(course.courseCode)
                                        this.allCourses[index].isInternal = !this.allCourses[index].isInternal;
                                        this.search()
                                    })
                            })
                    })
            },
            courseAssignment(course) {
                if (this.$root.progress.show == true) {
                    this.$root.bePatientSnackBar.show = true
                    return
                }
                this.$root.progress.show = true
                this.course = course
                fetch("{{ url_for('RESTful.course.query') }}" + course.courseCode + "/instructors", {
                    method: 'GET',
                    cache: 'no-store',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                })
                    .then(response => {
                        try {
                            return response.json()
                        } catch {
                            this.$root.progress.show = false
                            this.$root.errorDisplay({},
                                'Unexpected error occured.')
                        }
                    })
                    .then(body => {
                        this.$root.progress.show = false
                        if (body.instructors) {
                            this.instructors = body.instructors
                            this.instructorDialogue = true

                        } else {
                            this.$root.errorDisplay(body,
                                'Unexpected error on getting instructor assignment information.')
                        }

                    })
            },
            // {% endif %}
            search() {
                if (this.searchText == "") {
                    this.courses = this.allCourses.slice()
                }
                else {
                    this.courses = this.allCourses.filter(c =>
                        c.courseCode.toLowerCase().includes(this.searchText.toLowerCase()) ||
                        c.courseName.toLowerCase().includes(this.searchText.toLowerCase())
                    )
                }
                // {% if request.blueprint == "instructor" or request.blueprint == "DLTC" %}
                if (Object.keys(this.filter).map(key => this.filter[key]).filter(value => value).length > 0)
                    this.courses = this.courses.filter(c =>
                        !(this.filter.public && c.isInternal) &&
                        !(this.filter.internal && !c.isInternal) &&
                        !(this.filter.joined && !c.isTeaching) &&
                        !(this.filter.notJoined && c.isTeaching)).slice()
                // {% endif %}
            }
        },
        mounted: function () {
            self = this
            this.$root.pageIntro = () => {
                console.log(self.$refs)
                self._tour = self.$shepherd({
                    useModalOverlay: true,
                    defaultStepOptions: {
                        classes: 'shadow-md bg-purple-dark',
                        scrollTo: true,
                        cancelIcon: {
                            enabled: true
                        },
                        canClickTarget: false,
                        buttons: [
                            {
                                text: 'Next',
                                action: () => self._tour.next()
                            }
                        ],
                    }
                })
                if (self.$refs["shepherd-newWorkspace"] && self.$refs["shepherd-newWorkspace"].length > 0) {
                    self._tour.addStep({
                        attachTo: { element: self.$refs["shepherd-newWorkspace"][0].$el, on: 'bottom' },
                        text: 'Click to create an empty workspace',
                    })
                }
                if (self.$refs["shepherd-recentVisit"] && self.$refs["shepherd-recentVisit"].length > 0) {
                    self._tour.addStep({
                        attachTo: { element: self.$refs["shepherd-recentVisit"][0].$el, on: 'bottom' },
                        text: "Click to enter a recently visited workspace",
                    })
                }
                if (self.$refs["shepherd-joinedFilter"]) {
                    self._tour.addStep({
                        attachTo: { element: self.$refs["shepherd-joinedFilter"].$el, on: 'bottom' },
                        text: "Defualt Filter, click to clear the criteria and see all public courses",
                    })
                }
                if (self.$refs["shepherd-joinNewCourse"]) {
                    self._tour.addStep({
                        attachTo: { element: self.$refs["shepherd-joinNewCourse"].$el, on: 'bottom' },
                        text: "Click to show all public courses",
                    })
                }
                console.log(self.$refs)
                if (self.$refs["shepherd-listCourseInstructor"] && self.$refs["shepherd-listCourseInstructor"].length > 0) {
                    self._tour.addStep({
                        attachTo: { element: self.$refs["shepherd-listCourseInstructor"][0].$el, on: 'bottom' },
                        text: "Click to assign/unassign instructors",
                    })
                }
                if (self.$refs["shepherd-manageVersions"] && self.$refs["shepherd-manageVersions"].length > 0) {
                    self._tour.addStep({
                        attachTo: { element: self.$refs["shepherd-manageVersions"][0].$el, on: 'bottom' },
                        text: "Click to enter the version management panel",
                    })
                }
                if (self.$refs["shepherd-approveUpdates"] && self.$refs["shepherd-approveUpdates"].length > 0) {
                    self._tour.addStep({
                        attachTo: { element: self.$refs["shepherd-approveUpdates"][0].$el, on: 'bottom' },
                        text: "Click to view update requests from instructors",
                    })
                }
                self._tour.start();
            }
            self.loadData()
            self.search()
        },
        template: '#content',
        delimiters: ['${', '}'],
    })
</script>
{% endblock %}