{% extends "layout.html" %}
{% import 'layout.html' as layout %}
{% block VueComponent %}
<v-card style="height: 100%; width: 100%;">
    <div style="height: 80vh; width: 90vw;">
        <div id="editor" style="height: 100%; width: 100%;"></div>
        <v-fab-transition>
            <v-btn color="primary" absolute bottom right fab @click="network.fit()">
                <v-icon>fit_screen</v-icon>
            </v-btn>
        </v-fab-transition>
    </div>
    <v-bottom-sheet v-model="tripleBottomSheet" inset persistent :hide-overlay="true" no-click-animation>
        <v-sheet>
            <v-form ref="tripleForm">
                <v-container>
                    <v-row>
                        <v-btn :ripple="false" color="error" plain block small @click="unselectAll" elevation="2">
                            dismiss
                            <v-icon right>
                                clear_all
                            </v-icon>
                        </v-btn>
                    </v-row>
                    <v-row>
                        <v-col>
                            <v-text-field v-model="h_name" :rules="nameRules" label="head entity"
                                @focus="nodeFieldFocus('head')" @input="nodeFieldChange"></v-text-field>
                        </v-col>
                        <v-col>
                            <v-select v-model="r_name" :rules="nameRules" :items="relationships" label="relationship"
                                @input="edgeFieldChange">
                            </v-select>
                        </v-col>
                        <v-col>
                            <v-text-field v-model="t_name" :rules="nameRules" label="tail entity"
                                @focus="nodeFieldFocus('tail')" @input="nodeFieldChange"></v-text-field>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-btn @click="createTriple" v-if="!isSelectingEdge">
                            Create link
                        </v-btn>
                        <v-btn color="error" @click="deleteTriple" v-else>
                            delete link
                        </v-btn>
                    </v-row>
                </v-container>
            </v-form>
        </v-sheet>
    </v-bottom-sheet>
</v-card>
{% endblock %}
{% block VueComponentScript %}
{{ layout.visCDN() }}
<script>
    /*https://github.com/almende/vis/issues/2567
    getter and setter proxy of vue will mess up the vis
    */
    nodes = new vis.DataSet([]);
    edges = new vis.DataSet([]);
    network = undefined
    function nodeColorFactory({ isTempory = undefined, isRoot = undefined, isNew = undefined }) {
        let color = {
            border: isTempory ? '#ff8787' : isNew ? '#7dffd6' : '#87a3ff',
            background: isTempory ? '#ffbfbf' : isNew ? '#bfffeb' : '#b6c9fc',
            highlight: {
                border: '#bf87ff',
                background: '#d7b6fc',
            }
        }
        return color
    }
    function edgeColorFactory({ isTempory = undefined, isNew = undefined }) {
        let nodeColor = nodeColorFactory({ isTempory: isTempory, isNew: isNew })
        let color = {
            color: nodeColor.border,
            highlight: nodeColor.highlight.border
        }
        return color
    }
    function nodeFactory({ name, imageURL, title = undefined, isTempory = undefined, isRoot = undefined, isNew = undefined }) {
        let node = {
            shape: imageURL ? 'circularImage' : 'dot',
            size: 30,
            id: name, label: name,
            image: imageURL ? imageURL : undefined,
            color: nodeColorFactory({ isTempory: isTempory, isRoot: isRoot, isNew: isNew }),
            fixed: isRoot ? true : undefined,
            title: title,
        }
        return node
    }
    function edgeFactory({ from, to, label, title = undefined, isTempory = undefined, isNew = undefined }) {
        let edge = {
            font: {
                size: 12,
                align: 'horizontal',
                vadjust: 0
            },
            length: 250,
            arrows: {
                to: true
            },
            smooth: false,
            from: from, to: to, label: label,
            id: from + '.' + label + '.' + to,
            dashed: isTempory ? 'dashed' : undefined,
            color: edgeColorFactory({ isTempory: isTempory, isNew: isNew }),
            title: title,
        }
        return edge

    }
    Vue.component('app-content', {
        data: () => ({
            relationships: [],
            nameRules: [v => !!v || 'Name is required',
            v => v.length > 3 && v.length < 101 || 'Name should be anything between 4 and 100 charactors',
            v => /^[a-zA-Z0-9\s]+$/.test(v) || 'Name can only contains alphanumeric characters and space.'
            ],
            h_name: '',
            t_name: '',
            r_name: '',
            nodes: null,
            edges: null,
            network: null,
            tripleBottomSheet: false,
            isSelectingEdge: false,
            focusing: ''
        }),
        methods: {
            loadData() {
                this.$root.progress.show = true
                fetch("{{ url_for('RESTful.draft') }}" + 'render/' + '{{ draftId }}', {
                    method: 'GET',
                    cache: 'no-store',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                })
                    .then(response => {
                        return response.json()
                    })
                    .then(body => {
                        this.$root.progress.show = false
                        if (body.draft && body.triples) {
                            let nodeSet = new Set()
                            nodeSet.add(body.draft.root)
                            body.triples.forEach(triple => {
                                edges.add(
                                    edgeFactory({
                                        from: triple.h_name,
                                        to: triple.t_name,
                                        label: triple.r_name
                                    }
                                    )
                                )
                                nodeSet.add(triple.h_name)
                                nodeSet.add(triple.t_name)
                            });
                            nodeSet.forEach(node => {
                                nodes.add(nodeFactory({ name: node }))
                            })
                            nodes.update(nodeFactory({
                                name: body.draft.root,
                                imageURL: body.draft.course.imageURL,
                                isRoot: true
                            }))
                            let data = {
                                nodes: nodes,
                                edges: edges,
                            };
                            let container = document.getElementById("editor");
                            let options = {
                                interaction: {
                                    selectConnectedEdges: false,
                                },
                                physics: {
                                    repulsion: {
                                        springLength: 800
                                    }
                                }
                            };
                            network = new vis.Network(container, data, options);
                            self = this
                            network.on('selectNode', (event) => {
                                if (self.isSelectingEdge) {
                                    self.clearForm()
                                }
                                if (!self.h_name || this.focusing == "head") {
                                    self.h_name = event.nodes[0]
                                }
                                else {
                                    self.t_name = event.nodes[0]
                                }
                                self.isSelectingEdge = false
                                self.tripleBottomSheet = true;
                            })
                            network.on('selectEdge', (event) => {
                                self.tripleBottomSheet = true;
                                edgeData = edges.get(event.edges[0])
                                console.log(edgeData)
                                self.h_name = edgeData.from
                                self.r_name = edgeData.label
                                self.t_name = edgeData.to
                                self.isSelectingEdge = true
                            })

                        }
                        else {
                            if (body.message) {
                                this.$root.errorSnackBar.message = body.message
                                this.$root.errorSnackBar.show = true
                            }
                            else {
                                this.$root.errorSnackBar.message = 'Unexpected error on getting draft information.'
                                this.$root.errorSnackBar.show = true
                            }
                        }
                    })
                fetch("{{ url_for('RESTful.listApprovedRelationships') }}", {
                    method: 'GET',
                    cache: 'no-store',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                })
                    .then(response => {
                        return response.json()
                    })
                    .then(body => {
                        this.$root.progress.show = false
                        if (body.relationships) {
                            this.relationships = body.relationships
                        }
                        else {
                            if (body.message) {
                                this.$root.errorSnackBar.message = body.message
                                this.$root.errorSnackBar.show = true
                            }
                            else {
                                this.$root.errorSnackBar.message = 'Unexpected error on getting relationship information.'
                                this.$root.errorSnackBar.show = true
                            }
                        }
                    })
            },
            createTriple() {
                if (this.$root.progress.show == true) {
                    this.$root.bePatientSnackBar.show = true
                    return
                }
                if (this.$refs.tripleForm.validate()) {
                    this.$root.progress.show = true
                    fetch("{{ url_for('RESTful.triple') }}" + '{{ draftId }}', {
                        method: 'PUT',
                        cache: 'no-store',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            h_name: this.h_name, r_name: this.r_name,
                            t_name: this.t_name,
                        })
                    })
                        .then(response => {
                            return response.json()
                        })
                        .then(body => {
                            this.$root.progress.show = false
                            if (body.triple) {
                                this.unselectAll()
                                let triple = body.triple
                                if (nodes.get({
                                    filter: (element =>
                                        element.id == triple.h_name
                                    )
                                }).length < 1) {
                                    nodes.add(nodeFactory({
                                        name: triple.h_name, isNew: true
                                    }))
                                }
                                if (nodes.get({
                                    filter: (element =>
                                        element.id == triple.t_name
                                    )
                                }).length < 1) {
                                    nodes.add(nodeFactory({
                                        name: triple.t_name, isNew: true
                                    }))
                                }
                                edges.add(edgeFactory({
                                    from: triple.h_name,
                                    to: triple.t_name,
                                    label: triple.r_name,
                                    isNew: true
                                }))
                            }
                            else {
                                if (body.message) {
                                    this.$root.errorSnackBar.message = body.message
                                    this.$root.errorSnackBar.show = true
                                }
                                else {
                                    this.$root.errorSnackBar.message = 'Unexpected error when creating triple.'
                                    this.$root.errorSnackBar.show = true
                                }
                            }
                        })
                }
            },
            deleteTriple() {
                if (this.$root.progress.show == true) {
                    this.$root.bePatientSnackBar.show = true
                    return
                }
                if (this.$refs.tripleForm.validate()) {
                    this.$root.progress.show = true
                    fetch("{{ url_for('RESTful.triple') }}" + '{{ draftId }}', {
                        method: 'DELETE',
                        cache: 'no-store',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            h_name: this.h_name, r_name: this.r_name,
                            t_name: this.t_name,
                        })
                    })
                        .then(response => {
                            return response.json()
                        })
                        .then(body => {
                            this.$root.progress.show = false
                            if (body.triple) {
                                this.unselectAll()
                                let triple = body.triple
                                edges.get({
                                    filter: (edge) => {
                                        return edge.from == triple.h_name &&
                                            edge.to == triple.t_name &&
                                            edge.label == triple.r_name
                                    }
                                }).forEach(removedEdge => {
                                    edges.remove(removedEdge.id)
                                })
                            }
                            else {
                                if (body.message) {
                                    this.$root.errorSnackBar.message = body.message
                                    this.$root.errorSnackBar.show = true
                                }
                                else {
                                    this.$root.errorSnackBar.message = 'Unexpected error when deleted triple.'
                                    this.$root.errorSnackBar.show = true
                                }
                            }
                        })
                }
            },
            unselectAll() {
                this.tripleBottomSheet = false
                this.clearForm()
                network.unselectAll()
            },
            clearForm() {
                this.h_name = ''
                this.r_name = ''
                this.t_name = ''
                this.$refs.tripleForm.resetValidation()
            },
            nodeFieldFocus(event) {
                this.focusing = event
                if (event == "head") {
                    network.selectNodes([this.h_name], false)
                }
                else {
                    network.selectNodes([this.t_name], false)
                }
            },
            nodeFieldChange(event) {
                network.selectNodes([event], false)
                this.isTripleExist()
            },
            edgeFieldChange(event) {
                this.isTripleExist()
            },
            isTripleExist() {
                network.unselectAll()
                if (this.h_name, this.r_name, this.t_name) {
                    let id = this.h_name + '.' + this.r_name + '.' + this.t_name
                    if (edges.get(id).length > 0) {
                        network.selectEdges([id])
                        this.isSelectingEdge = true
                    }
                }
                else {

                }
            }
        },
        created: function () {
            this.loadData()

        },
        template: '#content',
        delimiters: ['${', '}'],
    })
</script>
{% endblock %}