{% extends "layout.html" %}
{% import 'layout.html' as layout %}
{% block VueComponent %}
<v-card style="height: 100%; width: 100%;">
    <div id="cy" style="height: 100%; width: 100%;"></div>
    <v-menu v-model="showMenu" :position-x="cursor_x" :position-y="cursor_y" absolute>
        <v-list>
            <v-list-item>
                <v-list-item-title>test</v-list-item-title>
            </v-list-item>
        </v-list>
    </v-menu>
</v-card>
{% endblock %}
{% block VueComponentScript %}
{{ layout.cytoscapeCDN() }}
<script>
    cy = cytoscape({
        style: []
    })

    function edgeIdFromNames(h_name, r_name, t_name) {
        return h_name + '.' + r_name + '.' + t_name
    }

    function nodeColorFactory({
        isTempory = undefined,
        isRoot = undefined,
        isNew = undefined
    }) {
        let color = {
            border: isTempory ? '#ff8787' : isNew ? '#47f5be' : '#87a3ff',
            background: isTempory ? '#ffbfbf' : isNew ? '#bfffeb' : '#b6c9fc',
            highlight: {
                border: isTempory ? '#ff4d4d' : '#bf87ff',
                background: isTempory ? '#ff8787' : '#d7b6fc',
            }
        }
        return color
    }

    function edgeColorFactory({
        isTempory = undefined,
        isNew = undefined
    }) {
        let nodeColor = nodeColorFactory({
            isTempory: isTempory,
            isNew: isNew
        })
        let color = {
            color: nodeColor.border,
            highlight: nodeColor.highlight.border
        }
        return color
    }

    function nodeFactory({
        name,
        imageURL,
        title = undefined,
        isTempory = undefined,
        isRoot = undefined,
        isNew = undefined
    }) {
        let node = {
            shape: imageURL ? 'circularImage' : 'dot',
            size: 30,
            id: name,
            label: name,
            image: imageURL ? imageURL : undefined,
            color: nodeColorFactory({
                isTempory: isTempory,
                isRoot: isRoot,
                isNew: isNew
            }),
            fixed: isRoot ? true : undefined,
            title: title,
        }
        return node
    }

    function edgeFactory({
        from,
        to,
        label,
        title = undefined,
        isTempory = undefined,
        isNew = undefined
    }) {
        let edge = {
            font: {
                size: 12,
                align: 'horizontal',
                vadjust: 0
            },
            length: 250,
            arrows: {
                to: true
            },
            smooth: false,
            from: from,
            to: to,
            label: label,
            id: edgeIdFromNames(from, label, to),
            dashed: isTempory ? 'dashed' : undefined,
            color: edgeColorFactory({
                isTempory: isTempory,
                isNew: isNew
            }),
            title: title,
        }
        return edge

    }
    Vue.component('app-content', {
        data: () => ({
            showMenu: false,
            cursor_x: undefined,
            cursor_y: undefined,
        }),
        methods: {
            loadData() {
                
            },
        },
        mounted: function () {
            cy.mount(document.getElementById("cy"))
            self = this
            cy.on('cxttapend', (event) => {
                console.log(event)
                if (event.target == event.cy) return
                self.showMenu = true
                self.cursor_x = event.originalEvent.clientX
                self.cursor_y = event.originalEvent.clientY
            })
            this.loadData()
        },
        template: '#content',
        delimiters: ['${', '}'],
    })
</script>
{% endblock %}