{% extends "layout.html" %}
{% import 'layout.html' as layout with context %}
{% block VueComponent %}
<div>
    <v-container id="app">
        <v-row>
            <v-col>
                <v-card-title>
                    {{ courseCode }}<br>
                    course plan
                </v-card-title>
            </v-col>
            <v-col v-show="graph">
                <v-card-text>
                    <v-btn v-show="workspace == null || graph?.deltaGraphId != workspace?.deltaGraphId" small text
                        :href="'{{url_for('instructor.workspace')}}' + graph?.deltaGraphId">open exposed
                        graph in ${workspace?'another':'the'} editor<v-icon>open_in_new</v-icon>
                    </v-btn>
                </v-card-text>
            </v-col>
            <v-col>
                <v-card-subtitle>
                    ${changes?changes+' unsave changes':''}
                    <v-icon v-if="changes">sync</v-icon>
                    ${details == null?'right-click on item for details' :''}
                </v-card-subtitle>
            </v-col>
        </v-row>
        <v-row>
            <v-col cols="auto">
                <v-btn @click="constructTimetable(triples,[],true)">recompute</v-btn>
            </v-col>
            <v-col cols="auto" v-if="preview">
                <v-btn color="success" @click="submitTable()">submit</v-btn>
            </v-col>
            <v-col cols="auto" v-if="preview">
                <v-btn color="error" @click="loadData()">undo</v-btn>
            </v-col>
        </v-row>
        <v-row>
            <v-col>

            </v-col>
            <v-col cols="auto">
                <kcube-schedule-item ref="root" root v-if="tree" :node="tree"
                    @showDetails="showDetails($event[0],$event[1])" @change="changes += $event">
                </kcube-schedule-item>
            </v-col>
            <v-col>

            </v-col>
        </v-row>
    </v-container>
    <v-menu v-model="showMenu" :position-x="x" :position-y="y" absolute offset-y>
        <v-card>
            <v-card-title>
                Entity ID: ${ details?.name }
            </v-card-title>
            <v-card-subtitle>
                description: ${ details?.desc }
            </v-card-subtitle>
            <v-card-actions>
                <v-btn text color="primary" v-if="inIframe" @click="postMessage('open-entity', details, '*')">
                    open entity editor
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-menu>
</div>
{% endblock %}

{% block VueComponentScript %}
<script type="text/x-template" id="kcube-schedule-item">
<v-card st v-ripple="{ class: 'primary--text' }" style="float:left; margin:5px" @dragstart.self="dragging=true"
    @dragend.self="dragging=false" :data-name="node.name" :data-desc="node.desc" @mouseover="hovering = true"
    @mouseleave="hovering = false" @contextmenu.stop="$emit('showDetails',[$event,node])"
    v-bind:id="'entity:'+node.name">
    <v-list-item v-if="!root" v-show="!showAction" @dragover="showAction = dragging?false:true">
        <v-icon small class="handle">drag_indicator</v-icon>
        <v-text-field background-color="transparent" dense hide-details flat solo v-model="node.desc"
            @change="patchEntity(node)"></v-text-field>
        <v-list-item-action style="margin: unset" v-show="hovering && !dragging">
            <v-btn icon x-small @click="climb(-1)" v-show="node.week > 1">
                <v-icon x-small>arrow_drop_up</v-icon>
            </v-btn>
            <v-btn icon x-small @click="climb(1)" v-show="node.week < weekInSemester">
                <v-icon x-small>arrow_drop_down</v-icon>
            </v-btn>
        </v-list-item-action>
    </v-list-item>
    <v-list-item v-if="!root" v-show="showAction" @dragleave="showAction=false">
        <v-row no-gutters>
            <v-col>
                <v-icon small>add</v-icon>
            </v-col>
            <v-col>
                <draggable v-model="node.schedule[node.week]" :key="keys[node.week]"
                    :group="{name:'schedule', put: true}" handle=".handle" @add="add($event, node.week)"
                    @change="render($event); showAction=false"
                    style="height: 100%; background: content-box grey; overflow: hidden; width: 186px" animation="200" @dragover="showAction = dragging?false:true"
                    swapThreshold="0.6">
                    <kcube-schedule-item ref="children" v-for="child of node.schedule[node.week]" :node="child"
                        :key="child.name" @showDetails="$emit('showDetails',$event)" @change="$emit('change',$event)">
                    </kcube-schedule-item>
                </draggable>
            </v-col>
        </v-row>
    </v-list-item>
    <v-row v-for="week in weeks" v-if="!root || node.schedule[week].length > 0" v-show="!dragging" no-gutters>
        <v-col v-if="!root || node.schedule[week].filter(child=> child.children.length == 0).length > 0" cols="auto">
            <v-list-item style="padding:unset" dense>week ${week} </v-list-item>
        </v-col>
        <v-col>
            <draggable v-model="node.schedule[week]" :key="keys[week]" :group="{name:'schedule', put: true}"
                handle=".handle" @add="add($event, week)" @change="render($event)" @dragover="showAction = dragging?false:true"
                style="height: 100%; background: content-box grey; overflow: hidden" animation="200"
                swapThreshold="0.6">
                <kcube-schedule-item ref="children" v-for="child of node.schedule[week]" :node="child" :key="child.name"
                    @showDetails="$emit('showDetails',$event)" @change="$emit('change',$event)">
                </kcube-schedule-item>
            </draggable>
        </v-col>
    </v-row>
</v-card>
</script>
<script>
    Vue.component('kcube-schedule-item', {
        props: {
            node: {
                type: Object,
                required: true
            },
            root: Boolean
        },
        // watch: {
        //     node: function (newVal, oldVal) {
        //         this.render()
        //     }
        // },
        data: () => ({
            parentHovered: false,
            showAction: false,
            dragging: false,
            hovering: false,
            weekInSemester: weekInSemester,
            weeks: [],
            keys: {}
        }),
        methods: {
            add(event, week) {
                let entity = {
                    name: event.item.dataset.name,
                    desc: event.item.dataset.desc,
                    week: week,
                }
                this.patchEntity(entity)
                if (workspaceDeltagraphId)
                    fetch("{{ url_for('RESTful.triple.put') }}" + workspaceDeltagraphId, {
                        method: 'PUT',
                        cache: 'no-store',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            h_name: entity.name,
                            r_name: tree_edge_name,
                            t_name: this.node.name,
                            r_value: true,
                            exclusive_head: true,
                        })
                    })
                        .then(response => {
                            try {
                                return response.json()
                            } catch {
                                this.$root.progress.show = false
                                this.$root.errorDisplay({},
                                    'Unexpected error occured.')
                            }
                        })
                        .then(body => {
                            if (body.triple) {
                                window.parent.postMessage({
                                    message: 'coursePlan-exclusiveHeadTriple',
                                    payload: body.triple
                                }, '*')
                            } else {
                                this.$root.errorDisplay(body,
                                    'Unexpected error when deleted triple.')
                            }
                        })
            },
            patchEntity(entity) {
                this.$emit('change', 1)
                fetch(
                    "{{ url_for('RESTful.activity.post', courseCode = courseCode) | safe}}" +
                    encodeURIComponent(
                        entity.name), {
                    method: 'POST',
                    cache: 'no-store',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        desc: entity.desc,
                        week: entity.week
                    })
                })
                    .then(response => {
                        try {
                            return response.json()
                        } catch {
                            this.$root.progress.show = false
                            this.$root.errorDisplay({},
                                'Unexpected error occured.')
                        }
                    })
                    .then(body => {
                        this.$root.progress.show = false
                        if (body.activity) {
                            this.$emit('change', -1)
                            try {
                                if (window.self !== window.top) {
                                    throw ''
                                }
                            } catch (e) {
                                let { _vue, parent, children, schedule, ...orphan } = entity
                                window.parent.postMessage({
                                    message: 'update-entity',
                                    payload: orphan
                                }, '*')
                            }
                        } else {
                            this.$root.errorDisplay(body,
                                'Unexpected error on setting courses plan information.')
                        }
                    })

            },
            render() {
                console.log(this.node.name)
                if (this.node.schedule) {
                    this.weeks = []
                    let week = Object.keys(this.node.schedule).filter(week => this.node.schedule[week].length > 0).map(week => Number(week))
                    if (week.length > 0) {
                        let max = Math.max(...week)
                        let min = Math.min(...week)
                        this.weeks = [...Array(max - min + 1).keys()].map(week => week + min)
                    }
                    this.keys = {}
                    for (const week of this.weeks) {
                        this.keys[week] = week + ';'
                        if (this.node.schedule[week] && this.node.schedule[week].length > 0) {
                            this.keys[week] += this.node.schedule[week].map(node => node.name).join(';')
                        }
                        else {
                            if (!(week in this.node.schedule)) this.node.schedule[week] = []
                        }
                    }
                    if (!(this.node.week in this.node.schedule)) this.node.schedule[this.node.week] = []
                }
            },
            climb(offset) {
                let newWeek = this.node.week + offset
                if (newWeek > 0 && newWeek <= weekInSemester) {
                    let { _vue, parent, children, schedule, ...orphan } = this.node
                    orphan.week = newWeek
                    this.node.parent._vue.patchEntity(orphan)
                    this.node.parent._vue.updateActivity(orphan)
                }
            },
            updateActivity(activity) {
                let foundChild = Object.keys(this.node.schedule).reduce((previous, current) => {
                    return previous.concat(this.node.schedule[current])
                }, []).find(child => child.name == activity.name)
                if (foundChild) {
                    let index = this.node.schedule[foundChild.week].findIndex(sibling => sibling.name == foundChild.name)
                    let newWeek = Number(activity.week)
                    this.node.schedule[foundChild.week].splice(index, 1)
                    if (!(newWeek in this.node.schedule)) this.node.schedule[newWeek] = []
                    this.node.schedule[newWeek].push(foundChild)
                    foundChild.desc = activity.desc
                    foundChild.week = newWeek
                    this.render()
                    setTimeout(() => {
                        let el = this.$refs.children.find(child => child.node.name == activity.name).$el
                        el.scrollIntoView({
                            behavior: "smooth",
                            block: "center"
                        })
                        let ev = new Event("mousedown")
                        let offset = el.getBoundingClientRect()
                        ev.clientX = offset.left + offset.width / 2
                        ev.clientY = offset.top + offset.height / 2
                        el.dispatchEvent(ev)
                        this.$nextTick(function () {
                            el.dispatchEvent(new Event("mouseup"))
                        })
                    }, 500)
                }
                else {
                    if (this.$refs.children)
                        this.$refs.children.forEach(child => child.updateActivity(activity))
                }
            },
        },
        mounted: function () {
            console.log("mount " + this.node.name)
            this.node._vue = this
            this.render()
            this.$nextTick(() =>
                this.node.children.filter(node => node.isAllocatingWeek).forEach(node => this.patchEntity(node)))
        },
        template: '#kcube-schedule-item',
        delimiters: ['${', '}'],
    })
</script>
<style>
    .v-text-field input,
    .v-list-item {
        font-size: small;
    }

    .v-list-item {
        padding: 0 0 0 8px;
    }

    #sortable>div {
        float: left;
    }
</style>
<script>
    let tree_edge_name = "Subtopic in"
    let workspaceDeltagraphId
    let weekInSemester = 13
    Vue.component('app-content', {
        data: () => ({
            tree: null,
            changes: 0,
            x: null,
            y: null,
            details: null,
            showMenu: false,
            inIframe: false,
            preview: false,
            graph: null,
            workspace: null,
            activityWeekRules: [v => !!v || 'week is required',
            v => (v && v > 0 && v < 14) ||
                'Week should be between 1 and 13',
            ],
        }),

        methods: {
            loadData() {
                this.$root.progress.show = true
                let activityPromise = fetch(
                    "{{ url_for('RESTful.activity.query', ofUser=True, courseCode = courseCode) | safe}}", {
                    method: 'GET',
                    cache: 'no-store',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                    .then(response => {
                        try {
                            return response.json()
                        } catch {
                            this.$root.progress.show = false
                            this.$root.errorDisplay({},
                                'Unexpected error occured.')
                        }
                    })
                    .then(body => {
                        this.$root.progress.show = false
                        if (body.activities) {
                            return body.activities
                        } else {
                            this.$root.errorDisplay(body,
                                'Unexpected error on getting courses plan information.')
                        }
                    })
                let graphPromise = fetch(
                    "{{ url_for('RESTful.triple.getCourse', courseCode = courseCode, userId = USER.userId) }}", {
                    method: 'GET',
                    cache: 'no-store',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                    .then(response => {
                        try {
                            return response.json()
                        } catch {
                            this.$root.progress.show = false
                            this.$root.errorDisplay({},
                                'Unexpected error occured.')
                        }
                    })
                    .then(body => {
                        this.$root.progress.show = false
                        if (body.course && body.triples) {
                            this.graph = body.graph
                            workspaceDeltagraphId = this.graph.deltaGraphId
                            return body.triples
                        } else {
                            this.$root.errorDisplay(body,
                                'Unexpected error on getting courses information.')
                        }
                    })
                return Promise.all([graphPromise, activityPromise]).then(data => {
                    tripleFilter = triple => triple.r_name == tree_edge_name && triple.r_value == true
                    let triples = data[0] ? data[0].filter(tripleFilter) : []
                    let activities = data[1]
                    this.triples = triples
                    this.activities = activities
                    this.constructTimetable(triples, activities)

                })
            },
            constructTimetable(triples, activities, preview = false) {
                function traversal(name) {
                    let activity = activities.filter(a => a.name == name)
                    let node = {
                        name: name,
                        desc: activity.length > 0 ? activity[0].desc : name,
                        week: activity.length > 0 ?
                            (Number.isInteger(Number(activity[0].week)) ? Number(activity[0].week) : null) : null,
                        children: []
                    }
                    triples = triples.filter(triple => {
                        if (triple.t_name == name) {
                            node.children.push(triple.h_name)
                            return false
                        }
                        return true
                    })
                    triples = triples.filter(triple => {
                        if (node.children.includes(triple.h_name)) {
                            return false
                        }
                        return true
                    })
                    node.numItem = 1
                    if (node.children.length == 0) {
                        node.numUnassignedItem = node.week != null ? 0 : 1
                    }
                    else {
                        node.children = node.children.map(child => traversal(child))
                        node.children = node.children.sort((childA, childB) => childB.numItem - childA.numItem)
                        node.children.forEach(child => child.parent = node)
                        node.numUnassignedItem = node.children.map(child => child.numUnassignedItem).reduce((previous, current) => previous + current)
                        node.numItem = node.children.map(child => child.numItem).reduce((previous, current) => previous + current)

                    }
                    return node
                }
                this.tree = traversal("{{courseCode}}")
                let totalItem = this.tree.numUnassignedItem
                function allocate(node, slot) {
                    if (node.week === null) {
                        node.isAllocatingWeek = true
                        node.week = Math.min(Math.round(slot * weekInSemester) + 1, weekInSemester)
                        if (node.children.length == 0) {
                            slot = slot + 1 / totalItem
                        }
                    }
                    node.children.forEach(child => {
                        slot = allocate(child, slot)
                    })
                    node.schedule = node.children.reduce(
                        (previous, child) => {
                            if (previous[child.week]) {
                                previous[child.week].push(child)
                            }
                            else {
                                previous[child.week] = [child]
                            }
                            return previous
                        }, Object.create(null))
                    return slot
                }
                allocate(this.tree, 0)
                console.log(this.tree)
            },
            submitTable() {// redo
                this.preview = false
                for (week in this.plan) {
                    for (index in this.plan[week]) {
                        if (this.plan[week][index].week) {

                        } else {
                            this.dropEntity({
                                newIndex: index
                            }, week)
                        }
                    }
                }
            },
            setActivity(event) {
                if (this.$refs.activityControl.validate()) {
                    if (this.$root.progress.show == true) {
                        this.$root.bePatientSnackBar.show = true
                        return
                    }
                    this.$root.progress.show = true
                    this.$root.customizedFetch(
                        "{{ url_for('RESTful.activity.post', courseCode = courseCode) | safe}}" +
                        encodeURIComponent(
                            this.details.name), {
                        method: 'POST',
                        cache: 'no-store',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            desc: this.details.desc,
                            week: this.details.week
                        })
                    }, () => { this.syned = false })
                        .then(response => {
                            try {
                                return response.json()
                            } catch {
                                this.$root.progress.show = false
                                this.$root.errorDisplay({},
                                    'Unexpected error occured.')
                            }
                        })
                        .then(body => {
                            this.$root.progress.show = false
                            if (body.activity) {
                                body.activity.name = this.details.name
                                this.$refs.root.updateActivity(body.activity)
                            } else {
                                throw new Error(body.message)
                            }
                        })
                }
            },
            showDetails(event, entity) {
                event.preventDefault()
                this.x = event.clientX
                this.y = event.clientY
                let { _vue, parent, children, schedule, ...orphan } = entity
                this.details = orphan
                delete this.details._vue
                this.$nextTick(() => {
                    this.showMenu = true
                })
            },
            postMessage(message, payload, domain) {
                window.parent.postMessage({
                    message: message,
                    payload: payload
                }, domain)

            }
        },
        mounted: function () {
            window.addEventListener('beforeunload', (e) => {
                if (this.changes) {
                    e.preventDefault()
                    e.returnValue = this.changes + 'changes are still uploading';
                }
            });
            try {
                if (window.self !== window.top) {
                    throw ''
                }
            } catch (e) {
                this.inIframe = true
                window.parent.addEventListener('beforeunload', (e) => {
                    if (this.changes) {
                        e.preventDefault()
                        e.returnValue = this.changes + 'changes are still uploading';
                    }
                });
            }
            let loadDataPromise = this.loadData()
            window.onmessage = (e) => {
                if (e.data) {
                    const {
                        message,
                        payload
                    } = e.data

                    if (message == "graphEditor-activity") {
                        this.$refs.root.updateActivity(payload)
                    } else if (message == "graphEditor-workspace") {
                        this.workspace = payload

                    } else if (message == "graphEditor-exposureToggle") {
                        this.loadData()

                    }
                }
            }
            window.parent.postMessage({
                message: 'coursePlan-mount'
            }, '*')
            this.$root.$on('post-activities', function (activities) {

            })

        },
        template: '#content',
        delimiters: ['${', '}'],
    })

    function updateItem(item) {
        app.$emit('post-activity', item)
    }
</script>
{% endblock %}