{% extends "layout.html" %}
{% import 'layout.html' as layout %}
{% block VueComponent %}
<v-container dense style="height: calc(100vh - 64px); width: calc(100vw - 50px); margin: 0; max-width: none;">
    <v-row dense style="width: 100%;">
        <v-col>
            <v-form dense ref="control">
                <v-text-field dense v-model="tag" :rules="tagRules" label="tag for new version" required
                    :disabled=isTrival>
                </v-text-field>
            </v-form>
        </v-col>
        <v-col dense style="text-align: center;">
            <v-btn block @click="submit()" :disabled=isTrival>
                ${isTrival?'No meaningful edge was found':'submit'}
            </v-btn>
        </v-col>
    </v-row>
    <v-row dense style="width: 100%;">
        <v-col dense>
            <v-btn @click="fit()">
                <v-icon>
                    fit_screen
                </v-icon>
            </v-btn>
        </v-col>
        <v-col dense>
            <v-expansion-panels>
                <v-expansion-panel>
                    <v-expansion-panel-header>
                        Textual import
                    </v-expansion-panel-header>
                    <v-expansion-panel-content>
                        <v-textarea @change="update()" v-model="tripleString" label='json array' persistent-placeholder
                            :placeholder="'[{&quot;h_name&quot;: &quot;COMP1&quot;, &quot;r_name&quot;: &quot;Has Subtopic&quot;, &quot;t_name&quot;:&quot;Cyber security&quot;, &quot;r_value&quot;:false }]\n triple with undefined r_value is considered as a true edge.'">

                        </v-textarea>
                    </v-expansion-panel-content>
                </v-expansion-panel>
            </v-expansion-panels>
        </v-col>
    </v-row>
    <v-row dense style="height: 90%; width: 100%;">
        <v-col dense style="height: 100%">
            <v-card style="height: 100%; width: 100%;">
                <v-container dense style="height: 100%; width: 100%;">
                    <v-row dense>
                        <v-col dense style="text-align: center;">
                            Original graph - ${graph?.tag} (${graph?.labels?.join(', ')})
                        </v-col>
                    </v-row>
                    <v-row dense style="height: 100%; width: 100%;">
                        <div id="preview" style="height: 100%; width: 100%;"></div>
                    </v-row>
                </v-container>
            </v-card>
        </v-col>
        <v-col dense style="height: 100%">
            <v-card style="height: 100%; width: 100%;">
                <v-container dense style="height: 100%; width: 100%;">
                    <v-row dense>
                        <v-col dense style="text-align: center;">
                            Update preview
                        </v-col>
                    </v-row>
                    <v-row dense style="height: 100%; width: 100%;">
                        <div id="subject" style="height: 100%; width: 100%;"></div>
                    </v-row>
                </v-container>
            </v-card>
        </v-col>
    </v-row>
</v-container>
{% endblock %}
{% block VueComponentScript %}
{{ layout.cytoscapeCDN() }}
<script>
    previewCyOption = {
        style: [{
                selector: 'node',
                style: {
                    'label': 'data(name)',
                    'font-size': 8,
                    'background-image': 'data(imageURL)',
                    'background-fit': 'cover'
                }
            },
            {
                selector: 'edge',
                style: {
                    'label': 'data(name)',
                    'target-arrow-shape': 'triangle',
                    'curve-style': 'bezier',
                    'font-size': 8,
                    'text-rotation': 'autorotate',
                    'line-style': 'solid',
                    'opacity': 0
                }
            }, {
                selector: 'edge[preview_value != "false"][original_value = "true"]',
                style: {
                    'line-style': 'solid',
                    'width': 1,
                    'opacity': 0.25
                }
            }, {
                selector: 'edge[preview_value != "true"][original_value = "false"]',
                style: {
                    'line-gradient-stop-colors': 'grey white white grey',
                    'line-gradient-stop-positions': '10% 10% 77.5% 77.5%',
                    'line-fill': 'linear-gradient ',
                    'width': 1,
                    'opacity': 0.25
                }
            },
            {
                selector: 'edge[preview_value = "false"][original_value = "true"]',
                style: {
                    'line-gradient-stop-colors': 'grey white white grey',
                    'line-gradient-stop-positions': '10% 10% 77.5% 77.5%',
                    'line-fill': 'linear-gradient ',
                    'width': 5,
                    'opacity': 1
                }
            },
            {
                selector: 'edge[preview_value = "true"][original_value = "false"]',
                style: {
                    'width': 5,
                    'opacity': 1
                }
            },
            {
                selector: 'edge[preview_value = "true"][original_value = "undefined"]',
                style: {
                    'width': 5,
                    'opacity': 1
                }
            }
        ],
        wheelSensitivity: 0.15,
        boxSelectionEnabled: false,
        autounselectify: true
    }
    subjectCyOption = {
        style: [{
                selector: 'node',
                style: {
                    'label': 'data(name)',
                    'font-size': 8,
                    'background-image': 'data(imageURL)',
                    'background-fit': 'cover'
                }
            },
            {
                selector: 'edge',
                style: {
                    'label': 'data(name)',
                    'target-arrow-shape': 'triangle',
                    'curve-style': 'bezier',
                    'font-size': 8,
                    'text-rotation': 'autorotate',
                    'line-style': 'solid',
                    'opacity': 0
                }
            }, {
                selector: 'edge[original_value = "true"]',
                style: {
                    'line-style': 'solid',
                    'width': 1,
                    'opacity': 1
                }
            }, {
                selector: 'edge[original_value = "false"]',
                style: {
                    'line-gradient-stop-colors': 'grey white white grey',
                    'line-gradient-stop-positions': '10% 10% 77.5% 77.5%',
                    'line-fill': 'linear-gradient ',
                    'width': 1,
                    'opacity': 1
                }
            }
        ],
        wheelSensitivity: 0.15,
        boxSelectionEnabled: false,
        autounselectify: true

    }
    previewCy = cytoscape(previewCyOption)
    subjectCy = cytoscape(subjectCyOption)
    concentricLayoutOptions = {
        name: 'concentric',
    }
    coseLayoutOptions = {
        name: 'cose',
        padding: document.documentElement.clientHeight * 0.15,
        fit: true,
        idealEdgeLength: function (edge) {
            return 64;
        },
        edgeElasticity: function (edge) {
            return 128;
        },
        gravity: 0.15

    }

    function nodeFactory(name) {
        let output = {
            group: 'nodes',
            data: {
                id: name,
                name: name
            },
            position: {
                x: 0,
                y: 0
            },
            pannable: true,
        }
        return output
    }

    function previewEdgeFactory(edge) {
        let output = {
            group: 'edges',
            data: {
                source: edge.h_name,
                target: edge.t_name,
                name: edge.r_name,
                id: edgeIdFromNames(edge.h_name, edge.r_name, edge.t_name),
                preview_value: (edge.r_value == undefined || edge.r_value) ? 'true' : 'false',
                original_value: 'undefined',
            }
        }
        return output

    }

    function originalEdgeFactory(edge) {
        let output = {
            group: 'edges',
            data: {
                source: edge.h_name,
                target: edge.t_name,
                name: edge.r_name,
                id: edgeIdFromNames(edge.h_name, edge.r_name, edge.t_name),
                preview_value: 'undefined',
                original_value: edge.r_value ? 'true' : 'false',
            }
        }
        return output

    }

    function edgeIdFromNames(h_name, r_name, t_name) {

        return h_name + '.' + r_name + '.' + t_name
    }

    Vue.component('app-content', {
        data: () => ({
            relationships: [],
            tag: '',
            tagRules: [v => !!v || 'Tag is required',
                v => v.length > 3 && v.length < 101 ||
                'Tag should be anything between 4 and 100 charactors',
                v => /^[a-zA-Z0-9\s.]+$/.test(v) ||
                'Tag can only contains alphanumeric characters, dot(.) and space.'
            ],
            options: [],
            isTrival: false,
            graph: undefined,
            visibility: '',
            greaterVisibility: [],
            proceeded: false,
            confirmed: false,
            tripleString: '',
        }),
        methods: {
            loadData() {
                this.$root.progress.show = true
                let graphPromise = fetch(
                        "{{ url_for('RESTful.graph.get', deltaGraphId=deltaGraphId) }}", {
                            method: 'GET',
                            cache: 'no-store',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                        })
                    .then(response => {
                        try {
                            return response.json()
                        } catch {
                            this.$root.progress.show = false
                            this.$root.errorDisplay({},
                                'Unexpected error occured.')
                        }
                    })
                    .then(body => {
                        if (body.graph && body.triples) {
                            this.graph = body.graph
                            previewCy.add(nodeFactory(body.graph.deltaGraphId.split('.')[0])).data(
                                'imageURL',
                                body.graph.imageURL,
                            )
                            body.triples.forEach(triple => {
                                [triple.h_name, triple.t_name].forEach(name => {
                                    if (previewCy.getElementById(name).length == 0) {
                                        previewCy.add(nodeFactory(name))
                                    }
                                })
                                let edge = previewCy.getElementById(edgeIdFromNames(triple.h_name,
                                    triple
                                    .r_name,
                                    triple.t_name))[0]
                                if (edge) {
                                    edge.data({
                                        original_value: triple.r_value ? 'true' : 'false'
                                    })
                                } else {
                                    previewCy.add(originalEdgeFactory(triple))
                                }
                            })
                            if (previewCy.edges(
                                    '[preview_value = "false"][original_value = "true"],' +
                                    '[preview_value = "true"][original_value = "false"],' +
                                    '[preview_value = "true"][original_value = "undefined"]'
                                ).length == 0) {
                                this.isTrival = true
                            }
                            this.rootName = body.graph.deltaGraphId.split('.')[0]
                            let previewCyDijkstra = previewCy.elements().dijkstra('node[id = "' + this
                                .rootName +
                                '"]')
                            previewCy.elements().style('visibility', 'hidden')
                            let previewLayout = previewCy.layout({
                                ...concentricLayoutOptions,
                                // concentric: function (node) {
                                //     return previewCyDijkstra.distanceTo(node) * -1
                                // }
                            })
                            previewLayout.one('layoutstop', function () {
                                let previewLayout = previewCy.layout(coseLayoutOptions)
                                previewLayout.one('layoutstop', function () {
                                    subjectCy.add(previewCy.elements().clone())
                                    subjectCy.fit(coseLayoutOptions.padding)
                                    previewCy.elements().style('visibility', 'visible')
                                })
                                previewLayout.run()
                            })
                            previewLayout.run()

                        } else {
                            this.$root.errorDisplay(body,
                                'Unexpected error on getting draft information.')
                        }
                    })
                let relationshipPromise =
                    fetch("{{ url_for('RESTful.relationship.query', approved=True) }}", {
                        method: 'GET',
                        cache: 'no-store',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                    })
                    .then(response => {
                        try {
                            return response.json()
                        } catch {
                            this.$root.progress.show = false
                            this.$root.errorDisplay({},
                                'Unexpected error occured.')
                        }
                    })
                    .then(body => {
                        if (body.relationships) {
                            this.relationships = body.relationships
                        } else {
                            this.$root.errorDisplay(body,
                                'Unexpected error on getting relationship information.')
                        }
                    })

                Promise.all([graphPromise, relationshipPromise]).then(_ => {
                    this.$root.progress.show = false
                })
            },
            fit() {
                previewCy.fit()
                subjectCy.fit()
            },
            submit() {
                if (!this.$refs.control.validate()) {
                    return
                }
                if (this.$root.progress.show == true) {
                    this.$root.bePatientSnackBar.show = true
                    return
                }
                if (this.isTrival) {
                    this.$root.errorDisplay({},
                        "You can't submit a trival update")
                    return
                }
                this.$root.progress.show = true
                let userTriples = JSON.parse(this.tripleString.trim())
                let acceptedTriple = []
                userTriples.forEach(triple => {
                    if (!triple.h_name instanceof String ||
                        !triple.t_name instanceof String ||
                        !triple.r_name instanceof String)
                        return;
                    if (!this.relationships.includes(triple.r_name)) {
                        return
                    }
                    acceptedTriple.push(triple)
                })
                let body = {
                    tag: this.tag,
                    triples: JSON.stringify(acceptedTriple),

                }
                fetch('{{ url_for("RESTful.workspace.post", deltaGraphId=deltaGraphId)}}', {
                        method: 'POST',
                        cache: 'no-store',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(body)
                    })
                    .then(response => {
                        try {
                            return response.json()
                        } catch {
                            this.$root.progress.show = false
                            this.$root.errorDisplay({},
                                'Unexpected error occured.')
                        }
                    })
                    .then(body => {
                        this.$root.progress.show = false
                        this.$root.responseSnackBar(body, 'Unexpected error on importing triples.',
                            () => {
                                window.location.replace("{{ url_for('instructor.workspace')}}" + body
                                    .deltaGraphId)
                            })
                    })
            },
            update() {
                try {
                    let triples = JSON.parse(this.tripleString.trim())
                    previewCy.edges().forEach(edge => {
                        edge.data('preview_value', 'undefined')
                    })
                    subjectCy.elements().remove()
                    let unacceptedRelationship = []
                    triples.forEach(triple => {
                        if (!triple.h_name instanceof String ||
                            !triple.t_name instanceof String ||
                            !triple.r_name instanceof String)
                            return;
                        if (!this.relationships.includes(triple.r_name)) {
                            unacceptedRelationship.push(triple.r_name)
                            return
                        }
                        [triple.h_name, triple.t_name].forEach(name => {
                            if (previewCy.getElementById(name).length == 0) {
                                previewCy.add(nodeFactory(name))
                            }
                        })
                        let edge = previewCy.getElementById(edgeIdFromNames(triple.h_name,
                            triple
                            .r_name,
                            triple.t_name))[0]
                        if (edge) {
                            edge.data({
                                preview_value: (triple.r_value == undefined || triple.r_value) ?
                                    'true' : 'false'
                            })
                        } else {
                            previewCy.add(previewEdgeFactory(triple))
                        }
                    });
                    if (unacceptedRelationship.length > 0) {
                        this.$root.errorDisplay({},
                            'some relationships are not approved: ' +
                            unacceptedRelationship.join(', '))
                        previewCy.edges().forEach(edge => {
                            edge.data('preview_value', 'undefined')
                        })
                    }
                    if (previewCy.edges(
                            '[preview_value = "false"][original_value = "true"],' +
                            '[preview_value = "true"][original_value = "false"],' +
                            '[preview_value = "true"][original_value = "undefined"]'
                        ).length == 0) {
                        this.isTrival = true
                    } else {
                        this.isTrival = false
                    }
                    previewCy.elements().style('visibility', 'hidden')
                    let previewLayout = previewCy.layout({
                        ...concentricLayoutOptions,
                        // concentric: function (node) {
                        //     return previewCyDijkstra.distanceTo(node) * -1
                        // }
                    })
                    previewLayout.one('layoutstop', function () {
                        let previewLayout = previewCy.layout(coseLayoutOptions)
                        previewLayout.one('layoutstop', function () {
                            subjectCy.add(previewCy.elements().clone())
                            subjectCy.fit(coseLayoutOptions.padding)
                            previewCy.elements().style('visibility', 'visible')
                        })
                        previewLayout.run()
                    })
                    previewLayout.run()
                } catch (e) {
                    console.log(e)
                    previewCy.edges().forEach(edge => {
                        edge.data('preview_value', 'undefined')
                    })
                    this.$root.errorDisplay({},
                        'Textual import is not a valid json string.')
                }
            }
        },
        mounted: function () {
            previewCy.mount(document.getElementById("subject"))
            subjectCy.mount(document.getElementById("preview"))
            previewCy.on('dragpan', (event) => {
                subjectCy.pan(previewCy.pan())
            })
            previewCy.on('pinchzoom', (event) => {
                subjectCy.zoom(previewCy.zoom())
                subjectCy.pan(previewCy.pan())
            })
            previewCy.on('scrollzoom ', (event) => {
                subjectCy.zoom(previewCy.zoom())
                subjectCy.pan(previewCy.pan())
            })
            subjectCy.on('dragpan', (event) => {
                previewCy.pan(subjectCy.pan())
            })
            subjectCy.on('pinchzoom', (event) => {
                previewCy.zoom(subjectCy.zoom())
                previewCy.pan(subjectCy.pan())
            })
            subjectCy.on('scrollzoom ', (event) => {
                previewCy.zoom(subjectCy.zoom())
                previewCy.pan(subjectCy.pan())
            })
            this.loadData()
        },
        template: '#content',
        delimiters: ['${', '}'],
    })
</script>
{% endblock %}