{% extends "layout.html" %}
{% import 'layout.html' as layout %}
{% import 'cyMetricsVisualize.html' as cyMetricsVisualize %}
{% block VueComponent %}
<v-container dense style="height: calc(100vh - 64px); width: calc(100vw - 50px); margin: 0; max-width: none;">
    <v-row dense style="width: 100%;">
        <v-col cols="auto" dense>
            <v-menu offset-y>
                <template v-slot:activator="{ on, attrs }">
                    <v-btn style="text-transform: none;" v-bind="attrs" v-on="on" tile>
                        ${workspace?.tag? (workspace?.tag + ' (' + subject?.tag + ')'):''}
                        <v-icon v-if="!subject?.isPatchLeaf">
                            sync
                        </v-icon>
                    </v-btn>
                </template>
                <v-list>
                    <v-list-item v-if="!subject?.isPatchLeaf" @click="sync()">
                        <v-list-item-title>sync</v-list-item-title>
                        <v-list-item-icon>
                            <v-icon>sync</v-icon>
                        </v-list-item-icon>
                    </v-list-item>
                    <v-list-item v-else>
                        <v-list-item-subtitle style="font-size: small;">Already editing<br>latest patch
                        </v-list-item-subtitle>
                        <v-list-item-icon>
                            <v-icon>sync</v-icon>
                        </v-list-item-icon>
                    </v-list-item>
                    <v-list-item href="{{ url_for('instructor.commit', overwriterId=deltaGraphId) }}">
                        <v-list-item-title>commit</v-list-item-title>
                    </v-list-item>
                    <v-list-item @click="deleteSelectBar = true">
                        <v-list-item-title>delete workspace</v-list-item-title>
                    </v-list-item>
                </v-list>
            </v-menu>
        </v-col>
        <v-col cols="auto" dense>
            <v-menu offset-y>
                <template v-slot:activator="{ on, attrs }">
                    <v-btn style="text-transform: none;" v-bind="attrs" v-on="on" tile>
                        viewport & layout
                    </v-btn>
                </template>
                <v-list>
                    <v-list-item @click="editorFit()">
                        <v-list-item-title>fit viewport</v-list-item-title>
                        <v-list-item-icon>
                            <v-icon>fit_screen</v-icon>
                        </v-list-item-icon>
                    </v-list-item>
                    <v-list-item @click="redoLayout()">
                        <v-list-item-title>tidy layout</v-list-item-title>
                        <v-list-item-icon>
                            <v-icon></v-icon>
                        </v-list-item-icon>
                    </v-list-item>
                </v-list>
            </v-menu>
        </v-col>
        <v-col cols="auto" dense>
            <v-menu offset-y>
                <template v-slot:activator="{ on, attrs }">
                    <v-btn style="text-transform: none;" v-bind="attrs" v-on="on" tile>
                        visualization
                    </v-btn>
                </template>
                <v-list>
                    <!-- <v-list-item @click="edgeStyleDialogue = true">
                        <v-list-item-title>edge style<br>option</v-list-item-title>
                        <v-list-item-icon>
                            <v-icon>settings</v-icon>
                        </v-list-item-icon>
                    </v-list-item> -->
                    <v-list-item @click="metricsBottomSheet = true">
                        <v-list-item-title>centrality<br>metrics</v-list-item-title>
                        <v-list-item-icon>
                            <v-icon>insights</v-icon>
                        </v-list-item-icon>
                    </v-list-item>
                </v-list>
            </v-menu>
        </v-col>
        <v-col cols="auto" dense>
            <v-menu offset-y>
                <template v-slot:activator="{ on, attrs }">
                    <v-btn style="text-transform: none;" v-bind="attrs" v-on="on" tile>
                        triples operation
                    </v-btn>
                </template>
                <v-list>
                    <v-list-item @click="removeUnreachable">
                        <v-list-item-title>remove<br>unreachable</v-list-item-title>
                        <v-list-item-icon>
                            <v-icon>cleaning_services</v-icon>
                        </v-list-item-icon>
                    </v-list-item>
                </v-list>
            </v-menu>
        </v-col>
    </v-row>
    <v-row dense style="height: calc(100% - 44px); width: 100%;">
        <div id="editor" style="height: 100%; width: 100%;">
            <v-progress-circular style="display: block; margin: auto auto" indeterminate size="128" v-if="graphLoading">
            </v-progress-circular>

        </div>
    </v-row>
    <v-bottom-sheet v-model="metricsBottomSheet" insert :hide-overlay="true" no-click-animation>
        <v-cy-metrics-visualize-bottom-sheet></v-cy-metrics-visualize-bottom-sheet>
    </v-bottom-sheet>

    <v-card>
        <v-bottom-sheet v-model="tripleBottomSheet" inset persistent :hide-overlay="true" no-click-animation>
            <template v-slot:activator="{ on, attrs }">
                <v-bottom-sheet :value="!tripleBottomSheet" inset persistent :hide-overlay="true" no-click-animation>
                    <v-sheet>
                        <v-btn :ripple="false" color="success" plain block small @click="tripleBottomSheet = true"
                            elevation="2">
                            open triple form
                            <v-icon right>
                                menu_open
                            </v-icon>
                        </v-btn>
                    </v-sheet>
                </v-bottom-sheet>
            </template>
            <v-sheet>
                <v-form ref="tripleForm">
                    <v-container>
                        <v-row>
                            <v-btn :ripple="false" color="error" plain block small @click="unselectAll" elevation="2">
                                dismiss
                                <v-icon right>
                                    clear_all
                                </v-icon>
                            </v-btn>
                        </v-row>
                        <v-row>
                            <v-col>
                                <v-combobox v-model="h_name" :items="concepts" :rules="nameRules" label="head entity"
                                    persistent-hint @focus="nodeFieldFocus('head')" @input="nodeFieldChange"
                                    @keydown="disableButtons()">
                                    <template v-slot:no-data>
                                        <v-list-item>
                                            <v-list-item-content>
                                                <v-list-item-title>
                                                    No existing graph concept matching "<strong>${ h_name }</strong>".
                                                    New
                                                    graph concept would be created. Press
                                                    <kbd>enter</kbd> or click elsewhere to proceed.
                                                </v-list-item-title>
                                            </v-list-item-content>
                                        </v-list-item>
                                    </template>
                                </v-combobox>
                            </v-col>
                            <v-col>
                                <v-select v-model="r_name" :rules="nameRules" :items="relationships"
                                    label="relationship" @input="edgeFieldChange">
                                </v-select>
                            </v-col>
                            <v-col>
                                <v-combobox v-model="t_name" :items="concepts" :rules="nameRules" label="tail entity"
                                    persistent-hint @focus="nodeFieldFocus('tail')" @input="nodeFieldChange"
                                    @keydown="disableButtons()">
                                    <template v-slot:no-data>
                                        <v-list-item>
                                            <v-list-item-content>
                                                <v-list-item-title>
                                                    No existing graph concept matching "<strong>${ t_name }</strong>".
                                                    New
                                                    graph concept would be created. Press
                                                    <kbd>enter</kbd> or click elsewhere to proceed.
                                                </v-list-item-title>
                                            </v-list-item-content>
                                        </v-list-item>
                                    </template></v-combobox>
                            </v-col>
                        </v-row>
                        <v-row v-if="diffMode">
                            <v-btn color="success" @click="createTriple(true)"
                                :disabled="!canLinkEdge || !canUpdateEdge">
                                associate
                            </v-btn>
                            <v-btn color="indigo lighten-2" @click="createTriple(false)"
                                :disabled="!canUnlinkEdge || !canUpdateEdge">
                                dissociate
                            </v-btn>
                            <v-tooltip top v-if="canDeleteEdge">
                                <template v-slot:activator="{ on, attrs }">
                                    <v-btn style=" margin-left: auto; margin-right: 0;" v-on="on"
                                        @click="tripledelete()">
                                        defer decision
                                    </v-btn>
                                </template>
                                <span>
                                    Let others decide whether these concept should be linked or not
                                </span>
                            </v-tooltip>
                        </v-row>
                        <v-row v-else>
                            <v-btn color="success" @click="smartLink()"
                                :disabled="!canNontrivalLinkEdge || !canUpdateEdge">
                                link
                            </v-btn>
                            <v-btn style=" margin-left: auto; margin-right: 0;" color="indigo lighten-2"
                                @click="smartUnlink()" :disabled="!canNontrivalRemoveEdge || !canUpdateEdge">
                                unlink
                            </v-btn>
                        </v-row>
                    </v-container>
                </v-form>
            </v-sheet>
        </v-bottom-sheet>
    </v-card>
    <v-snackbar v-model="deleteSelectBar" timeout='10000'>
        Deletion can not be undone, are you sure?
        <template v-slot:action="{ attrs }">
            <v-btn color="error" text v-bind="attrs" @click="workspaceDelete()">
                delete
            </v-btn>
        </template>
    </v-snackbar>
    <v-container style="bottom: 5vh; right:5vh; position: fixed; width:17vw;">
        <v-row no-gutters justify="end">
            <v-col cols="auto" dense>
                <v-switch style="margin-top:0px" @change="switchStyle()" :disabled="graphLoading" v-model="diffMode"
                    messages="view diff" prepend-icon="rule" dense>
                </v-switch>
            </v-col>
            <v-col cols="auto" dense>
                <v-tooltip top>
                    <template v-slot:activator="{ on, attrs }">
                        <v-badge color="error" :content="activeNegativeEdgeCount + inactiveNegativeEdgeCount">
                            <v-icon v-bind="attrs" v-on="on">playlist_remove</v-icon>
                        </v-badge>
                    </template> ${activeNegativeEdgeCount + inactiveNegativeEdgeCount} edge negation
                    ${activeNegativeEdgeCount + inactiveNegativeEdgeCount>1?"have":"has"}
                    been declared. Turn 'view diff' mode on to
                    visualize such
                    explicit concept dissociation.
                </v-tooltip>
            </v-col>
        </v-row>
        <v-row v-if="diffMode">
            filters:
        </v-row>
        <v-chip-group v-if="diffMode" multiple column @change="highlightEdge($event)">
            <v-chip filter label x-small>
                <v-avatar left>
                    ${originalPositiveEdgeCount}
                </v-avatar>
                edge proposal in ${subject?.labels?.includes("Branch")?"branch":"trunk"}
            </v-chip>
            <v-chip filter label x-small style="font-weight: bold;">
                <v-avatar left>
                    ${activePositiveEdgeCount}
                </v-avatar>
                active proposal in workspace
            </v-chip>
            <v-chip filter label x-small style="font-style: italic;">
                <v-avatar left>
                    ${inactivePositiveEdgeCount}
                </v-avatar>
                inactive edge proposal in workspace
                <v-tooltip top>
                    <template v-slot:activator="{ on, attrs }">
                        <v-icon v-bind="attrs" v-on="on" right x-small>
                            help_outline
                        </v-icon>
                    </template>An inactive edge proposal is created if you are trying to create an already
                    existing
                    edge
                </v-tooltip>
            </v-chip>
            <v-chip filter label x-small>
                <v-avatar left>
                    ${originalNegativeEdgeCount}
                </v-avatar>
                <span style="background-color: white;">
                    edge negation in ${subject?.labels?.includes("Branch")?"branch":"trunk"}
                </span>
            </v-chip>
            <v-chip filter label x-small style="font-weight: bold;">
                <v-avatar left>
                    ${activeNegativeEdgeCount}
                </v-avatar><span style="background-color: white;">
                    active negation in workspace
                </span>
            </v-chip>
            <v-chip filter label x-small style="font-style: italic;">
                <v-avatar left>
                    ${inactiveNegativeEdgeCount}
                </v-avatar><span style="background-color: white;">
                    inactive edge negation in workspace
                </span>
                <v-tooltip top>
                    <template v-slot:activator="{ on, attrs }">
                        <v-icon v-bind="attrs" v-on="on" right x-small>
                            help_outline
                        </v-icon>
                    </template>An inactive edge negation is created if you are trying to negation a nonexistent
                    edge
                </v-tooltip>
            </v-chip>
        </v-chip-group>
    </v-container>

    <v-dialog v-model="edgeStyleDialogue">
        <v-container>
            <v-row>
                <v-col>
                    Edge proposal
                </v-col>
                <v-col>

                </v-col>
            </v-row>
            <v-row>
                <v-col>

                </v-col>
                <v-col>

                </v-col>
            </v-row>
        </v-container>
    </v-dialog>
</v-container>

{% endblock %}
{% block VueComponentScript %}
{{ layout.cytoscapeCDN() }}
{{ cyMetricsVisualize.component()}}
{{ cyMetricsVisualize.script()}}
<style>
    .v-chip--active {
        background-color: lightblue;
    }
</style>
<script>
    basicStyle = [{
            selector: ':selected',
            style: {
                'color': 'DarkMagenta'
            }
        },
        {
            selector: 'node',
            style: {
                'label': 'data(name)',
                'font-size': 8,
                'background-color': 'grey',
            }
        },
        {
            selector: 'node.tempory',
            style: {
                'opacity': 0.25,
            }
        },
        {
            selector: 'edge',
            style: {
                'label': 'data(name)',
                'target-arrow-shape': 'triangle',
                'curve-style': 'bezier',
                'font-size': 8,
                'text-rotation': 'autorotate',
                'display': 'none',
                'line-color': 'grey',
                'target-arrow-color': 'grey',
            }
        }, {
            selector: 'edge[subject_value = "true"][workspace_value != "false"],[workspace_value = "true"]',
            style: {
                'line-style': 'solid',
                'width': 3,
                'display': 'element',
            }
        }
    ]
    diffStyle = [{
            selector: ':selected',
            style: {
                'color': 'DarkMagenta'
            }
        }, {
            selector: 'node',
            style: {
                'label': 'data(name)',
                'font-size': 8,
                'background-color': 'grey',
            }
        }, {
            selector: 'edge.suppress',
            style: {
                'opacity': 0.15,
            }
        },
        {
            selector: 'node.tempory',
            style: {
                'opacity': 0.25,
            }
        },
        {
            selector: 'edge',
            style: {
                'label': 'data(name)',
                'target-arrow-shape': 'triangle',
                'curve-style': 'bezier',
                'font-size': 8,
                'text-rotation': 'autorotate',
                'width': 3,
                'line-color': 'grey',
                'target-arrow-color': 'grey',
            }
        }, {
            selector: 'edge[workspace_value = "true"][subject_value != "true"]',
            style: {
                'line-style': 'solid',
                'font-weight': 'bold',
            }
        }, {
            selector: 'edge[workspace_value = "false"][subject_value = "true"]',
            style: {
                'line-gradient-stop-colors': 'grey white white grey',
                'line-gradient-stop-positions': '10% 10% 77.5% 77.5%',
                'line-fill': 'linear-gradient ',
                'font-weight': 'bold',
            }
        }, {
            selector: 'edge[workspace_value = "true"][subject_value = "true"]',
            style: {
                'line-style': 'solid',
                'font-style': 'italic',
            }
        }, {
            selector: 'edge[workspace_value = "false"][subject_value != "true"]',
            style: {
                'line-gradient-stop-colors': 'grey white white grey',
                'line-gradient-stop-positions': '10% 10% 77.5% 77.5%',
                'line-fill': 'linear-gradient ',
                'font-style': 'italic',
            }
        }, {
            selector: 'edge[workspace_value = "undefined"][subject_value = "true"]',
            style: {
                'line-style': 'solid',
            }
        }, {
            selector: 'edge[workspace_value = "undefined"][subject_value = "false"]',
            style: {
                'line-style': 'dashed',
                'line-dash-pattern': '10%, 80%',
            }
        }
    ]
    cy = cytoscape({
        style: basicStyle,
        wheelSensitivity: 0.15,
        boxSelectionEnabled: false,
    });
    metricOptions = [{
        cy: cy
    }]
    concentricLayoutOptions = {
        name: 'concentric',
    }
    fitPadding = document.documentElement.clientHeight * 0.10
    coseLayoutOptions = {
        name: 'cose',
        padding: fitPadding,
        fit: true,
        idealEdgeLength: function (edge) {
            return 64;
        },
        gravity: 0.15,
        animationDuration: 750
    }

    function nodeFactory(name) {
        let output = {
            group: 'nodes',
            data: {
                id: name,
                name: name
            },
            position: {
                x: 0,
                y: 0
            },
        }
        return output
    }

    function workspaceEdgeFactory(edge) {
        let output = {
            group: 'edges',
            data: {
                source: edge.h_name,
                target: edge.t_name,
                name: edge.r_name,
                id: edgeIdFromNames(edge.h_name, edge.r_name,
                    edge.t_name),
                workspace_value: edge.r_value ? 'true' : 'false',
                subject_value: 'undefined',
            }
        }
        return output
    }
    edgeCollections = {}

    function subjectEdgeFactory(edge) {
        let output = {
            group: 'edges',
            data: {
                source: edge.h_name,
                target: edge.t_name,
                name: edge.r_name,
                id: edgeIdFromNames(edge.h_name,
                    edge.r_name, edge.t_name),
                workspace_value: 'undefined',
                subject_value: edge.r_value ? 'true' : 'false',
            }
        }
        return output
    }

    function edgeIdFromNames(h_name, r_name, t_name) {
        return h_name +
            '.' + r_name + '.' + t_name
    }
    Vue.component('app-content', {
        data: () => ({
            relationships: [],
            nameRules: [v => !!v || 'Name is required',
                v => v.length > 3 && v.length < 101 ||
                'Name should be anything between 4 and 100 charactors',
                v => /^[a-zA-Z0-9\s]+$/.test(v) ||
                'Name can only contains alphanumeric characters and space.'
            ],
            h_name: '',
            t_name: '',
            r_name: '',
            tripleBottomSheet: false,
            canLinkEdge: false,
            canUnlinkEdge: false,
            canDeleteEdge: false,
            canUpdateEdge: false,
            focusing: '',
            wasNewNode: [],
            wasNewEdge: [],
            concepts: [],
            subject: {
                isPatchLeaf: true
            },
            workspace: undefined,
            deleteSelectBar: false,
            originalPositiveEdgeCount: 0,
            originalNegativeEdgeCount: 0,
            activePositiveEdgeCount: 0,
            activeNegativeEdgeCount: 0,
            inactivePositiveEdgeCount: 0,
            inactiveNegativeEdgeCount: 0,
            diffMode: false,
            canNontrivalLinkEdge: false,
            canNontrivalRemoveEdge: false,
            edgeStyleDialogue: false,
            metricsBottomSheet: false,
            graphLoading: true,
        }),
        methods: {
            loadData() {
                this.$root.progress.show = true
                let workspacePromise = fetch(
                        "{{ url_for('RESTful.workspace.get', deltaGraphId=deltaGraphId) }}", {
                            method: 'GET',
                            cache: 'no-store',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                        })
                    .then(response => {
                        try {
                            return response.json()
                        } catch {
                            this.$root.progress.show = false
                            this.$root.errorDisplay({},
                                'Unexpected error occured.')
                        }
                    })
                    .then(body => {
                        if (body.workspace && body.triples && body.subject && body.subject_triples) {
                            this.workspace = body.workspace
                            this.subject = body.subject
                            cy.elements().remove();
                            cy.add(nodeFactory(body.subject.courseCode)).style({
                                'background-image': body.workspace.imageURL,
                                'background-fit': 'cover'
                            })
                            body.triples.forEach(triple => {
                                [triple.h_name, triple.t_name].forEach(name => {
                                    if (cy.getElementById(name).length == 0) {
                                        cy.add(nodeFactory(name))
                                    }
                                })
                                cy.add(workspaceEdgeFactory(triple))
                            })
                            body.subject_triples.forEach(triple => {
                                [triple.h_name, triple.t_name].forEach(name => {
                                    if (cy.getElementById(name).length == 0) {
                                        cy.add(nodeFactory(name))
                                    }
                                })
                                let edge = cy.getElementById(edgeIdFromNames(triple.h_name, triple
                                    .r_name, triple.t_name))
                                if (edge.length > 0) {
                                    edge[0].data({
                                        subject_value: triple.r_value ? 'true' : 'false'
                                    })
                                } else {
                                    cy.add(subjectEdgeFactory(triple))
                                }
                            })
                            this.rootName = body.workspace.courseCode
                            let cyDijkstra = cy.elements().dijkstra('node[id = "' + this
                                .rootName +
                                '"]')
                            this.graphLoading = true
                            cy.elements().style('visibility', 'hidden')
                            let cyLayout = cy.layout({
                                ...concentricLayoutOptions,
                                // concentric: function (node) {
                                // return cyDijkstra.distanceTo(node) * -1
                                // }
                            })
                            cyLayout.one('layoutstop', () => {
                                let cyLayout = cy.layout(coseLayoutOptions)
                                cyLayout.one('layoutstop', () => {
                                    cy.elements().style('visibility', 'visible')
                                    this.graphLoading = false
                                })
                                cyLayout.run()
                            })
                            cyLayout.run()
                            this.edgeStatistic()
                        } else {
                            this.$root.errorDisplay(body,
                                'Unexpected error on getting draft information.')
                        }
                    })
                let relationshipPromise =
                    fetch("{{ url_for('RESTful.relationship.query', approved=True) }}", {
                        method: 'GET',
                        cache: 'no-store',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                    })
                    .then(response => {
                        try {
                            return response.json()
                        } catch {
                            this.$root.progress.show = false
                            this.$root.errorDisplay({},
                                'Unexpected error occured.')
                        }
                    })
                    .then(body => {
                        if (body.relationships) {
                            this.relationships = body.relationships
                        } else {
                            this.$root.errorDisplay(body,
                                'Unexpected error on getting relationship information.')
                        }
                    })
                let entityPromise = fetch("{{ url_for('RESTful.entity.query', list=True) }}", {
                        method: 'GET',
                        cache: 'no-store',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                    })
                    .then(response => {
                        try {
                            return response.json()
                        } catch {
                            this.$root.progress.show = false
                            this.$root.errorDisplay({},
                                'Unexpected error occured.')
                        }
                    })
                    .then(body => {
                        if (body.entities) {
                            this.concepts = body.entities.map(e => e.concept.name)
                        } else {
                            this.$root.errorDisplay(body,
                                'Unexpected error on getting relationship information.')

                        }
                    })
                Promise.all([workspacePromise, relationshipPromise, entityPromise]).then(_ => {
                    this.$root.progress.show = false
                })
            },
            switchStyle() {
                cy.style().resetToDefault()
                if (this.diffMode) {
                    cy.style(diffStyle)
                } else {
                    cy.edges(".suppress").removeClass('suppress')
                    cy.style(basicStyle)
                }
            },
            edgeStatistic() {
                edgeCollections.originalPositiveEdge = cy.edges('[subject_value = "true"]')
                edgeCollections.originalNegativeEdge = cy.edges('[subject_value = "false"]')
                edgeCollections.activePositiveEdge = cy.edges(
                    '[workspace_value = "true"][subject_value != "true"]')
                edgeCollections.activeNegativeEdge = cy.edges(
                    '[workspace_value = "false"][subject_value = "true"]')
                edgeCollections.inactivePositiveEdge = cy.edges(
                    '[workspace_value = "true"][subject_value = "true"]')
                edgeCollections.inactiveNegativeEdge = cy.edges(
                    '[workspace_value = "false"][subject_value != "true"]')
                this.originalPositiveEdgeCount = edgeCollections.originalPositiveEdge.length
                this.originalNegativeEdgeCount = edgeCollections.originalNegativeEdge.length
                this.activePositiveEdgeCount = edgeCollections.activePositiveEdge.length
                this.activeNegativeEdgeCount = edgeCollections.activeNegativeEdge.length
                this.inactivePositiveEdgeCount = edgeCollections.inactivePositiveEdge.length
                this.inactiveNegativeEdgeCount = edgeCollections.inactiveNegativeEdge.length
            },
            createTriple(r_value) {
                if (this.$root.progress.show == true) {
                    this.$root.bePatientSnackBar.show = true
                    return
                }
                if (this.$refs.tripleForm.validate()) {
                    this.$root.progress.show = true
                    fetch("{{ url_for('RESTful.triple.put', deltaGraphId=deltaGraphId) }}", {
                            method: 'PUT',
                            cache: 'no-store',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({
                                h_name: this.h_name,
                                r_name: this.r_name,
                                t_name: this.t_name,
                                r_value: r_value,
                            })
                        })
                        .then(response => {
                            try {
                                return response.json()
                            } catch {
                                this.$root.progress.show = false
                                this.$root.errorDisplay({},
                                    'Unexpected error occured.')
                            }
                        })
                        .then(body => {
                            this.$root.progress.show = false
                            if (body.triple) {
                                let triple = body.triple;
                                let newNodes = cy.collection();
                                [triple.h_name, triple.t_name].forEach(
                                    name => {
                                        if (cy.getElementById(name).length == 0) {
                                            newNodes.union(cy.add(nodeFactory(name)))
                                        }
                                        if (!this.concepts.includes(name)) this.concepts.push(name)
                                    })
                                let edge = cy.getElementById(edgeIdFromNames(triple.h_name, triple.r_name,
                                    triple.t_name))[0]

                                if (edge) {
                                    edge.data({
                                        workspace_value: triple.r_value ? 'true' : 'false'
                                    })
                                } else {
                                    cy.add(workspaceEdgeFactory(triple))
                                }
                                cy.nodes('.tempory[[degree > 0]]').removeClass("tempory")
                                let cyDijkstra = cy.elements().dijkstra('node[id = "' + this
                                    .rootName +
                                    '"]')
                                let options = {
                                    ...coseLayoutOptions
                                }
                                options.fit = false
                                options.animate = 'end'
                                options.initialTemp = 1
                                options.minTemp = 0.1
                                // options.animateFilter = (node, i) => {
                                //     return newNodes.contains(node)
                                // }
                                let cyLayout = cy.layout(options)
                                cyLayout.run()
                                this.edgeStatistic()
                                this.determineTripleOptions()
                            } else {
                                this.$root.errorDisplay(body,
                                    'Unexpected error when creating triple.')
                            }
                        })
                }
            },
            tripledelete() {
                if (this.$root.progress.show == true) {
                    this.$root.bePatientSnackBar.show = true
                    return
                }
                if (this.$refs.tripleForm.validate()) {
                    this.$root.progress.show = true
                    fetch("{{ url_for('RESTful.triple.delete', deltaGraphId=deltaGraphId) }}", {
                            method: 'DELETE',
                            cache: 'no-store',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({
                                h_name: this.h_name,
                                r_name: this.r_name,
                                t_name: this.t_name,
                            })
                        })
                        .then(response => {
                            try {
                                return response.json()
                            } catch {
                                this.$root.progress.show = false
                                this.$root.errorDisplay({},
                                    'Unexpected error occured.')
                            }
                        })
                        .then(body => {
                            this.$root.progress.show = false
                            if (body.triple) {
                                let triple = body.triple
                                let id = edgeIdFromNames(triple.h_name, triple.r_name, triple.t_name)
                                let edge = cy.getElementById(edgeIdFromNames(triple.h_name, triple.r_name,
                                    triple.t_name))[0]
                                edge.data({
                                    workspace_value: "undefined"
                                })
                                cy.edges('[workspace_value = "undefined"][subject_value = "undefined"]')
                                    .remove()
                                cy.nodes('[[degree = 0]][id != "' + this.rootName + '"]').addClass(
                                    "tempory")
                                this.edgeStatistic()
                                this.determineTripleOptions()
                            } else {
                                this.$root.errorDisplay(body,
                                    'Unexpected error when deleted triple.')
                            }
                        })
                }
            },
            highlightEdge(indexes) {
                cy.edges(".suppress").removeClass('suppress')
                if (indexes.length != 0) {
                    let selectedEdge = cy.collection()
                    indexes.forEach(index => {
                        selectedEdge = selectedEdge.union(
                            [
                                edgeCollections.originalPositiveEdge,
                                edgeCollections.activePositiveEdge,
                                edgeCollections.inactivePositiveEdge,
                                edgeCollections.originalNegativeEdge,
                                edgeCollections.activeNegativeEdge,
                                edgeCollections.inactiveNegativeEdge,
                            ][index]
                        )
                    })
                    cy.edges().difference(selectedEdge).addClass('suppress')
                }
            },
            smartLink() {
                if (this.h_name && this.h_name != '' && this.r_name && this.r_name != '' &&
                    this.t_name && this.t_name != '') {
                    let edge = cy.getElementById(edgeIdFromNames(this.h_name, this.r_name, this.t_name))
                    console.log(edge.data())
                    if (edge) {
                        if (edge.data("workspace_value") != "true" && edge.data("subject_value") !=
                            "true") {
                            this.createTriple(true)
                        } else if (edge.data("workspace_value") != "undefined" && edge.data("subject_value") ==
                            "true") {
                            this.tripledelete()
                        }
                    } else {
                        this.createTriple(true)
                    }
                } else {}
            },
            smartUnlink() {
                if (this.h_name && this.h_name != '' && this.r_name && this.r_name != '' &&
                    this.t_name && this.t_name != '') {
                    let edge = cy.getElementById(edgeIdFromNames(this.h_name, this.r_name, this.t_name))
                    console.log(edge.data())
                    if (edge) {
                        if (edge.data("workspace_value") != "false" && edge.data("subject_value") ==
                            "true") {
                            this.createTriple(false)
                        } else if (edge.data("workspace_value") != "undefined" && edge.data("subject_value") !=
                            "true") {
                            this.tripledelete()
                        }
                    }
                } else {}

            },
            disableButtons() {
                this.canUpdateEdge = false
                this.canDeleteEdge = false
            },
            removeUnreachable() {
                if (this.$root.progress.show == true) {
                    this.$root.bePatientSnackBar.show = true
                    return
                }
                this.$root.progress.show = true
                fetch("{{ url_for('RESTful.triple.deleteUnreachable', deltaGraphId=deltaGraphId) }}", {
                        method: 'DELETE',
                        cache: 'no-store',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                    })
                    .then(response => {
                        try {
                            return response.json()
                        } catch {
                            this.$root.progress.show = false
                            this.$root.errorDisplay({},
                                'Unexpected error occured.')
                        }
                    })
                    .then(body => {
                        this.$root.progress.show = false
                        if (body.triples) {
                            this.unselectAll()
                            body.triples.forEach(triple => {
                                let id = edgeIdFromNames(triple.h_name, triple.r_name,
                                    triple
                                    .t_name)
                                let edge = cy.getElementById(edgeIdFromNames(triple.h_name,
                                    triple
                                    .r_name,
                                    triple.t_name))[0]
                                edge.data({
                                    workspace_value: "undefined"
                                })
                                cy.edges(
                                    '[workspace_value = "undefined"][subject_value = "undefined"]'
                                ).remove()
                                cy.nodes('[[degree = 0]][id != "' + this.rootName + '"]')
                                    .remove()
                            })
                            this.edgeStatistic()
                            this.determineTripleOptions()
                        } else {
                            this.$root.errorDisplay(body,
                                'Unexpected error when deleted unreachable triple.')
                        }
                    })

            },
            unselectAll() {
                this.tripleBottomSheet = false
                this.clearForm()
                cy.nodes().unselect()
                cy.edges().unselect()
            },
            clearForm() {
                this.h_name = ''
                this.r_name = ''
                this.t_name = ''
                this.$refs.tripleForm.resetValidation()
            },
            nodeFieldFocus(event) {
                this.focusing = event
                if (event == "head") {
                    cy.nodes().unselect()
                    cy.edges().unselect()
                    cy.nodes('[id = "' + this.h_name + '"]').select()
                } else {
                    cy.nodes().unselect()
                    cy.edges().unselect()
                    cy.nodes('[id = "' + this.t_name + '"]').select()
                }
            },
            nodeFieldChange(event) {
                cy.nodes().unselect()
                cy.edges().unselect()
                cy.nodes('[id = "' + event + '"]').select()
                this.determineTripleOptions()
            },
            edgeFieldChange(event) {
                this.determineTripleOptions()
            },
            determineTripleOptions() {
                if (this.h_name && this.h_name != '' && this.r_name && this.r_name != '' &&
                    this.t_name && this.t_name != '') {
                    this.canUpdateEdge = true
                    let edge = cy.getElementById(edgeIdFromNames(this.h_name, this.r_name, this.t_name))
                    if (edge) {
                        cy.nodes().unselect()
                        cy.edges().unselect()
                        edge.select()
                        this.canNontrivalLinkEdge = (edge.data("workspace_value") != "true" && edge
                                .data(
                                    "subject_value") != "true") || edge.data("workspace_value") ==
                            "false"
                        this.canNontrivalRemoveEdge = edge.data("workspace_value") == "true" || (edge
                            .data(
                                "subject_value") == "true" && edge.data("workspace_value") ==
                            "undefined")
                        this.canLinkEdge = edge.data("workspace_value") != "true"
                        this.canUnlinkEdge = edge.data("workspace_value") != "false"
                        this.canDeleteEdge = edge.data("workspace_value") != "undefined"
                    } else {
                        this.canNontrivalLinkEdge = true
                        this.canNontrivalRemoveEdge = false
                        this.canLinkEdge = true
                        this.canUnlinkEdge = true
                        this.canDeleteEdge = false
                    }

                } else {
                    this.canUpdateEdge = false
                }
            },
            editorFit() {
                cy.fit(cy, fitPadding)
            },
            redoLayout() {
                cy.elements().style('visibility', 'hidden')
                let cyLayout = cy.layout({
                    ...concentricLayoutOptions,
                    // concentric: function (node) {
                    // return cyDijkstra.distanceTo(node) * -1
                    // }
                })
                cyLayout.one('layoutstop', function () {
                    let cyLayout = cy.layout(coseLayoutOptions)
                    cyLayout.one('layoutstop', function () {
                        cy.elements().style('visibility', 'visible')
                    })
                    cyLayout.run()
                })
                cyLayout.run()
            },
            sync() {

                fetch("{{ url_for('RESTful.workspace.patch', deltaGraphId=deltaGraphId) }}", {
                        method: 'PATCH',
                        cache: 'no-store',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            sync: true
                        })
                    })
                    .then(response => {
                        try {
                            return response.json()
                        } catch {
                            this.$root.progress.show = false
                            this.$root.errorDisplay({},
                                'Unexpected error occured.')
                        }
                    })
                    .then(body => {
                        this.$root.progress.show = false
                        this.$root.responseSnackBar(body,
                            'Sync failed for unknown reason.',
                            () => {
                                this.loadData()
                            })
                    })
            },
            workspaceDelete() {
                fetch("{{ url_for('RESTful.workspace.delete', deltaGraphId=deltaGraphId) }}", {
                        method: 'DELETE',
                        cache: 'no-store',
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    })
                    .then(response => {
                        try {
                            return response.json()
                        } catch {
                            this.$root.progress.show = false
                            this.$root.errorDisplay({},
                                'Unexpected error occured.')
                        }
                    })
                    .then(body => {
                        this.$root.progress.show = false
                        this.$root.responseSnackBar(body,
                            'delete failed for unknown reason.',
                            () => {
                                window.location.replace(
                                    "{{ url_for('instructor.versionTree') }}/" +
                                    this.subject.courseCode)
                            })
                    })

            }
        },
        mounted: function () {
            cy.mount(document.getElementById("editor"))
            self = this
            cy.on('tap', 'node', (event) => {
                if (self.canUpdateEdge) {
                    self.clearForm()
                }
                if (!self.h_name || this.focusing == "head") {
                    self.h_name = event.target.data("id")
                } else {
                    self.t_name = event.target.data("id")
                }
                self.disableButtons()
                self.determineTripleOptions()
                self.tripleBottomSheet = true;
            })
            cy.on('tap', 'edge', (event) => {
                self.tripleBottomSheet = true;
                self.h_name = event.target.source().data("id")
                self.r_name = event.target.data("name")
                self.t_name = event.target.target().data("id")
                self.determineTripleOptions()
            })
            cy.on('tapdrag', 'node', (event) => {})
            // let size
            // cy.on('select', 'node', event => {
            //     let node = event.target[0]
            //     size = {
            //         height: node.height(),
            //         width: node.width()
            //     }
            //     let newSize = 1.125
            //     let newDuration = 300
            //     let animation = node.animation({
            //         style: {
            //             height: size.height * newSize,
            //             width: size.height * newSize
            //         },
            //         duration: newDuration
            //     });
            //     let loop = () => {

            //         animation.reverse().rewind().play().promise().then(() => {
            //             node.delayAnimation(newDuration).play().promise().then(() => {
            //                 loop()
            //             })
            //         })
            //     }
            //     animation.play().promise().then(() => {
            //         node.delayAnimation(newDuration).play().promise().then(() => {
            //             loop()
            //         })
            //     })
            // })
            // cy.on('unselect', 'node', event => {
            //     let node = event.target[0]
            //     console.log('unselect')
            //     node.stop()
            //     node.clearQueue()
            //     let animation = node.animation({
            //         style: {
            //             height: size.height,
            //             width: size.height
            //         },
            //         duration: 0
            //     });
            //     animation.play()
            // })
            // let width
            // cy.on('select', 'edge', event => {
            //     let edge = event.target[0]
            //     width = edge.width()
            //     let newWidth = 2
            //     let newDuration = 300
            //     let animation = edge.animation({
            //         style: {
            //             width: width * newWidth
            //         },
            //         duration: newDuration
            //     });
            //     let loop = () => {
            //         animation.reverse().rewind().play().promise().then(() => {
            //             edge.delayAnimation(newDuration).play().promise().then(() => {
            //                 loop()
            //             })
            //         })
            //     }
            //     animation.play().promise().then(() => {
            //         edge.delayAnimation(newDuration).play().promise().then(() => {
            //             loop()
            //         })
            //     })
            // })
            // cy.on('unselect', 'edge', event => {
            //     let edge = event.target[0]
            //     console.log('unselect')
            //     edge.stop()
            //     edge.clearQueue()
            //     let animation = edge.animation({
            //         style: {
            //             width: width
            //         },
            //         duration: 0
            //     });
            //     animation.play()
            // })
            this.loadData()
        },
        template: '#content',
        delimiters: ['${', '}'],
    })
</script>
{% endblock %}