{% extends "layout.html" %}
{% import 'layout.html' as layout %}
{% block VueComponent %}
<v-card>
    <v-speed-dial absolute bottom right>
        <template v-slot:activator>
            <v-btn color="blue darken-2" dark fab>
                <v-icon>handyman</v-icon>
            </v-btn>
        </template>
        <v-btn color="primary" fab @click="editorFit()">
            <v-icon>fit_screen</v-icon>
        </v-btn>
        <v-btn color="primary" fab @click="removeUnreachable">
            <v-icon>cleaning_services</v-icon>
        </v-btn>
    </v-speed-dial>
    <div style="height: calc(100vh - 64px); width: calc(100vw - 50px);">
        <div id="editor" style="height: 100%; width: 100%;"></div>
    </div>
    <v-bottom-sheet v-model="tripleBottomSheet" inset persistent :hide-overlay="true" no-click-animation>
        <v-sheet>
            <v-form ref="tripleForm">
                <v-container>
                    <v-row>
                        <v-btn :ripple="false" color="error" plain block small @click="unselectAll" elevation="2">
                            dismiss
                            <v-icon right>
                                clear_all
                            </v-icon>
                        </v-btn>
                    </v-row>
                    <v-row>
                        <v-col>
                            <v-combobox v-model="h_name" :items="concepts" :rules="nameRules" label="head entity"
                                persistent-hint @focus="nodeFieldFocus('head')" @input="nodeFieldChange"
                                @keydown="disableButtons()">
                                <template v-slot:no-data>
                                    <v-list-item>
                                        <v-list-item-content>
                                            <v-list-item-title>
                                                No existing graph concept matching "<strong>${ h_name }</strong>". New
                                                graph concept would be created. Press
                                                <kbd>enter</kbd> or click elsewhere to proceed.
                                            </v-list-item-title>
                                        </v-list-item-content>
                                    </v-list-item>
                                </template>
                            </v-combobox>
                        </v-col>
                        <v-col>
                            <v-select v-model="r_name" :rules="nameRules" :items="relationships" label="relationship"
                                @input="edgeFieldChange">
                            </v-select>
                        </v-col>
                        <v-col>
                            <v-combobox v-model="t_name" :items="concepts" :rules="nameRules" label="tail entity"
                                persistent-hint @focus="nodeFieldFocus('tail')" @input="nodeFieldChange"
                                @keydown="disableButtons()">
                                <template v-slot:no-data>
                                    <v-list-item>
                                        <v-list-item-content>
                                            <v-list-item-title>
                                                No existing graph concept matching "<strong>${ t_name }</strong>". New
                                                graph concept would be created. Press
                                                <kbd>enter</kbd> or click elsewhere to proceed.
                                            </v-list-item-title>
                                        </v-list-item-content>
                                    </v-list-item>
                                </template></v-combobox>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-btn color="success" @click="createTriple(true)" v-if="canLinkEdge"
                            :disabled="!canUpdateEdge">
                            associate
                        </v-btn>
                        <v-btn @click="createTriple(false)" v-else :disabled="!canUpdateEdge">
                            dissociate
                        </v-btn>
                        <v-tooltip top v-if="canDeleteEdge">
                            <template v-slot:activator="{ on, attrs }">
                                <v-btn style=" margin-left: auto; margin-right: 0;" v-on="on" color="error"
                                    @click="tripledelete()">
                                    defer to others
                                </v-btn>
                            </template>
                            <span>
                                Let others decide whether these concept should be linked or not
                            </span>
                        </v-tooltip>
                    </v-row>
                </v-container>
            </v-form>
        </v-sheet>
    </v-bottom-sheet>
</v-card>
{% endblock %}
{% block VueComponentScript %}
{{ layout.cytoscapeCDN() }}
<script>
    cy = cytoscape({
        style: [{
                selector: 'node',
                style: {
                    'label': 'data(name)',
                    'font-size': 8
                }
            }, {
                selector: 'node.tempory',
                style: {
                    'opacity': 0.25,
                }
            },
            {
                selector: 'edge',
                style: {
                    'label': 'data(name)',
                    'target-arrow-shape': 'triangle',
                    'curve-style': 'bezier',
                    'font-size': 8,
                    'text-rotation': 'autorotate',
                    'line-style': 'solid',
                    'width': 5,
                }
            }, {
                selector: 'edge[workspace_value = "false"]',
                style: {
                    'line-gradient-stop-colors': 'grey white white grey',
                    'line-gradient-stop-positions': '10% 10% 77.5% 77.5%',
                    'line-fill': 'linear-gradient ',
                    'width': 5,
                }
            }, {
                selector: 'edge[workspace_value = "undefined"][subject_value = "true"]',
                style: {
                    'line-style': 'solid',
                    'width': 1,
                }
            }, {
                selector: 'edge[workspace_value = "undefined"][subject_value = "false"]',
                style: {
                    'line-style': 'dashed',
                    'line-dash-pattern': '10%, 80%',
                    'width': 1,
                }
            }
        ],
        wheelSensitivity: 0.15,
        boxSelectionEnabled: false,
    })
    concentricLayoutOptions = {
        name: 'concentric',

    }
    coseLayoutOptions = {
        name: 'cose',
        padding: document.documentElement.clientHeight * 0.15,
        fit: true,
        idealEdgeLength: function (edge) {
            return 64;
        },
        edgeElasticity: function (edge) {
            return 128;
        },
        gravity: 0.15
    }

    function nodeFactory(name) {
        let output = {
            group: 'nodes',
            data: {
                id: name,
                name: name
            },
            position: {
                x: 0,
                y: 0
            },
        }
        return output
    }

    function workspaceEdgeFactory(edge) {
        let output = {
            group: 'edges',
            data: {
                source: edge.h_name,
                target: edge.t_name,
                name: edge.r_name,
                id: edgeIdFromNames(edge.h_name, edge.r_name, edge.t_name),
                workspace_value: edge.r_value ? 'true' : 'false',
                subject_value: 'undefined',
            }
        }
        return output

    }

    function subjectEdgeFactory(edge) {
        let output = {
            group: 'edges',
            data: {
                source: edge.h_name,
                target: edge.t_name,
                name: edge.r_name,
                id: edgeIdFromNames(edge.h_name, edge.r_name, edge.t_name),
                workspace_value: 'undefined',
                subject_value: edge.r_value ? 'true' : 'false',
            }
        }
        return output

    }

    function edgeIdFromNames(h_name, r_name, t_name) {

        return h_name + '.' + r_name + '.' + t_name
    }

    Vue.component('app-content', {
        data: () => ({
            relationships: [],
            nameRules: [v => !!v || 'Name is required',
                v => v.length > 3 && v.length < 101 ||
                'Name should be anything between 4 and 100 charactors',
                v => /^[a-zA-Z0-9\s]+$/.test(v) ||
                'Name can only contains alphanumeric characters and space.'
            ],
            h_name: '',
            t_name: '',
            r_name: '',
            tripleBottomSheet: false,
            canLinkEdge: false,
            canDeleteEdge: false,
            canUpdateEdge: false,
            focusing: '',
            wasNewNode: [],
            wasNewEdge: [],
            concepts: []
        }),
        methods: {
            loadData() {
                this.$root.progress.show = true
                let workspacePromise = fetch(
                        "{{ url_for('RESTful.workspace.get', deltaGraphId=deltaGraphId) }}", {
                            method: 'GET',
                            cache: 'no-store',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                        })
                    .then(response => {
                        try {
                            return response.json()
                        } catch {
                            this.$root.progress.show = false
                            this.$root.errorDisplay({},
                                'Unexpected error occured.')
                        }
                    })
                    .then(body => {
                        if (body.workspace && body.triples && body.subject && body.subject_triples) {
                            cy.add(nodeFactory(body.workspace.deltaGraphId.split('.')[0])).style({
                                'background-image': body.workspace.imageURL,
                                'background-fit': 'cover'
                            })
                            body.triples.forEach(triple => {
                                [triple.h_name, triple.t_name].forEach(name => {
                                    if (cy.getElementById(name).length == 0) {
                                        cy.add(nodeFactory(name))
                                    }
                                })
                                cy.add(workspaceEdgeFactory(triple))
                            })
                            body.subject_triples.forEach(triple => {
                                [triple.h_name, triple.t_name].forEach(name => {
                                    if (cy.getElementById(name).length == 0) {
                                        cy.add(nodeFactory(name))
                                    }
                                })
                                let edge = cy.getElementById(edgeIdFromNames(triple.h_name, triple
                                    .r_name, triple.t_name))
                                if (edge) {
                                    edge.data({
                                        subject_value: triple.r_value ? 'true' : 'false'
                                    })
                                } else {
                                    cy.add(subjectEdgeFactory(triple))
                                }
                            })
                            this.rootName = body.workspace.deltaGraphId.split('.')[0]
                            let cyDijkstra = cy.elements().dijkstra('node[id = "' + this
                                .rootName +
                                '"]')
                            cy.elements().style('visibility', 'hidden')
                            let cyLayout = cy.layout({
                                ...concentricLayoutOptions,
                                // concentric: function (node) {
                                //     return cyDijkstra.distanceTo(node) * -1
                                // }
                            })
                            cyLayout.one('layoutstop', function () {
                                let cyLayout = cy.layout(coseLayoutOptions)
                                cyLayout.one('layoutstop', function () {
                                    cy.elements().style('visibility', 'visible')
                                })
                                cyLayout.run()
                            })
                            cyLayout.run()

                        } else {
                            this.$root.errorDisplay(body,
                                'Unexpected error on getting draft information.')
                        }
                    })
                let relationshipPromise = fetch("{{ url_for('RESTful.relationship.query', approved=True) }}", {
                        method: 'GET',
                        cache: 'no-store',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                    })
                    .then(response => {
                        try {
                            return response.json()
                        } catch {
                            this.$root.progress.show = false
                            this.$root.errorDisplay({},
                                'Unexpected error occured.')
                        }
                    })
                    .then(body => {
                        if (body.relationships) {
                            this.relationships = body.relationships
                        } else {
                            this.$root.errorDisplay(body,
                                'Unexpected error on getting relationship information.')
                        }
                    })
                let entityPromise = fetch("{{ url_for('RESTful.entity.query', list=True) }}", {
                        method: 'GET',
                        cache: 'no-store',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                    })
                    .then(response => {
                        try {
                            return response.json()
                        } catch {
                            this.$root.progress.show = false
                            this.$root.errorDisplay({},
                                'Unexpected error occured.')
                        }
                    })
                    .then(body => {
                        if (body.entities) {
                            this.concepts = body.entities.map(e => e.concept.name)
                        } else {
                            this.$root.errorDisplay(body,
                                'Unexpected error on getting relationship information.')

                        }
                    })
                Promise.all([workspacePromise, relationshipPromise, entityPromise]).then(_ => {
                    this.$root.progress.show = false
                })
            },
            createTriple(r_value) {
                if (this.$root.progress.show == true) {
                    this.$root.bePatientSnackBar.show = true
                    return
                }
                if (this.$refs.tripleForm.validate()) {
                    this.$root.progress.show = true
                    fetch("{{ url_for('RESTful.triple.put', deltaGraphId=deltaGraphId) }}", {
                            method: 'PUT',
                            cache: 'no-store',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({
                                h_name: this.h_name,
                                r_name: this.r_name,
                                t_name: this.t_name,
                                r_value: r_value,
                            })
                        })
                        .then(response => {
                            try {
                                return response.json()
                            } catch {
                                this.$root.progress.show = false
                                this.$root.errorDisplay({},
                                    'Unexpected error occured.')
                            }
                        })
                        .then(body => {
                            this.$root.progress.show = false
                            if (body.triple) {
                                let triple = body.triple;
                                [triple.h_name, triple.t_name].forEach(name => {
                                    if (cy.getElementById(name).length == 0) {
                                        cy.add(nodeFactory(name))
                                    }
                                    if (!this.concepts.includes(name)) this.concepts.push(name)
                                })
                                let edge = cy.getElementById(edgeIdFromNames(triple.h_name, triple.r_name,
                                    triple.t_name))[0]

                                if (edge) {
                                    edge.data({
                                        workspace_value: triple.r_value ? 'true' : 'false'
                                    })
                                } else {
                                    cy.add(workspaceEdgeFactory(triple))
                                }
                                cy.nodes('.tempory[[degree > 0]]').removeClass("tempory")
                                let cyDijkstra = cy.elements().dijkstra('node[id = "' + this
                                    .rootName +
                                    '"]')
                                cy.elements().style('visibility', 'hidden')
                                let cyLayout = cy.layout({
                                    ...concentricLayoutOptions,
                                    // concentric: function (node) {
                                    //     return cyDijkstra.distanceTo(node) * -1
                                    // }
                                })
                                cyLayout.one('layoutstop', function () {
                                    let cyLayout = cy.layout(coseLayoutOptions)
                                    cyLayout.one('layoutstop', function () {
                                        cy.elements().style('visibility', 'visible')
                                    })
                                    cyLayout.run()
                                })
                                cyLayout.run()
                                this.determineTripleOptions()
                            } else {
                                this.$root.errorDisplay(body,
                                    'Unexpected error when creating triple.')
                            }
                        })
                }
            },
            tripledelete() {
                if (this.$root.progress.show == true) {
                    this.$root.bePatientSnackBar.show = true
                    return
                }
                if (this.$refs.tripleForm.validate()) {
                    this.$root.progress.show = true
                    fetch("{{ url_for('RESTful.triple.delete', deltaGraphId=deltaGraphId) }}", {
                            method: 'DELETE',
                            cache: 'no-store',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({
                                h_name: this.h_name,
                                r_name: this.r_name,
                                t_name: this.t_name,
                            })
                        })
                        .then(response => {
                            try {
                                return response.json()
                            } catch {
                                this.$root.progress.show = false
                                this.$root.errorDisplay({},
                                    'Unexpected error occured.')
                            }
                        })
                        .then(body => {
                            this.$root.progress.show = false
                            if (body.triple) {
                                this.unselectAll()
                                let triple = body.triple
                                let id = edgeIdFromNames(triple.h_name, triple.r_name, triple.t_name)
                                let edge = cy.getElementById(edgeIdFromNames(triple.h_name, triple.r_name,
                                    triple.t_name))[0]
                                edge.data({
                                    workspace_value: "undefined"
                                })
                                cy.edges('[workspace_value = "undefined"][^subject_value = "undefined"]')
                                    .remove()
                                cy.nodes('[[degree = 0]][id != "' + this.rootName + '"]').addClass(
                                    "tempory")
                            } else {
                                this.$root.errorDisplay(body,
                                    'Unexpected error when deleted triple.')
                            }
                        })
                }
            },
            disableButtons() {
                this.canUpdateEdge = false
                this.canDeleteEdge = false
            },
            removeUnreachable() {
                if (this.$root.progress.show == true) {
                    this.$root.bePatientSnackBar.show = true
                    return
                }
                this.$root.progress.show = true
                fetch("{{ url_for('RESTful.triple.deleteUnreachable', deltaGraphId=deltaGraphId) }}", {
                        method: 'DELETE',
                        cache: 'no-store',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                    })
                    .then(response => {
                        try {
                            return response.json()
                        } catch {
                            this.$root.progress.show = false
                            this.$root.errorDisplay({},
                                'Unexpected error occured.')
                        }
                    })
                    .then(body => {
                        this.$root.progress.show = false
                        if (body.triples) {
                            this.unselectAll()
                            body.triples.forEach(triple => {
                                let id = edgeIdFromNames(triple.h_name, triple.r_name, triple
                                    .t_name)
                                let edge = cy.getElementById(edgeIdFromNames(triple.h_name, triple
                                    .r_name,
                                    triple.t_name))[0]
                                edge.data({
                                    workspace_value: "undefined"
                                })
                                cy.edges(
                                    '[workspace_value = "undefined"][subject_value = "undefined"]'
                                ).remove()
                                cy.nodes('[[degree = 0]][id != "' + this.rootName + '"]').remove()
                            })
                        } else {
                            this.$root.errorDisplay(body,
                                'Unexpected error when deleted unreachable triple.')
                        }
                    })

            },
            unselectAll() {
                this.tripleBottomSheet = false
                this.clearForm()
                cy.nodes().unselect()
                cy.edges().unselect()
            },
            clearForm() {
                this.h_name = ''
                this.r_name = ''
                this.t_name = ''
                this.$refs.tripleForm.resetValidation()
            },
            nodeFieldFocus(event) {
                this.focusing = event
                if (event == "head") {
                    cy.nodes().unselect()
                    cy.edges().unselect()
                    cy.nodes('[id = "' + this.h_name + '"]').select()
                } else {
                    cy.nodes().unselect()
                    cy.edges().unselect()
                    cy.nodes('[id = "' + this.t_name + '"]').select()
                }
            },
            nodeFieldChange(event) {
                this.canDeleteEdge = false
                cy.nodes().unselect()
                cy.edges().unselect()
                cy.nodes('[id = "' + event + '"]').select()
                this.determineTripleOptions()
            },
            edgeFieldChange(event) {
                this.canDeleteEdge = false
                this.determineTripleOptions()
            },
            determineTripleOptions() {
                if (this.h_name && this.h_name != '' && this.r_name && this.r_name != '' &&
                    this.t_name && this.t_name != '') {
                    this.canUpdateEdge = true
                    let edge = cy.getElementById(edgeIdFromNames(this.h_name, this.r_name, this.t_name))
                    if (edge) {
                        cy.nodes().unselect()
                        cy.edges().unselect()
                        edge.select()
                        this.canLinkEdge = edge.data("workspace_value") != "true" &&
                            edge.data("subject_value") != "true"
                        this.canDeleteEdge = edge.data("workspace_value") != "undefined"
                    } else {
                        this.canLinkEdge = true
                        this.canDeleteEdge = false
                    }

                } else {
                    this.canUpdateEdge = false
                }
            },
            editorFit() {
                cy.fit(cy, document.documentElement.clientHeight * 0.25)
            }
        },
        mounted: function () {
            cy.mount(document.getElementById("editor"))
            self = this
            cy.on('tap', 'node', (event) => {
                if (self.canUpdateEdge) {
                    self.clearForm()
                }
                if (!self.h_name || this.focusing == "head") {
                    self.h_name = event.target.data("id")
                } else {
                    self.t_name = event.target.data("id")
                }
                self.disableButtons()
                self.determineTripleOptions()
                self.tripleBottomSheet = true;
            })
            cy.on('tap', 'edge', (event) => {
                self.tripleBottomSheet = true;
                self.h_name = event.target.source().data("id")
                self.r_name = event.target.data("name")
                self.t_name = event.target.target().data("id")
                self.determineTripleOptions()
            })
            this.loadData()
        },
        template: '#content',
        delimiters: ['${', '}'],
    })
</script>
{% endblock %}