{% extends "layout.html" %}
{% import 'layout.html' as layout %}
{% block VueComponent %}
<v-card>
    <v-container>
        <v-row>
            <v-text-field v-model="search" append-icon="mdi-magnify" label="Search" hide-details>
            </v-text-field>
        </v-row>
        <v-row>
            <v-data-table show-group-by :headers="headers" style="width:100%" :items="versions" :items-per-page="500"
                multi-sort :search="search">
                <template v-slot:item.actions="{ item }">
                    <v-tooltip bottom>
                        <template v-slot:activator="{ on, attrs }">
                            <v-btn icon v-bind="attrs" v-on="on"
                                :href="'{{ url_for('collegue.compare')}}' + item.deltaGraphId + '/' + item.parent.property.deltaGraphId">
                                <v-icon>
                                    preview
                                </v-icon>
                            </v-btn>
                        </template>
                        view latest versions
                    </v-tooltip>
                    <v-tooltip bottom>
                        <template v-slot:activator="{ on, attrs }" v-if="item.workspace">
                            <v-btn icon v-bind="attrs" v-on="on"
                                :href="'{{ url_for('instructor.workspace')}}' + item.workspace">
                                <v-icon>
                                    work
                                </v-icon>
                            </v-btn>
                        </template>
                        workspace for latest version
                    </v-tooltip>
                </template>
                <template v-slot:item.creationDate="{ item }">
                    ${item.creationDate | formatDate}
                </template>
            </v-data-table>
        </v-row>
    </v-container>
</v-card>
{% endblock %}
{% block VueComponentScript %}
<script>
    Vue.filter("formatDate", (value) => {
        if (value) {
            return (new Date(value)).toLocaleString("en-US", {})
        }
    })
    Vue.component('app-content', {
        data: () => ({
            search: new URLSearchParams(window.location
                .search).get('concept'),
            versions: [],
            headers: [{
                    text: 'tag',
                    value: 'tag',
                    groupable: false,
                },
                {
                    text: 'creation date',
                    value: 'creationDate',
                    groupable: false,
                },
                {
                    text: '',
                    value: 'info',
                    groupable: false,
                },
                {
                    text: '',
                    value: 'actions',
                    groupable: false,
                },
            ],
        }),
        methods: {
            loadData() {
                this.$root.progress.show = true
                let treePromise =
                    fetch(
                        "{{ url_for('RESTful.tree.get', courseCode = courseCode, isInstructor = True, isDLTC = False) }}", {
                            method: 'GET',
                            cache: 'no-store',
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        })
                    .then(response => {
                        try {
                            return response.json()
                        } catch {
                            this.$root.progress.show = false
                            this.$root.errorDisplay({},
                                'Unexpected error occured.')
                        }
                    })
                    .then(body => {
                        this.versions = []
                        if (body.edges && body.trunk_nodes && body.branch_nodes && body.workspace_nodes) {
                            let candidate = body.edges.filter(e => e.start ==
                                "{{ id }}")
                            do {
                                let cursor = candidate[0].start
                                let branch = body.branch_nodes.filter(b => b.id == cursor)[0]
                                let parent = body.branch_nodes.filter(b => b.id == candidate[0].end)[0]
                                parent = parent ? parent : body.trunk_nodes.filter(b => b.id == candidate[0]
                                    .end)[0]
                                let work_on_candidate = body.edges.filter(e => e.type ==
                                    "WORK_ON" && e.end == cursor)
                                let workspace = work_on_candidate.map(we => {
                                    return body.workspace_nodes
                                        .filter(w => w.id == we.start)[0].property
                                        .deltaGraphId
                                }).sort(function (a, b) {
                                    return new Date(b.lastModified) - new Date(a.lastModified);
                                })[0]
                                this.versions.push({
                                    tag: branch.property.tag,
                                    creationDate: branch.property.creationDate,
                                    owned: branch.isOwner,
                                    exposed: branch.isExposed,
                                    deltaGraphId: branch.property.deltaGraphId,
                                    parent: parent,
                                    workspace: workspace,
                                })
                                candidate = body.edges.filter(e => e.type == "PATCH" && e.end &&
                                    e.end == cursor)
                            }
                            while (candidate.length > 0)

                        } else {
                            this.$root.errorDisplay(body,
                                'Unexpected error on getting versions information.')
                        }
                    })
                Promise.all([treePromise]).then(_ => {
                    this.$root.progress.show = false
                })
            },
            newTab(id) {
                let w = window.open("{{ url_for('instructor.repositoryVersions', courseCode=courseCode) }}/" +
                    id, '_blank')
            }
        },
        mounted: function () {
            this.loadData()
        },
        template: '#content',
        delimiters: ['${', '}'],
    })
</script>
{% endblock %}