{% extends "layout.html" %}
{% import 'layout.html' as layout %}
{% block VueComponent %}
<v-card style="height: 100%; width: 100%;">
    <div id="cy" style="height: 100%; width: 100%;"></div>
    <v-menu v-model="showMenu" :position-x="cursor_x" :position-y="cursor_y" absolute>
        <v-list>
            {% if isInstructor %}
            <v-list-item v-if="selectedNodeClasses.includes('branch')" @click="readyToPatch()">
                <v-list-item-title>Ready to patch</v-list-item-title>
            </v-list-item>
            <v-list-item v-if="selectedNodeClasses.includes('branch')" @click="mergeWithAnother()">
                <v-list-item-title>Merge with another</v-list-item-title>
            </v-list-item>
            <v-list-item v-if="selectedNodeClasses.includes('branch') || selectedNodeClasses.includes('trunk')"
                @click="createWorkspaceDialogue()">
                <v-list-item-title>Create workspace</v-list-item-title>
            </v-list-item>
            <v-list-item v-if="selectedNodeClasses.includes('workspace')" @click="fork()">
                <v-list-item-title>Commit as fork</v-list-item-title>
            </v-list-item>
            <v-list-item v-if="selectedNodeClasses.includes('workspace') && selectedNodeClasses.includes('canPatch')" @click="fork()">
                <v-list-item-title>Commit as patch</v-list-item-title>
            </v-list-item>
            {% endif %}
            {% if isDLTC %}
            <v-list-item v-if="selectedNodeClasses.includes('trunk') && !selectedNodeClasses.includes('isActive')"
                @click="setActive()">
                <v-list-item-title>Set as active</v-list-item-title>
            </v-list-item>
            <v-list-item v-if="selectedNodeClasses.includes('trunk')" @click="patch()">
                <v-list-item-title>Create new patch</v-list-item-title>
            </v-list-item>
            {% endif %}
        </v-list>
    </v-menu>
    {% if isInstructor %}
    <v-dialog v-model="workspaceCreateDialog">
        <v-card>
            <v-card-title class="text-h5 grey lighten-2">
                Give a name tag to your new workspace:
            </v-card-title>
            <v-form ref="createWorkspaceControl">
                <v-text-field label="tag" :rules="tagRules" v-model="tag" required></v-text-field>
            </v-form>
            <v-divider></v-divider>

            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary" text @click="createWorkspace()">
                    create
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
    {% endif %}
</v-card>
{% endblock %}
{% block VueComponentScript %}
{{ layout.cytoscapeCDN() }}
<script>
    cy = cytoscape({
        style: [{
                selector: 'node',
                style: {
                    'label': 'data(tag)'
                }
            }, {
                selector: 'node.isActive',
                style: {
                    'shape': 'star'
                }
            }, {
                selector: 'node.workspace',
                style: {
                    'shape': 'diamond'
                }
            }, {
                selector: 'node.workspace',
                style: {
                    'shape': 'triangle'
                }
            },
            {
                selector: 'edge',
                style: {
                    'label': 'data(tag)',
                    'target-arrow-shape': 'triangle',
                    'curve-style': 'bezier'
                }
            }
        ],
        userZoomingEnabled: false,
        userPanningEnabled: false,
        boxSelectionEnabled: false
    })

    function nodeFactory(node, classes) {
        if (node.isActive) {
            classes.push('isActive')
        }
        if (node.canPatch) {
            classes.push('canPatch')
        }
        let output = {
            group: 'nodes',
            data: {
                id: node.id,
                tag: node.property.tag,
                deltaGraphId: node.property.deltaGraphId
            },
            classes: classes,
            position: {
                x: 0,
                y: 0
            },
            grabbable: false,
            pannable: false,
        }
        return output
    }

    function edgeFactory(edge) {
        let output = {
            group: 'edges',
            data: {
                id: edge.id,
                source: edge.start,
                target: edge.end,
                tag: edge.type
            }
        }
        return output

    }
    Vue.component('app-content', {
        data: () => ({
            showMenu: false,
            cursor_x: undefined,
            cursor_y: undefined,
            selectedNodeClasses: [],
            //{% if isInstructor %}
            workspaceCreateDialog: false,
            tag: '',
            tagRules: [v => !!v || 'Tag name is required',
                v => v.length > 3 && v.length < 101 ||
                'Tag name should be anything between 4 and 100 charactors',
                v => /^[a-zA-Z0-9\s]+$/.test(v) ||
                'Tag name can only contains alphanumeric characters and space.'
            ],
            //{% endif %}
        }),
        methods: {
            loadData() {
                this.$root.progress.show = true
                fetch(
                        "{{ url_for('RESTful.tree.get', courseCode = courseCode, isInstructor = isInstructor, isDLTC = isDLTC) }}", {
                            method: 'GET',
                            cache: 'no-store',
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        })
                    .then(response => {
                        try {
                            return response.json()
                        } catch {
                            this.$root.progress.show = false
                            this.$root.errorDisplay({},
                                'Unexpected error occured.')
                        }
                    })
                    .then(body => {
                        this.$root.progress.show = false
                        if (body.edges && body.trunk_nodes && body.branch_nodes && body.workspace_nodes) {
                            body.trunk_nodes.forEach(node => {
                                cy.add(nodeFactory(node, ["trunk"]))
                            })
                            body.branch_nodes.forEach(node => {
                                cy.add(nodeFactory(node, ["branch"]))
                            })
                            body.workspace_nodes.forEach(node => {
                                cy.add(nodeFactory(node, ["workspace"]))
                            })
                            body.edges.forEach(edge => {
                                cy.add(edgeFactory(edge))
                            })
                            cy.layout({
                                name: 'breadthfirst',
                                fit: true,
                                grid: true,
                                roots: 'node[tag = "init"]',
                                padding: document.documentElement.clientHeight * 0.15
                            }).run()
                        } else {
                            this.$root.errorDisplay(body,
                                'Unexpected error on getting drafts information.')
                        }
                    })
            },
            // {% if isInstructor %}
            readyToPatch() {

            },
            mergeWithAnother() {

            },
            createWorkspaceDialogue() {
                this.workspaceCreateDialog = true
            },
            createWorkspace() {
                if (this.$refs.createWorkspaceControl.validate()) {
                    if (this.$root.progress.show == true) {
                        this.$root.bePatientSnackBar.show = true
                        return
                    }
                    this.$root.progress.show = true
                    fetch("{{ url_for('RESTful.workspace.put') }}" + this.selectedId, {
                            method: 'PUT',
                            cache: 'no-store',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({
                                tag: this.tag,
                            })
                        })
                        .then(response => {
                            return response.json()
                        })
                        .then(body => {
                            this.$root.progress.show = false
                            this.$root.responseSnackBar(body,
                                'Creation failed for unkown reason.',
                                () => {
                                    this.workspaceCreateDialog = false
                                    this.$refs.createWorkspaceControl.reset()
                                    this.loadData()
                                })
                        })
                }
            },
            fork() {

            },
            // {% endif %}
            // {% if isDLTC %}
            setActive() {

            },
            patch() {

            },
            // {% endif %}
        },
        mounted: function () {
            cy.mount(document.getElementById("cy"))
            self = this
            cy.on('cxttapend', (event) => {
                console.log(event)
                if (event.target == event.cy) return
                self.showMenu = true
                self.cursor_x = event.originalEvent.clientX
                self.cursor_y = event.originalEvent.clientY
                this.selectedNodeClasses = event.target.classes()
                this.selectedId = event.target.data("id")
            })
            cy.on('tap', 'node', (event) => {
                console.log(event)
                if (event.target == event.cy) return

                if (event.target.classes().includes("trunk"))
                    window.open("127.0.0.1:5000", '_blank').focus()
                if (event.target.classes().includes("branch"))
                    window.open("127.0.0.1:5000", '_blank').focus()
                // {% if isInstructor %}
                if (event.target.classes().includes("workspace"))
                    window.open("{{ url_for('instructor.workspace')}}" + event.target.data(
                        "deltaGraphId"), '_blank').focus()
                // {% endif %}
                // {% if isDLTC %}
                // {% endif %}
            })
            this.loadData()
        },
        template: '#content',
        delimiters: ['${', '}'],
    })
</script>
{% endblock %}