{% extends "layout.html" %}
{% import 'layout.html' as layout with context %}
{% import 'component/cyMetricsVisualize.html' as cyMetricsVisualize %}
{% import 'component/cyOption.html' as cyOption %}
{% block VueComponent %}
<v-card style="height: 100%; width: 100%;">
    <div id="cy" style="height: 100%; width: 100%;"></div>
    <v-bottom-sheet v-model="metricsBottomSheet" insert :hide-overlay="true" no-click-animation>
        <kcube-metrics-visualize-bottom-sheet></kcube-metrics-visualize-bottom-sheet>
    </v-bottom-sheet>
    <v-tooltip top>
        <template v-slot:activator="{ on, attrs }">
            <v-btn absolute style="bottom:3vh;left:3vh" fab v-on="on" @click="metricsBottomSheet = true">
                <v-icon>insights</v-icon>
            </v-btn>
        </template>
        centrality metrics
    </v-tooltip>
    <v-dialog max-width="700px">
        <template v-slot:activator="{ on: menu, attrs }">
            <v-tooltip top>
                <template v-slot:activator="{ on: tooltip }">
                    <v-btn absolute style="bottom:3vh;left:12vh" fab v-bind="attrs" v-on="{ ...tooltip, ...menu }">
                        <v-icon>palette</v-icon>
                    </v-btn>
                </template>
                graph<br>display<br>options
            </v-tooltip>
        </template>
        <v-cy-options-dialog></v-cy-options-dialog>
    </v-dialog>
    <v-dialog v-model="materialDialogue" content-class="materialPage" transition="slide-x-reverse-transition"
        hide-overlay persistent no-click-animation>
        <iframe ref="iframe" style="height: 100%; width:100%" frameBorder="0"
            src="{{ url_for('material', courseCode = courseCode)}}"></iframe>
    </v-dialog>
</v-card>
{% endblock %}
{% block VueComponentScript %}
{{ layout.cytoscapeCDN() }}
{{ cyMetricsVisualize.component()}}
{{ cyMetricsVisualize.script()}}
{{ cyOption.component()}}
{{ cyOption.script()}}
<script src="{{ url_for('static', filename='options/cytoscapeStyle.js') }}"></script>
<style>
    .materialPage {
        height: 100vh;
        padding: unset;
        right: 0px;
        width: 30vw;
        max-height: unset !important;
        position: absolute;
        right: 0px;
        margin: unset;
        overflow: clip;
    }
</style>
<script>
    cy = cytoscape({
        style: cyStyles.simpleStyle,
        wheelSensitivity: 0.15,
        boxSelectionEnabled: false,
    })
    cytoscapeInstance = [{
        cy: cy,
        edgeSelector: "[value = 'true']",
        options: "simpleStyle"
    }]
    concentricLayoutOptions = {
        name: 'concentric',

    }
    coseLayoutOptions = {
        name: 'cose',
        padding: document.documentElement.clientHeight * 0.15,
        fit: true,
        idealEdgeLength: function (edge) {
            return 64;
        },
        edgeElasticity: function (edge) {
            return 128;
        },
        gravity: 0.15
    }

    function nodeFactory(name, classes) {
        let output = {
            group: 'nodes',
            data: {
                id: name,
                name: name
            },
            classes: classes,
            position: {
                x: 0,
                y: 0
            },
        }
        return output
    }

    function edgeFactory(edge) {
        let output = {
            group: 'edges',
            data: {
                source: edge.h_name,
                target: edge.t_name,
                name: edge.r_name,
                id: edgeIdFromNames(edge.h_name, edge.r_name, edge.t_name),
                value: edge.r_value ? 'true' : 'false',
            }
        }
        return output
    }

    function edgeIdFromNames(h_name, r_name, t_name) {
        return h_name + '.' + r_name + '.' + t_name
    }
    Vue.component('app-content', {
        data: () => ({
            metricsBottomSheet: false,
            materialDialogue: true,
        }),
        methods: {
            loadData() {
                this.$root.progress.show = true
                fetch(
                        "{{ url_for('RESTful.graph.get', deltaGraphId = deltaGraphId) }}", {
                            method: 'GET',
                            cache: 'no-store',
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        })
                    .then(response => {
                        try {
                            return response.json()
                        } catch {
                            this.$root.progress.show = false
                            this.$root.errorDisplay({},
                                'Unexpected error occured.')
                        }
                    })
                    .then(body => {
                        this.$root.progress.show = false
                        if (body.graph && body.triples) {
                            cy.add(nodeFactory(body.graph.courseCode, ["course"]))
                                .data(
                                    'imageURL',
                                    body.graph.imageURL,
                                )
                            body.triples.forEach(triple => {
                                if (!triple.r_value) return [triple.h_name, triple.t_name].forEach(
                                    name => {
                                        if (cy.getElementById(name).length == 0) {
                                            cy.add(nodeFactory(name))
                                        }
                                    })
                                cy.add(edgeFactory(triple))
                            })
                            cy.elements().style('visibility', 'hidden')
                            let cyLayout = cy.layout({
                                ...concentricLayoutOptions,
                                // concentric: function (node) {
                                //     return cyDijkstra.distanceTo(node) * -1
                                // }
                            })
                            cyLayout.one('layoutstop', function () {
                                let cyLayout = cy.layout(coseLayoutOptions)
                                cyLayout.one('layoutstop', function () {
                                    cy.elements().style('visibility', 'visible')
                                })
                                cyLayout.run()
                            })
                            cyLayout.run()
                        } else {
                            this.$root.errorDisplay(body,
                                'Unexpected error on getting courses information.')
                        }
                    })
            },
            newTab(keyword) {
                this.materialDialogue = true
                this.$nextTick(function () {
                    this.$refs.iframe.contentWindow.postMessage(keyword, '*')
                })
                //let w = window.open(url, '_blank')
            }
        },
        mounted: function () {
            cy.mount(document.getElementById("cy"))
            cytoscapeInstance.forEach(instance => {
                instance.cy.container().style.background = cyStyles[instance.options].filter(
                    sheet => sheet.selector == 'background-color')[0].style["background-color"]
            })
            self = this
            this.$nextTick(function () {
                this.materialDialogue = false
            })
            cy.on('tap', 'node', (event) => {
                console.log(event)
                if (event.target == event.cy) return
                console.log(event.target.classes())
                if (event.target.classes().includes("course")) {} else {
                    this.newTab(event.target[0].data('id'))
                }
            })
            document.body.addEventListener("mouseup", (event) => {
                console.log("click")
                self.materialDialogue = false
            })
            this.loadData()
        },
        template: '#content',
        delimiters: ['${', '}'],
    })
</script>
{% endblock %}