{% set widgetComponentName = 'kcube-' + request.blueprint + '-overview' %}
{% macro componentContent() %}
<div style="height: 100%; width: 100%;">
    <div ref="canvas" style="height: 99%; width: 99%;"></div>
</div>
{% endmacro %}
{% macro component() %}
<script type="text/x-template" id="{{widgetComponentName}}">
    {{ componentContent()}}
</script>
{% endmacro %}
{% macro script() %}
<script>
    (() => {
        widgetName = 'overview'
        widgetComponentName = '{{widgetComponentName}}'
        KCube.widgetName.push(widgetName)
        KCube.widgetOptions[widgetName] = {
            component: widgetComponentName,
        }
    })();
    Vue.component(widgetComponentName, {
        data: () => ({}),
        methods: {
            loadData() {
                fetch("{{ url_for('RESTful.branch.query', pullSummary=True) }}", {
                        method: "GET",
                        cache: dashboardOption.cacheMode,
                        headers: {
                            'Content-Type': 'application/json',
                            "Cache-Control": dashboardOption.cacheControl
                        },

                    }).then(response => {
                        try {
                            return response.json()
                        } catch {
                            this.$root.progress.show = false
                            this.$root.errorDisplay({},
                                'Unexpected error occured.')
                        }
                    })
                    .then(body => {
                        if (body.branches) {
                            let element = this.$refs.canvas
                            let chart = echarts.init(element);
                            let dates = body.branches.filter(branch => branch.canPullDate).map(branch =>
                                new Date(branch.canPullDate
                                    .split('T')[0]))
                            let today = new Date()
                            let firstDay = Math.min(...dates)
                            firstDay = new Date(firstDay)
                            let days = []
                            for (; firstDay < today; firstDay.setDate(firstDay.getDate() + 1)) {
                                days.push(firstDay.toLocaleDateString())
                            }
                            let option = {
                                xAxis: {
                                    data: days,
                                },
                                yAxis: {},
                                series: [{
                                    type: 'line',
                                    data: dates.map(date =>
                                        date.toLocaleDateString()
                                    ).reduce((data, canPullDate) => {
                                        let slot = data.filter(d => d[0] == canPullDate)
                                        if (slot.length == 0) {
                                            data.push([canPullDate, 1])
                                        } else {
                                            slot[0][1]++
                                        }
                                        return data
                                    }, days.map(day => [day, 0])),
                                }]
                            };
                            chart.setOption(option)
                        } else {
                            this.$root.errorDisplay(body,
                                'Unexpected error on getting versions information.')
                        }
                    })

            }
        },
        template: '#' + widgetComponentName,
        delimiters: ['${', '}'],
        mounted: function () {
            this.loadData()
        },
    })
</script>
{% endmacro %}
{{ component() }}
{{ script() }}