{% macro component() %}
<v-card flat>
    <v-form ref="control">
        <v-container>
            <v-row>
                <v-text-field v-model="courseCode" :rules="courseCodeRules" label="Cource Code" required>
                </v-text-field>
            </v-row>
            <v-row>

                <v-text-field v-model="courseName" :rules="courseNameRules" label="Course Name" required>
                </v-text-field>

            </v-row>
            <v-row>
                <v-select label="Image url" v-model="imageUrl" :rules="imageUrlRules" :items="imagesUrl" required>
                    <template v-slot:item="{ item }">
                        <v-img :src="item" height="40" contain></v-img>
                    </template>
                </v-select>
            </v-row>
            <v-row>
                <v-btn @click="Submit" color="success">
                    Merge
                </v-btn>
            </v-row>
        </v-container>
    </v-form>
</v-card>
{% endmacro %}
{% macro script(imagesUrl) %}
<script>
    Vue.component('admin-course-form', {
        data: () => ({
            imagesUrl: [
                //{% for url in imagesUrl %}
                '{{ url | safe}}',
                //{% endfor %}
            ],

            courseCode: '',
            courseCodeRules: [v => !!v || 'Course code is required',
                v => v.length > 3 && v.length < 101 ||
                'Course code should be anything between 4 and 100 charactors',
                v => /^[a-zA-Z0-9\s]+$/.test(v) ||
                'Course code can only contains alphanumeric characters and space.'
            ],
            courseName: '',
            courseNameRules: [v => !!v || 'Course name is required',
                v => v.length > 3 && v.length < 101 ||
                'Course name should be anything between 4 and 100 charactors',
                v => /^[a-zA-Z0-9\s]+$/.test(v) ||
                'Course name can only contains alphanumeric characters and space.'
            ],
            imageUrl: '',
            imageUrlRules: [],

        }),
        methods: {
            Submit() {
                if (this.$refs.control.validate()) {
                    if (this.$root.progress.show == true) {
                        this.$root.bePatientSnackBar.show = true
                        return
                    }
                    this.$root.progress.show = true
                    fetch("{{ url_for('RESTful.courseCreate') }}", {
                            method: 'POST',
                            cache: 'no-store',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({
                                displayName: this.courseName,
                                imageURL: this.imageUrl,
                                name: this.courseCode,
                            })
                        })
                        .then(response => {
                            return response.json()
                        })
                        .then(body => {
                            this.$root.progress.show = false
                            this.$root.responseSnackBar(body,
                                'Creation failed for unkown reason.',
                                false, this.control.reset)
                        })
                }
            },

        },
        template: '#admincourse'
    })
</script>
{% endmacro %}