{% extends "layout.html" %}
{% import 'layout.html' as layout %}
{% block VueComponent %}
<v-card>
    <v-tabs v-model="tab" center-active>
        <v-tab herf="?tab='panel">Panel</v-tab>
        <v-tab herf="?tab='role">Users' Role</v-tab>
        <v-tab herf="?tab='course">Course</v-tab>
        <v-tab herf="?tab='uploadImage">Upload Image</v-tab>
    </v-tabs>
    <v-tabs-items v-model="tab">
        <v-tab-item>
        </v-tab-item>
        <v-tab-item>
            <admin-userRole-form></admin-userRole-form>
        </v-tab-item>
        <v-tab-item>
            <admin-course-form></admin-course-form>
        </v-tab-item>
        <v-tab-item>
            <admin-uploadImage-form></admin-uploadImage-form>
        </v-tab-item>
    </v-tabs-items>
</v-card>
{% endblock %}
{% block VueComponentScript %}
<script>
    Vue.component('app-content', {
        data: () => ({
            tab: ['panel', 'role', 'course', 'uploadImage'].indexOf(new URLSearchParams(window.location.search).get('tab')),
        }),
        methods: {
        },
        template: '#content'
    })
</script>

{% import 'admin/panel.html' as panel %}
<script type="text/x-template" id="adminPanel">
    {{ panel.component() }}
</script>
{{ panel.script() }}

{% import 'admin/course.html' as course %}
<script type="text/x-template" id="admincourse">
    {{ course.component() }}
</script>
{{ course.script(imagesUrl = imagesUrl) }}

{% import 'admin/uploadImage.html' as uploadImage %}
<script type="text/x-template" id="adminUploadImage">
    {{ uploadImage.component() }}
</script>
{{ uploadImage.script() }}

{% import 'admin/userRole.html' as userRole %}
<script type="text/x-template" id="adminUserRole">
    {{ userRole.component() }}
</script>
{{ userRole.script() }}

{% endblock %}