{% macro component() %}
<v-card>
    <v-card-title>
        <v-treeview dense open-on-click :items="permissions"></v-treeview>
    </v-card-title>
    <v-text-field v-model="search" append-icon="mdi-magnify" label="Search" single-line hide-details></v-text-field>
    <v-data-table :headers="roles" :items="users" :items-per-page="500" multi-sort :search="search">
        <template v-slot:item="{ item }">
            <tr>
                <td v-for="(value, name) in item">
                    <v-simple-checkbox readonly color="info" :value="value" v-if="typeof value  == 'boolean'"
                        @click="flipRole(item.userId , name, value)">
                    </v-simple-checkbox>
                    <v-chip v-else>${item.userId}</v-chip>
                </td>
            </tr>
        </template>
    </v-data-table>
</v-card>
{% endmacro %}
{% macro script() %}
<script>
    Vue.component('admin-userRole-form', {
        data: () => ({
            users: [],
            roles: [],
            permissions: [],
            search: ""
        }),
        methods: {
            loadData() {
                this.$root.progress.show = true
                fetch("{{ url_for('RESTful.listPermission') }}", {
                    method: 'GET',
                    cache: 'no-store',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                })
                    .then(response => {
                        return response.json()
                    })
                    .then(body => {
                        if (body.permissions) {
                            this.roles = [{ text: "UserId", value: 'userId' }, ...body.permissions
                                .map(p => { return { text: p.role, value: p.role } })]
                            this.permissions = body.permissions.map(p => {
                                return {
                                    name: p.role, children: Object.keys(p)
                                        .map(k => { return { name: k + ' : ' + p[k] } })
                                }
                            })
                            fetch("{{ url_for('RESTful.listUserPermission') }}", {
                                method: 'GET',
                                cache: 'no-store',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                            })
                                .then(response => {
                                    return response.json()
                                })
                                .then(body => {
                                    this.$root.progress.show = false
                                    if (body.users) {
                                        this.users = body.users.map(u => {
                                            user_row = { userId: u.user.userId }
                                            this.permissions.forEach(element => {
                                                user_row[element.name] = u.roles.includes(element.name)
                                            });
                                            return user_row
                                        })
                                    }
                                    else {
                                        if (body.message) {
                                            this.$root.errorSnackBar.message = body.message
                                            this.$root.errorSnackBar.show = true
                                        }
                                        else {
                                            this.$root.errorSnackBar.message = 'Unexpected error on getting user information.'
                                            this.$root.errorSnackBar.show = true
                                        }
                                    }
                                })

                        }
                        else {
                            if (body.message) {
                                this.$root.errorSnackBar.message = body.message
                                this.$root.errorSnackBar.show = true
                            }
                            else {
                                this.$root.errorSnackBar.message = 'Unexpected error on getting role information.'
                                this.$root.errorSnackBar.show = true
                            }
                        }
                    })
            },
            flipRole(userId, role, value) {
                if (this.$root.progress.show == true) {
                    this.$root.bePatientSnackBar.show = true
                    return
                }
                this.$root.progress.show = true
                fetch("{{ url_for('RESTful.put_delete_user_role') }}" + userId, {
                    method: value ? "DELETE" : "PUT",
                    cache: 'no-store',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        role: role
                    })
                })
                    .then(response => {
                        return response.json()
                    })
                    .then(body => {

                        this.$root.progress.show = false
                        if (body.success) {
                            this.loadData()
                        }
                        else {
                            if (body.message) {
                                this.$root.errorSnackBar.message = body.message
                                this.$root.errorSnackBar.show = true
                            }
                            else {
                                this.$root.errorSnackBar.message = 'Unexpected error on setting role assignment.'
                                this.$root.errorSnackBar.show = true
                            }
                        }
                    })
            }
        },
        template: '#adminUserRole',
        created: function () {
            this.loadData()
        },
        delimiters: ['${', '}'],
    })
</script>
{% endmacro %}