{% extends "layout.html" %}
{% import 'layout.html' as layout %}
{% block VueComponent %}
<v-card>
    <v-btn href="{{ url_for('user.refreshPermission') }}">renew permission</v-btn>
</v-card>
{% endblock %}
{% block VueComponentScript %}
<script>
    Vue.component('app-content', {
        data: () => ({}),
        methods: {
            renewPermission() {
                if (this.$root.progress.show == true) {
                    this.$root.bePatientSnackBar.show = true
                    return
                }
                this.$root.progress.show = true
                fetch("{{ url_for('user.refreshPermission') }}", {
                        method: 'GET',
                        cache: 'no-store',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                    })
                    .then(response => {
                        return response.json()
                    })
                    .then(body => {
                        this.$root.responseSnackBar(body, 'Unexpected error on renewing permission.')
                    })
            }
        },
        template: '#content'
    })
</script>
{% endblock %}