{% extends "layout.html" %}
{% import 'layout.html' as layout %}
{% block VueComponent %}
<v-card>
    <v-btn href="{{ url_for('user.refreshPermission') }}">renew permission</v-btn>
</v-card>
{% endblock %}
{% block VueComponentScript %}
<script>
    Vue.component('app-content', {
        data: () => ({
        }),
        methods: {
            renewPermission() {
                if (this.$root.progress.show == true) {
                    this.$root.bePatientSnackBar.show = true
                    return
                }
                this.$root.progress.show = true
                fetch("{{ url_for('user.refreshPermission') }}", {
                    method: 'GET',
                    cache: 'no-store',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                })
                    .then(response => {
                        return response.json()
                    })
                    .then(body => {

                        if (body.success) {
                            this.$root.progress.show = false
                            if (body.message) {
                                this.$root.completeSnackBar.message = body.message
                            }
                            else {
                                this.$root.completeSnackBar.message = 'success'
                            }
                            this.$root.completeSnackBar.show = true
                        }
                        else {
                            if (body.message) {
                                this.$root.errorSnackBar.message = body.message
                                this.$root.errorSnackBar.show = true
                            }
                            else {
                                this.$root.errorSnackBar.message = 'Unexpected error on renewing permission.'
                                this.$root.errorSnackBar.show = true
                            }
                        }
                    })
            }
        },
        template: '#content'
    })
</script>
{% endblock %}