{% extends "layout.html" %}
{% import 'layout.html' as layout with context %}
{% block VueComponent %}
<v-card style="height: 100%; width: 100%;">
    <div style="height: 80vh; width: 90vw;">
        <div id="editor" style="height: 100%; width: 100%;"></div>
        <v-fab-transition>
            <v-btn color="primary" absolute bottom right fab @click="networkFit">
                <v-icon>fit_screen</v-icon>
            </v-btn>
        </v-fab-transition>
    </div>
</v-card>
{% endblock %}
{% block VueComponentScript %}
{{ layout.visCDN() }}
<script>
    /*https://github.com/almende/vis/issues/2567
    getter and setter proxy of vue will mess up the vis
    */
    nodes = new vis.DataSet([]);
    edges = new vis.DataSet([]);
    network = undefined

    function edgeIdFromNames(h_name, r_name, t_name) {
        return h_name + '.' + r_name + '.' + t_name
    }

    function nodeColorFactory({
        isTempory = undefined,
        isRoot = undefined,
        isNew = undefined
    }) {
        let color = {
            border: isTempory ? '#ff8787' : isNew ? '#47f5be' : '#87a3ff',
            background: isTempory ? '#ffbfbf' : isNew ? '#bfffeb' : '#b6c9fc',
            highlight: {
                border: isTempory ? '#ff4d4d' : '#bf87ff',
                background: isTempory ? '#ff8787' : '#d7b6fc',
            }
        }
        return color
    }

    function edgeColorFactory({
        isTempory = undefined,
        isNew = undefined
    }) {
        let nodeColor = nodeColorFactory({
            isTempory: isTempory,
            isNew: isNew
        })
        let color = {
            color: nodeColor.border,
            highlight: nodeColor.highlight.border
        }
        return color
    }

    function nodeFactory({
        name,
        imageURL,
        title = undefined,
        isTempory = undefined,
        isRoot = undefined,
        isNew = undefined
    }) {
        let node = {
            shape: imageURL ? 'circularImage' : 'dot',
            size: 30,
            id: name,
            label: name,
            image: imageURL ? imageURL : undefined,
            color: nodeColorFactory({
                isTempory: isTempory,
                isRoot: isRoot,
                isNew: isNew
            }),
            fixed: isRoot ? true : undefined,
            title: title,
        }
        return node
    }

    function edgeFactory({
        from,
        to,
        label,
        vote,
        title = undefined,
        isTempory = undefined,
        isNew = undefined
    }) {
        let edge = {
            font: {
                size: 12,
                align: 'horizontal',
                vadjust: 0
            },
            length: 250,
            arrows: {
                to: true
            },
            smooth: false,
            from: from,
            to: to,
            label: label,
            id: edgeIdFromNames(from, label, to),
            dashed: isTempory ? 'dashed' : undefined,
            color: edgeColorFactory({
                isTempory: isTempory,
                isNew: isNew
            }),
            title: "Associated with " + vote + " course" + (vote > 1 ? 's.' : '.'),
            width: vote,
        }
        return edge

    }
    Vue.component('app-content', {
        data: () => ({}),
        methods: {
            loadData() {
                this.$root.progress.show = true
                fetch("{{ url_for('RESTful.triple.query', aggregated=True) }}", {
                        method: 'GET',
                        cache: 'no-store',
                    })
                    .then(response => {
                        try {
                            return response.json()
                        } catch {
                            this.$root.progress.show = false
                            this.$root.errorDisplay({},
                                'Unexpected error occured.')
                        }
                    })
                    .then(body => {
                        this.$root.progress.show = false
                        if (body.triples) {

                            let nodeSet = new Set()
                            body.triples.forEach(triple => {
                                edges.add(
                                    edgeFactory({
                                        from: triple.h_name,
                                        to: triple.t_name,
                                        label: triple.r_name,
                                        vote: triple.trunkVote
                                    })
                                )
                                nodeSet.add(triple.h_name)
                                nodeSet.add(triple.t_name)
                            });
                            nodeSet.forEach(node => {
                                nodes.add(nodeFactory({
                                    name: node
                                }))
                            })
                            body.courses.forEach(course => {

                                nodes.update(nodeFactory({
                                    name: course.concept.name,
                                    imageURL: course.course.imageURL,
                                }))
                            })
                            let data = {
                                nodes: nodes,
                                edges: edges,
                            };
                            let container = document.getElementById("editor");
                            let options = {
                                interaction: {
                                    selectConnectedEdges: false,
                                },
                                physics: {
                                    repulsion: {
                                        springLength: 800
                                    }
                                }
                            };
                            network = new vis.Network(container, data, options);

                        } else {
                            this.$root.errorDisplay(body,
                                'Unexpected error on getting draft information.')

                        }
                    })
            },
            networkFit() {
                network.fit()
            }
        },
        mounted: function () {
            this.loadData()

        },
        template: '#content',
        delimiters: ['${', '}'],
    })
</script>
{% endblock %}