{% extends "layout.html" %}
{% import 'layout.html' as layout %}
{% block VueComponent %}
<v-container>
    <v-row v-for="row in rows">
        <v-col v-for="col in row" cols="3" class="d-flex" style="flex-direction:column">
            <v-card v-if="col.userName" :href="'{{ url_for('courseGraph', courseCode=courseCode) }}' + (col.userId !=
            null ? '/' + col.userId : '')">
                <v-card-title>
                    ${col.userName}
                </v-card-title>
            </v-card>
        </v-col>
    </v-row>
</v-container>
{% endblock %}
{% block VueComponentScript %}
{{ layout.cytoscapeCDN() }}
<script>
    Vue.component('app-content', {
        data: () => ({
            rows: [
                []
            ],
            course: null,
            // {% if isDLTC %}
            instructors: null,
            instructorDialogue: false,
            // {% endif %}
        }),
        methods: {
            loadData() {
                this.$root.progress.show = true
                fetch(
                        "{{ url_for('RESTful.course.query', graphs=True, courseCode = courseCode) | safe }}", {
                            method: 'GET',
                            cache: 'no-store',
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        })
                    .then(response => {
                        try {
                            return response.json()
                        } catch {
                            this.$root.progress.show = false
                            this.$root.errorDisplay({},
                                'Unexpected error occured.')
                        }
                    })
                    .then(body => {
                        this.$root.progress.show = false
                        let colPerRow = 4
                        if (body.instructors) {
                            body.instructors.forEach(instructor => {
                                let lastRow = this.rows[this.rows.length - 1]
                                if (lastRow.length == colPerRow) {
                                    this.rows.push([])
                                    lastRow = this.rows[this.rows.length - 1]
                                }
                                lastRow.push(instructor)

                            })
                            let lastRow = this.rows[this.rows.length - 1]
                            if (lastRow.length == colPerRow) {
                                this.rows.push([])
                                lastRow = this.rows[this.rows.length - 1]
                            }
                            lastRow.push({
                                userName: 'department',
                                userId: null
                            })
                            while (lastRow.length < colPerRow) {
                                lastRow.push({})
                            }
                        } else {
                            this.$root.errorDisplay(body,
                                'Unexpected error on getting courses information.')
                        }
                    })
            },
        },
        mounted: function () {
            this.loadData()
        },
        template: '#content',
        delimiters: ['${', '}'],
    })
</script>
{% endblock %}