{% extends "layout.html" %}
{% import 'layout.html' as layout %}
{% block VueComponent %}

<v-container>
    {% if isInstructor %}
    <v-dialog v-model="courseInfoDialogue" max-width="500px">
        <v-card v-if="course">
            <v-card-title>${course.courseName}</v-card-title>
            <v-card-text>
                <v-form ref="courseInfoFormControl">
                    <v-container>
                        <v-row>
                            <v-text-field v-model="courseCode" :rules="courseCodeRules" label="Cource Code" required>
                            </v-text-field>
                        </v-row>
                        <v-row>

                            <v-text-field v-model="courseName" :rules="courseNameRules" label="Course Name" required>
                            </v-text-field>

                        </v-row>
                        <v-row>
                            <v-select label="Image url" v-model="imageURL" :rules="imageURLRules" :items="imagesUrl"
                                required>
                                <template v-slot:item="{ item }">
                                    <v-img :src="item" height="40" contain></v-img>
                                </template>
                            </v-select>
                        </v-row>
                        <v-row>
                            <v-btn @click="updateCourseInfo()" color="success">
                                update
                            </v-btn>
                        </v-row>
                    </v-container>
                </v-form>
            </v-card-text>
        </v-card>
    </v-dialog>
    <v-dialog v-model="instructorDialogue" max-width="500px">
        <v-card v-if="course">
            <v-card-title>Instructors for ${course.courseName}</v-card-title>
            <v-card-text>
                <v-subheader>Assigned</v-subheader>
                <v-chip @click="unassign(user.userId)" v-for="user in instructors" v-if="user.isAssigned"
                    close-icon="file_download">
                    ${user.userId}
                    <v-icon right>file_download</v-icon>
                </v-chip>
            </v-card-text>
            <v-card-text>
                <v-subheader>Not assigned</v-subheader>
                <v-chip @click="assign(user.userId)" v-for="user in instructors" v-if="!user.isAssigned"
                    close-icon="upload">
                    ${user.userId}
                    <v-icon right>upload</v-icon>
                </v-chip>
            </v-card-text>
        </v-card>
    </v-dialog>
    {% endif %}
    <v-row v-for="row in rows">
        <v-col v-for="col in row" cols="4" class="d-flex" style="flex-direction:column">
            {% if isFeedback %}
            <v-card v-if="col.courseCode" @click="open(col.courseCode)">
                <v-list-item three-line>
                    <v-list-item-content>
                        <v-list-item-title>
                            ${col.courseCode}
                        </v-list-item-title>
                        <v-list-item-subtitle>
                            ${col.courseName}</v-list-item-subtitle>
                    </v-list-item-content>
                    <v-list-item-avatar tile size="96">
                        <img :src="col.imageURL">
                    </v-list-item-avatar>
                </v-list-item>
            </v-card>
            {% else %}
            <v-menu bottom right offset-x v-if="col.courseCode" direction="right" open-on-hover max-width="36">
                <template v-slot:activator="{ on, attrs }">
                    <v-card v-bind="attrs" v-on="on">
                        <v-list-item three-line>
                            <v-list-item-content>
                                <v-list-item-title>
                                    ${col.courseCode}
                                </v-list-item-title>
                                <v-list-item-subtitle>
                                    ${col.courseName}</v-list-item-subtitle>
                            </v-list-item-content>
                            <v-list-item-avatar tile size="96">
                                <img :src="col.imageURL">
                            </v-list-item-avatar>
                        </v-list-item>
                    </v-card>
                </template>
                {% if isInstructor %}
                <v-tooltip bottom>
                    <template v-slot:activator="{ on, attrs }">
                        <v-btn v-bind="attrs" v-on="on" @click="courseBranch(col.courseCode)" icon>
                            <v-icon>account_tree</v-icon>
                        </v-btn>
                    </template>
                    <span>Branchs</span>
                </v-tooltip>
                <v-tooltip bottom>
                    <template v-slot:activator="{ on, attrs }">
                        <v-btn v-bind="attrs" v-on="on" @click="courseSchedule(col.courseCode)" icon>
                            <v-icon>edit_calendar</v-icon>
                        </v-btn>
                    </template>
                    <span>Course Schedules</span>
                </v-tooltip>
                <v-tooltip bottom>
                    <template v-slot:activator="{ on, attrs }">
                        <v-btn v-bind="attrs" v-on="on" @click="courseLink(col.courseCode)" icon>
                            <v-icon>add_link</v-icon>
                        </v-btn>
                    </template>
                    <span>Course Resources</span>
                </v-tooltip>
                <v-tooltip bottom>
                    <template v-slot:activator="{ on, attrs }">
                        <v-btn v-bind="attrs" v-on="on" @click="courseAssignment(col)" icon>
                            <v-icon>assignment_ind</v-icon>
                        </v-btn>
                    </template>
                    <span>Assign Instructor</span>
                </v-tooltip>
                <v-tooltip bottom>
                    <template v-slot:activator="{ on, attrs }">
                        <v-btn v-bind="attrs" v-on="on" @click="courseInfo(col)" icon>
                            <v-icon>edit</v-icon>
                        </v-btn>
                    </template>
                    <span>Edit info</span>
                </v-tooltip>
                {% elif isDLTC %}
                <v-tooltip bottom>
                    <template v-slot:activator="{ on, attrs }">
                        <v-btn v-bind="attrs" v-on="on" @click="courseTrunk(col.courseCode)" icon>
                            <v-icon>account_tree</v-icon>
                        </v-btn>
                    </template>
                    <span>Versions</span>
                </v-tooltip>
                {% endif %}
            </v-menu>
            {% endif %}
        </v-col>
    </v-row>
</v-container>

{% endblock %}
{% block VueComponentScript %}
<script>
    Vue.component('app-content', {
        data: () => ({
            rows: [
                []
            ],
            course: null,
            // {% if isInstructor %}
            instructors: null,
            instructorDialogue: false,
            courseInfoDialogue: false,
            imagesUrl: [
                //{% for url in imagesUrl %}
                '{{ url | safe}}',
                //{% endfor %}
            ],
            courseCode: '',
            courseCodeRules: [v => !!v || 'Course code is required',
                v => v.length > 3 && v.length < 101 ||
                'Course code should be anything between 4 and 100 charactors',
                v => /^[a-zA-Z0-9\s]+$/.test(v) ||
                'Course code can only contains alphanumeric characters and space.'
            ],
            courseName: '',
            courseNameRules: [v => !!v || 'Course name is required',
                v => v.length > 3 && v.length < 101 ||
                'Course name should be anything between 4 and 100 charactors',
                v => /^[a-zA-Z0-9\s]+$/.test(v) ||
                'Course name can only contains alphanumeric characters and space.'
            ],
            imageURL: '',
            imageURLRules: [],
            // {% endif %}
        }),
        methods: {
            loadData() {
                this.$root.progress.show = true
                fetch(
                        // {% if isInstructor %}
                        "{{ url_for('RESTful.course.query', user=True) }}",
                        // {% else %}
                        "{{ url_for('RESTful.course.query', list=True) }}",
                        // {% endif %}
                        {
                            method: 'GET',
                            cache: 'no-store',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                        })
                    .then(response => {
                        try {
                            return response.json()
                        } catch {
                            this.$root.progress.show = false
                            this.$root.errorDisplay({},
                                'Unexpected error occured.')
                        }
                    })
                    .then(body => {
                        this.$root.progress.show = false
                        let colPerRow = 3
                        if (body.courses) {
                            body.courses.forEach(c => {
                                let lastRow = this.rows[this.rows.length - 1]
                                if (lastRow.length == colPerRow) {
                                    this.rows.push([])
                                    lastRow = this.rows[this.rows.length - 1]
                                }
                                lastRow.push({
                                    courseCode: c.concept.name,
                                    imageURL: c.course.imageURL,
                                    courseName: c.course.courseName
                                })

                            })
                            let lastRow = this.rows[this.rows.length - 1]
                            while (lastRow.length < colPerRow) {
                                lastRow.push({})
                            }
                        } else {
                            this.$root.errorDisplay(body,
                                'Unexpected error on getting courses information.')
                        }
                    })
            },
            // {% if isInstructor %}
            courseBranch(courseCode) {
                window.location.replace("{{ url_for('instructor.versionTree') }}/" + courseCode)
            },
            courseSchedule(courseCode) {
                window.location.replace("{{ url_for('instructor.courseSchedule') }}/" + courseCode)
            },
            courseLink(courseCode) {
                window.location.replace("{{ url_for('instructor.material') }}/" + courseCode)
            },
            courseInfo(course) {
                this.course = course
                this.courseInfoDialogue = true
                this.courseCode = course.courseCode
                this.courseName = course.courseName
                this.imageURL = course.imageURL
            },
            updateCourseInfo() {
                if (this.$refs.courseInfoFormControl.validate()) {
                    if (this.$root.progress.show == true) {
                        this.$root.bePatientSnackBar.show = true
                        return
                    }
                    this.$root.progress.show = true
                    fetch("{{ url_for('RESTful.course.patch') }}" + this.course
                            .courseCode, {
                                method: 'PATCH',
                                cache: 'no-store',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify({
                                    courseName: this.courseName,
                                    imageURL: this.imageURL,
                                    name: this.courseCode,
                                })
                            })
                        .then(response => {
                            try {
                                return response.json()
                            } catch {
                                this.$root.progress.show = false
                                this.$root.errorDisplay({},
                                    'Unexpected error occured.')
                            }
                        })
                        .then(body => {
                            this.$root.progress.show = false
                            this.$root.responseSnackBar(body,
                                'Update failed for unknown reason.',
                                () => {
                                    location.reload()
                                })
                        })
                }
            },
            courseAssignment(course) {
                if (this.$root.progress.show == true) {
                    this.$root.bePatientSnackBar.show = true
                    return
                }
                this.$root.progress.show = true
                this.course = course
                fetch("{{ url_for('RESTful.course.query') }}/" + course.courseCode + "&instructor=true", {
                        method: 'GET',
                        cache: 'no-store',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                    })
                    .then(response => {
                        try {
                            return response.json()
                        } catch {
                            this.$root.progress.show = false
                            this.$root.errorDisplay({},
                                'Unexpected error occured.')
                        }
                    })
                    .then(body => {
                        this.$root.progress.show = false
                        if (body.instructors) {
                            this.instructors = body.instructors
                            this.instructorDialogue = true

                        } else {
                            this.$root.errorDisplay(body,
                                'Unexpected error on getting instructor assignment information.')
                        }

                    })
            },
            assign(userId) {
                if (this.$root.progress.show == true) {
                    this.$root.bePatientSnackBar.show = true
                    return
                }
                this.$root.progress.show = true
                fetch("{{ url_for('RESTful.course.patch') }}" + this.course
                        .courseCode, {
                            method: 'PATCH',
                            cache: 'no-store',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({
                                userId: userId,
                                assignment: true
                            })
                        })
                    .then(response => {
                        try {
                            return response.json()
                        } catch {
                            this.$root.progress.show = false
                            this.$root.errorDisplay({},
                                'Unexpected error occured.')
                        }
                    })
                    .then(body => {
                        this.$root.progress.show = false
                        this.$root.responseSnackBar(body,
                            'Assignment failed for unknown reason.',
                            () => {
                                this.courseAssignment(this.course)
                            })

                    })
            },
            unassign(userId) {
                if (this.$root.progress.show == true) {
                    this.$root.bePatientSnackBar.show = true
                    return
                }
                this.$root.progress.show = true
                fetch("{{ url_for('RESTful.course.patch') }}" + this.course
                        .courseCode, {
                            method: 'PATCH',
                            cache: 'no-store',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({
                                userId: userId,
                                assignment: false
                            })
                        })
                    .then(response => {
                        try {
                            return response.json()
                        } catch {
                            this.$root.progress.show = false
                            this.$root.errorDisplay({},
                                'Unexpected error occured.')
                        }
                    })
                    .then(body => {
                        this.$root.progress.show = false
                        this.$root.responseSnackBar(body,
                            'Assignment failed for unknown reason.',
                            () => {
                                this.courseAssignment(this.course)
                            })

                    })
            },
            // {% endif %}
            // {% if isDLTC %}

            courseTrunk(courseCode) {
                window.location.replace("{{ url_for('DLTC.versionTree') }}/" + courseCode)
            },
            // {% endif %}
            // {% if isFeedback %}
            open(courseCode) {
                window.location.replace("{{ url_for('collaborate.feedbacks') }}/" + courseCode)
            },
            // {% endif %}
        },
        mounted: function () {
            this.loadData()
        },
        template: '#content',
        delimiters: ['${', '}'],
    })
</script>
{% endblock %}