{% extends "layout.html" %}
{% import 'layout.html' as layout with context %}
{% import 'cyMetricsVisualize.html' as cyMetricsVisualize %}
{% block VueComponent %}
<v-card style="height: 100%; width: 100%;">
    <div id="cy" style="height: 100%; width: 100%;"></div>
    <v-bottom-sheet v-model="metricsBottomSheet" insert :hide-overlay="true" no-click-animation>
        <v-cy-metrics-visualize-bottom-sheet></v-cy-metrics-visualize-bottom-sheet>
    </v-bottom-sheet>
    <v-tooltip top>
        <template v-slot:activator="{ on, attrs }">
            <v-btn absolute style="bottom:3vh;left:3vh" fab v-on="on" @click="metricsBottomSheet = true">
                <v-icon>insights</v-icon>
            </v-btn>
        </template>
        centrality metrics
    </v-tooltip>
    {% if session['permission'] and session['permission'].canAccessInstructorPanel %}
    <v-tooltip top>
        <template v-slot:activator="{ on, attrs }">
            <v-btn absolute style="bottom:3vh;left:12vh" fab v-on="on"
                href="{{ url_for('instructor.repositories', courseCode = courseCode) }}">
                <v-icon>table_view</v-icon>
            </v-btn>
        </template>
        repositories
    </v-tooltip>
    {% endif %}
    <v-dialog v-model="materialDialogue" content-class="materialPage" transition="slide-x-reverse-transition"
        hide-overlay scrollable="false">
        <iframe style="height: 100%; width:100%" frameBorder="0" :src="materialLink"></iframe>
    </v-dialog>
</v-card>
{% endblock %}
{% block VueComponentScript %}
{{ layout.cytoscapeCDN() }}
{{ cyMetricsVisualize.component()}}
{{ cyMetricsVisualize.script()}}
<style>
    .materialPage {
        height: 100vh;
        padding: unset;
        right: 0px;
        width: 30vw;
        max-height: unset !important;
        position: absolute;
        right: 0px;
        margin: unset;
    }
</style>
<script src="{{ url_for('static', filename='options/cytoscapeStyle.js') }}"></script>
<script>
    cy = cytoscape({
        style: cyStyles.simpleStyle,
        wheelSensitivity: 0.15,
        boxSelectionEnabled: false,
    })
    metricOptions = [{
        cy: cy,
        edgeSelector: "[value = 'true']"
    }]
    concentricLayoutOptions = {
        name: 'concentric',

    }
    coseLayoutOptions = {
        name: 'cose',
        padding: document.documentElement.clientHeight * 0.15,
        fit: true,
        idealEdgeLength: function (edge) {
            return 64;
        },
        edgeElasticity: function (edge) {
            return 128;
        },
        gravity: 0.15
    }

    function nodeFactory(name) {
        let output = {
            group: 'nodes',
            data: {
                id: name,
                name: name
            },
            position: {
                x: 0,
                y: 0
            },
        }
        return output
    }

    function edgeFactory(edge) {
        let output = {
            group: 'edges',
            data: {
                source: edge.h_name,
                target: edge.t_name,
                name: edge.r_name,
                id: edgeIdFromNames(edge.h_name, edge.r_name, edge.t_name),
                value: edge.r_value ? 'true' : 'false',
            }
        }
        return output
    }

    function edgeIdFromNames(h_name, r_name, t_name) {
        return h_name + '.' + r_name + '.' + t_name
    }
    Vue.component('app-content', {
        data: () => ({
            metricsBottomSheet: false,
            materialDialogue: false,
            materialLink: ""
        }),
        methods: {
            loadData() {
                this.$root.progress.show = true
                fetch(
                        "{{ url_for('RESTful.triple.getCourse', courseCode = courseCode, userId = userId) }}", {
                            method: 'GET',
                            cache: 'no-store',
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        })
                    .then(response => {
                        try {
                            return response.json()
                        } catch {
                            this.$root.progress.show = false
                            this.$root.errorDisplay({},
                                'Unexpected error occured.')
                        }
                    })
                    .then(body => {
                        this.$root.progress.show = false
                        if (body.course && body.triples) {
                            cy.add(nodeFactory('{{ courseCode }}', ["course"]))
                                .data(
                                    'imageURL',
                                    body.course.imageURL,
                                ).data('name', body.course.diaplsyName)
                            body.triples.forEach(triple => {
                                if (triple.r_value) {
                                    [triple.h_name, triple.t_name].forEach(
                                        name => {
                                            if (cy.getElementById(name).length == 0) {
                                                cy.add(nodeFactory(name))
                                            }
                                        })
                                    cy.add(edgeFactory(triple))
                                }
                            })
                            cy.elements().style('visibility', 'hidden')
                            let cyLayout = cy.layout({
                                ...concentricLayoutOptions,
                                // concentric: function (node) {
                                //     return cyDijkstra.distanceTo(node) * -1
                                // }
                            })
                            cyLayout.one('layoutstop', function () {
                                let cyLayout = cy.layout(coseLayoutOptions)
                                cyLayout.one('layoutstop', function () {
                                    cy.elements().style('visibility', 'visible')
                                })
                                cyLayout.run()
                            })
                            cyLayout.run()
                        } else {
                            this.$root.errorDisplay(body,
                                'Unexpected error on getting courses information.')
                        }
                    })
            },
            newTab(url) {
                this.materialLink = url
                this.materialDialogue = true
                //let w = window.open(url, '_blank')
            }
        },
        mounted: function () {
            cy.mount(document.getElementById("cy"))
            self = this
            cy.on('tap', 'node', (event) => {
                console.log(event)
                if (event.target == event.cy) return
                this.newTab("{{ url_for('material', courseCode = courseCode)}}?concept=" + event
                    .target[0].data(
                        'id'))
            })
            this.loadData()
        },
        template: '#content',
        delimiters: ['${', '}'],
    })
    let visited = JSON.parse(localStorage.getItem('visitedCourseGraph'))
    console.log(JSON.parse(localStorage.getItem('visitedCourseGraph')))
    console.log(JSON.stringify(visited))
    if (!visited) {
        visited = {}
    }
    console.log(JSON.stringify(visited))
    visited["{{courseCode}}" + "_" + "{{userId}}"] = location.href
    console.log(JSON.stringify(visited))
    localStorage.setItem('visitedCourseGraph', JSON.stringify(visited))
</script>
{% endblock %}