<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Knowledge Graph Visualization Demo</title>
    <!--Bootstrap Stylesheet [ REQUIRED ]-->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="../static/images/logo.jpg">
    <!--Nifty Stylesheet [ REQUIRED ]-->
    <link href="../static/css/nifty.min.css" rel="stylesheet">

    <!--Nifty Premium Icon [ DEMONSTRATION ]-->
    <link href="../static/css/nifty-demo-icons.min.css" rel="stylesheet">
    <link href="../static/css/nifty-demo.min.css" rel="stylesheet">
    <link href="../static/css/font-awesome.min.css" rel="stylesheet">

    <!--JAVASCRIPT-->
    <!--=================================================-->
    <!--Pace - Page Load Progress Par [OPTIONAL]-->
    <link href="../static/css/pace.min.css" rel="stylesheet">
    <script src="../static/js/pace.min.js"></script>

    <!--jQuery [ REQUIRED ]-->
    <script src="../static/js/jquery-2.2.4.min.js"></script>

    <!--BootstrapJS [ RECOMMENDED ]-->
    <script src="../static/js/bootstrap.min.js"></script>

    <!--NiftyJS [ RECOMMENDED ]-->
    <script src="../static/js/nifty.min.js"></script>
    <script src="../static/js/icons.js"></script>

    <script src="../static/js/echarts.min.js"></script>
    <script src="../static/js/tags.js"></script>
    <!--=================================================-->
    <!--Demo script [ DEMONSTRATION ]-->
    <script src="../static/js/nifty-demo.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <style type="text/css">
    #tagsList {position:relative; width:250px; height:250px; }
#tagsList a {position:absolute; top:0px; left:0px; font-family: Microsoft YaHei; color:gray; font-weight:bold; text-decoration:none; padding: 3px 6px; }
#tagsList a:hover { color:#249e92; letter-spacing:2px; visibility:visible; transition-delay: 2s;-webkit-transition-delay: 2s;}
#search:focus{
    border: 1px solid #249e92;
}

    </style>
</head>

<body>

    <div id="container" class="effect aside-float aside-bright mainnav-sm">

        <!--NAVBAR-->
        <!--===================================================-->
        <header id="navbar">
            <div id="navbar-container" class="boxed">

                <!--Brand logo & name-->
                <!--================================-->
                <div class="navbar-header">
                    <a href="{{ url_for('main.index') }}" class="navbar-brand">
                        <img src="../static/images/logo.png" alt="Nifty Logo" class="brand-icon">
                        <div class="brand-title">
                            <span class="brand-text">KG-Cube</span>
                        </div>
                    </a>
                </div>
                <!--================================-->
                <!--End brand logo & name-->


                <!--Navbar Dropdown-->
                <!--================================-->
                <div class="navbar-content clearfix">
                    <ul class="nav navbar-top-links pull-left">

                        <!--Navigation toogle button-->
                        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                        <li class="tgl-menu-btn">
                            <a class="mainnav-toggle" href="#">
                                <i class="demo-pli-view-list"></i>
                            </a>
                        </li>

                    </ul>
                    <ul class="nav navbar-top-links pull-left">

                        <h4>Knowledge Graph Visualization: Build</h4>

                    </ul>
                </div>
                <!--================================-->
                <!--End Navbar Dropdown-->

            </div>
        </header>
        <!--===================================================-->
        <!--END NAVBAR-->

        <div class="boxed">

            <!--CONTENT CONTAINER-->
            <!--===================================================-->
            <div id="content-container">

                <!--Page content-->
                <!--===================================================-->
                <div id="page-content">

					<h4 class="text-main pad-btm bord-btm"></h4>

              <div class="row">
              <!--  <div class="col-lg-6">


                    </div>-->
                    <div class="col-lg-2"></div>
                    <div class="col-lg-4">
                        <div class="input-group" >
                            <input type="text" id="search" class="form-control input-lg"  placeholder="Please input a keywords...">
                            <span class="input-group-addon btn btn-mint"  onclick="search()">Search</span>

                        </div>
                    </div>

                    </div>
                    <div class="row" style="height: 40px;"></div>
                     <div class="row" >
                        <div class="col-lg-8" style="height: 800px;width: 950px" id="guanxi">
                    </div>
                        <div class="col-lg-2" style="height: 800px;width: 1px"> </div>
                        <div  class="col-lg-4" style="height:800px; width:300px">
                            <div style="height:250px; width:300px">
                                <div class="btn">
                                    <ul id="node">
                                        <li onclick=addNode()><svg class="icon" aria-hidden="true"><use xlink:href="#icon-add"></use></svg></li>
                                        <li onclick=deleteNode()><svg class="icon" aria-hidden="true"><use xlink:href="#icon-subtract"></use></svg></li>
                                        <li onclick=importJSON()><svg class="icon" aria-hidden="true"><use xlink:href="#icon-edit"></use></svg></li>
                                    </ul>
                                </div>
                                <div class="add-box" style="padding:3px">
                                    <div>
                                        <label>New node</label>
                                        <input tabindex="109" id="input1" type="text" autocomplete="off"/>
                                    </div>
            <!--                        <div><label>Add node</label>-->
            <!--                            <input tabindex="110" autocomplete="off" />-->
            <!--                        </div>-->

                                </div>
                                <div class="btn">
                                    <ul id="node2">
                                        <li onclick=addLink()><svg class="icon" aria-hidden="true"><use xlink:href="#icon-add"></use></svg></li>
                                        <li onclick=deleteLink()><svg class="icon" aria-hidden="true"><use xlink:href="#icon-subtract"></use></svg></li>
                                        <li onclick=exportJSON()><svg class="icon" aria-hidden="true"><use xlink:href="#icon-edit"></use></svg></li>
                                    </ul>
                                </div>
                                <div class="add-box" style="padding:3px">
                                    <table>
                                        <tr>
                                            <td>Head node</td>
                                            <td><input type="text" id="input_head" value="" /></td>
                                        </tr>

                                        <tr>
                                            <td>Tail node</td>
                                            <td><input type="text"id="input_tail"value="" /></td>
                                        </tr>
                                    </table>
            <!--                        <div><label>Add node</label>-->
            <!--                            <input tabindex="110" autocomplete="off" />-->
            <!--                        </div>-->

                                </div>
                                <div id="container1" style="height: 100%"></div>
                            </div>
                            <div  class="col-lg-4" id="tagsList" style="height:450px; width:300px">
                            <a href="#" data="COMP1433" >COMP1433</a>
                            <a href="#" data="COMP2011">COMP2011</a>
                            <a href="#" data="COMP3133">COMP3133</a>
                            <a href="#" data="COMP4431">COMP4431</a>
                            <a href="#" data="COMP4432">COMP4432</a>
                            <a href="#" data="COMP1011">COMP1011</a>
                            <a href="#" data="COMP3423">COMP3423</a>
                            <a href="#" data="COMP4422">COMP4422</a>
                            <a href="#" data="COMP4423">COMP4423</a>
                            <a href="#" data="COMP4433">COMP4433</a>
                            <a href="#" data="COMP4434">COMP4434</a>
                        </div>
                        </div>

                    </div>


                </div>
                <!--===================================================-->
                <!--End page content-->


            </div>
            <!--===================================================-->
            <!--END CONTENT CONTAINER-->


            <!--MAIN NAVIGATION-->
            <!--===================================================-->
            <nav id="mainnav-container">
                <div id="mainnav">

                    <!--Menu-->
                    <!--================================-->
                    <div id="mainnav-menu-wrap">
                        <div class="nano">
                            <div class="nano-content">

                                <ul id="mainnav-menu" class="list-group">

                                    <!--Category name-->
						            <li class="list-header">Visualization</li>

                                    <!--Menu list item-->


                                    <!--Menu list item-->
                                    <li>
                                        <a href="{{ url_for('main.get_all_relation') }}">
                                            <i class="fa fa-share-alt" style="width:24px"></i>
                                            <span class="menu-title">
                                                <strong>2D</strong>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
						                <a href="{{ url_for('main.fold') }}">
						                    <i class="fa fa-cube" style="width:24px"></i>
						                    <span class="menu-title">
                                                <strong>3D</strong>
                                            </span>
						                </a>
						            </li>
                                    <li>
                                        <a href="{{ url_for('main.tree') }}">
                                            <i class="fa fa-sitemap" style="width:24px"></i>
                                            <span class="menu-title">
                                                <strong>Tree</strong>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ url_for('main.search') }}">
<!--                                            <img src="../static/images/logo.png" alt="Nifty Logo" class="brand-icon">-->
                                            <i class="fa fa-search" style="width:24px"></i>
                                            <span class="menu-title">
                                                <strong>Search</strong>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ url_for('main.construction') }}">
                                            <i class="fa fa-pencil-square-o" style="width:24px"></i>
                                            <span class="menu-title">
                                                <strong>Build</strong>
                                            </span>
                                        </a>
                                    </li>
                                </ul>



                            </div>
                        </div>
                    </div>
                    <!--================================-->
                    <!--End menu-->

                </div>
            </nav>
            <!--===================================================-->
            <!--END MAIN NAVIGATION-->

        </div>

        <!-- FOOTER -->
        <!--===================================================-->
        <footer id="footer">

           <p class="pad-lft">Copyright&#0169; 2021 Qing &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;All Rights Reserved </p>

        </footer>
        <!--===================================================-->
        <!-- END FOOTER -->

        <!-- SCROLL PAGE BUTTON -->
        <!--===================================================-->
        <button class="scroll-top btn">
            <i class="pci-chevron chevron-up"></i>
        </button>
        <!--===================================================-->
    </div>
    <!--===================================================-->
    <!-- END OF CONTAINER -->
    <script  src="../static/js/echarts.js"></script>
    <script  src="../static/js/option11.js"></script>
    <script  src="../static/js/events-func.js"></script>
    <script src="../static/css/iconfont.js"></script>
    <script type="module">
    import iojson from '../static/js/index.js'
    window.iojson = iojson
  </script>
   <script type="text/javascript">
<!--   $(document).keypress(function (e) {-->
<!--        // 回车键事件-->
<!--        if (e.which == 13) {-->
<!--            search();-->
<!--        }-->
<!--    });-->

<!--    window.onresize = function () {-->

<!--        myChart.resize();-->
<!--    }-->

<!--    $.ajaxSetup({ async: true });-->
<!--   var categories = [{-->
<!--        name: 0,-->

<!--        }, {-->
<!--            name: 1,-->

<!--        }, {-->
<!--            name: 2,-->

<!--        }, {-->
<!--            name: 3,-->

<!--        }, {-->
<!--            name: 4,-->

<!--        }, {-->
<!--            name: 5,-->

<!--        }];-->

<!--    var rela = { "data": [], "links": [] };-->
<!--    $.getJSON('/all_kg', function (json) {-->
<!--        rela = json;-->
<!--    });-->

<!--    var optionFromDB = {-->
<!--        series: [{-->
<!--            color: ['#9ccc65', '#f2b368', '#61a0a8', '#d48265', '#91c7ae', '#749f83', '#ca8622', '#bda29a', '#6e7074', '#546570', '#c4ccd3'],-->
<!--            draggable: true,-->
<!--            label: {-->
<!--                show: true,-->
<!--                position: 'bottom',-->
<!--                formatter: '{b}'-->
<!--            },-->
<!--            force: {-->
<!--                repulsion: 100-->
<!--            },-->
<!--            nodes: rela.data,-->
<!--            links: rela.links,-->
<!--            categories: categories,-->
<!--            roam: true,-->
<!--            //   type: 'graph',-->
<!--            //   layout: 'force',-->
<!--            //  symbolSize: 34,-->
<!--            //   animationDurationUpdate: 750-->

<!--        }]-->
<!--    }-->



    var dom = document.getElementById("guanxi");
    var myChart = echarts.init(dom);
    //preProcess()
    option = null
    var TimeFn = null                           //avoid click cover dblclick
    var preName=null

    var selectInfo={
        state:false,
        index:null,
        name:null
    }

    myChart.on('click',selectEle.bind(this));
<!--    myChart.on('dblclick',spreadAndcontract)    //dbl,not "db"-->
    myChart.on('dblclick',addheadnode);
    document.oncontextmenu = function () { return false; };
    //新加上鼠标右击事件
     myChart.on('contextmenu', addtailnode);


    myChart.setOption(option = {
        tooltip: {
            trigger: 'item',
            triggerOn: 'mousemove'
        },
        series: [
            {
                zoom:2,
                type: 'graph',
                layout: 'force',
                category:categories,
                symbolSize: 20,
                animationDurationUpdate: 750

            }
        ]
    })

    var subOption = {
        tooltip: {
            trigger: 'item',
            triggerOn: 'mousemove'
        },
        series: [
            {
                zoom:2,
                type: 'graph',
                layout: 'force',
                symbolSize: 20,
                animationDurationUpdate: 750,

                color: ['#9ccc65', '#f2b368', '#61a0a8', '#d48265', '#91c7ae', '#749f83', '#ca8622', '#bda29a', '#6e7074', '#546570', '#c4ccd3'],
                draggable: true,
                label: {
                    show: true,
                    position: 'bottom',
                    formatter: '{b}'
                },
                force: {
                    repulsion: 100
                },
                categories: categories,
                roam: true

            }
        ]

    }
     myChart.setOption(optionFromDB);

    function search() {

        $.getJSON('/search_name', {
            name: $("#search").val(),

        }, function (json) {

            let option11 = subOption;

            option11.series[0].nodes = json.data;

            option11.series[0].links = json.links;

            myChart.setOption(option11, true);

        });
    };


    $(".col-lg-4 a").click(function () {

        $.getJSON('/search_name', {
            name: $(this).attr("data"),

        }, function (json) {

            let option11 = subOption;

            option11.series[0].nodes = json.data;

            option11.series[0].links = json.links;

            myChart.setOption(option11, true);

        })
    });


function addheadnode(params){
    clearTimeout(TimeFn);
    let name = params.data.name;
    var t=document.getElementById("input_head");
    t.value= name
}

function addtailnode(params){
    let name = params.data.name;
    var t=document.getElementById("input_tail");
    t.value= name
}

function addLink() {
 	let options = myChart.getOption();
 	let nodesOption = options.series[0].data;
 	let linksOption = options.series[0].links;
 	if (document.getElementById("input_head").value === "" || document.getElementById("input_tail").value === "") {
 		alert("Please input name of newNode")
 		return false
 	}
 	let head_name = document.getElementById("input_head").value
 	let tail_name = document.getElementById("input_tail").value
// 	if (isDuplicate()) {
// 		alert("you could not have duplicate name")
// 		return false
// 	}
 	let newLink = {
 		source: head_name,
 		target: tail_name
 	}
    linksOption.push(newLink)
    optionFromDB.series[0].links.push(newLink)


<!-- 	console.log(optionFromDB)-->
 	myChart.setOption(options);
 }


 function deleteLink() {
 	let options = myChart.getOption();
 	let nodesOption = options.series[0].data;
 	let linksOption = options.series[0].links;
 	if (document.getElementById("input_head").value === "" || document.getElementById("input_tail").value === "") {
 		alert("Please input name of newNode")
 		return false
 	}
 	let head_name = document.getElementById("input_head").value
 	let tail_name = document.getElementById("input_tail").value
// 	if (isDuplicate()) {
// 		alert("you could not have duplicate name")
// 		return false
// 	}
 	let newLink = {
 		source: head_name,
 		target: tail_name
 	}



 	for (let m in linksOption) {
 	    console.log(linksOption[m].target)
 	    console.log(linksOption[m].source)
 	    if (linksOption[m].target == tail_name) {
 	        if (linksOption[m].source == head_name){
 	            console.log(linksOption[m].source)
 	            console.log(linksOption[m].target)

 	            linksOption.splice(m, 1)
 	        }
 		}
 		else {
            if(linksOption[m].target == head_name) {
                if (linksOption[m].source == tail_name){
                    console.log(linksOption[m].source)
                    console.log(linksOption[m].target)
                    linksOption.splice(m, 1)
                }
            }
 		}

 	}


 	console.log(optionFromDB)
 	myChart.setOption(options);
 }



    function exportJSON(data) {
       let json_option = myChart.getOption()
       let nodesOption = json_option.series[0].data
       iojson.exportJSON(nodesOption)
    }

    async function importJSON() {
      try {
        const res = await iojson.importJSON()
        let json_option = myChart.getOption()
        json_option.series[0].data = res
        myChart.setOption(json_option)
        console.log(res)
      } catch (e) {
        console.error(e)
      }
    }

</script>

<style type="text/css">  /*adjust list to side-to-side array*/
#node {list-style-type:none;margin:-22px;padding:0;overflow:hidden;}
#node li{float:left;padding: 32px;}
#node li:hover{background-color: #484848;}

#node2 {list-style-type:none;margin:-22px;padding:0;overflow:hidden;}
#node2 li{float:left;padding: 32px;}
#node2 li:hover{background-color: #484848;}
</style>
</body>
</html>
