{% extends "layout.html" %}
{% import 'layout.html' as layout %}
{% block VueComponent %}
<v-card style="height: 100%; width: 100%;">
    <div
        style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); z-index: 500; background-color: rgba(255,255,255,0.75);">
        <v-autocomplete label="bring me to ..." clearable :items="items" item-text="text" item-value="value"
            @change="focus($event)"></v-autocomplete>
    </div>
    <div id="cy" style="height: 100%; width: 100%;"></div>
</v-card>
{% endblock %}
{% block VueComponentScript %}
{{ layout.cytoscapeCDN() }}
<script>
    cy = cytoscape({
        style: [{
            selector: 'node',
            style: {
                'background-color': 'white',
                'border-width': 1,
                'border-color': 'grey'

            }
        }, {
            selector: 'node.course',
            style: {
                'label': 'data(tag)',
                'text-outline-color': 'white',
                'text-outline-width': 3,
                'font-size': 8,
                'background-image': 'data(imageURL)',
                'background-fit': 'cover'
            }
        }, {
            selector: 'edge',
            style: {
                'width': 1,
            }
        }, ],
        userZoomingEnabled: false,
        userPanningEnabled: false,
        boxSelectionEnabled: false,
        autounselectify: true,

    })

    function nodeFactory(node, classes) {
        let output = {
            group: 'nodes',
            data: {
                id: node.id,
                tag: node.tag,
            },
            classes: classes,
            grabbable: false,
            pannable: false,
        }
        return output
    }

    function edgeFactory(edge) {
        let output = {
            group: 'edges',
            data: {
                source: edge.start,
                target: edge.end,
            }
        }
        return output

    }
    var focusedNode = null
    var animation = null
    Vue.component('app-content', {
        data: () => ({
            items: []
        }),
        methods: {
            loadData() {
                this.$root.progress.show = true
                fetch(
                        "{{ url_for('RESTful.course.query', list=True) }}", {
                            method: 'GET',
                            cache: 'no-store',
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        })
                    .then(response => {
                        try {
                            return response.json()
                        } catch {
                            this.$root.progress.show = false
                            this.$root.errorDisplay({},
                                'Unexpected error occured.')
                        }
                    })
                    .then(body => {
                        this.$root.progress.show = false
                        this.items = []
                        if (body.courses) {
                            body.courses.forEach(c => {
                                this.items.push({
                                    text: c.concept.name,
                                    value: c.concept.name
                                })
                                this.items.push({
                                    text: c.course.courseName,
                                    value: c.course.courseName
                                })
                                cy.add(nodeFactory({
                                    id: c.concept.name,
                                    tag: c.course.courseName
                                }, ["course"])).data(
                                    'imageURL',
                                    c.course.imageURL,
                                )

                            })
                            for (let i = cy.nodes().length; i < 80; i++) {
                                cy.add(nodeFactory({
                                    id: i,
                                    tag: ''
                                }, ))

                            }
                            cy.nodes().forEach((a, index) => {
                                cy.nodes().slice(index + 1).forEach(b => {
                                    if (Math.random() > 0.1) return
                                    cy.add(edgeFactory({
                                        start: a.data('id'),
                                        end: b.data('id'),
                                    }))
                                })
                            })
                            cy.layout({
                                name: 'circle',
                                fit: true,
                                sweep: undefined,
                                startAngle: 1.5 * Math.PI,
                                padding: document.documentElement.clientHeight * 0.15
                            }).run()
                        } else {
                            this.$root.errorDisplay(body,
                                'Unexpected error on getting courses information.')
                        }
                    })
            },
            newTab(url) {
                let w = window.open(url, '_blank')
            },
            focus(id, duration = 1000) {
                cy.stop()
                cy.clearQueue()
                if (id) {
                    let node = cy.getElementById(id)
                    focusedNode = node.length > 0 ? node : cy.nodes('node[tag="' + id + '"]')
                    animation = cy.animation({
                        fit: {
                            eles: focusedNode,
                            padding: document.documentElement.clientHeight * 0.35
                        },
                        duration: duration
                    })
                } else {
                    focusedNode = null
                    animation = cy.animation({
                        fit: {
                            padding: document.documentElement.clientHeight * 0.15
                        },
                        duration: duration
                    })
                }
                animation.play()
            }
        },
        mounted: function () {
            cy.mount(document.getElementById("cy"))
            self = this
            cy.on('tap', 'node', (event) => {
                if (event.target == event.cy) return
                if (event.target.classes().includes("course")) {
                    this.newTab("{{ url_for('course')}}" + event.target[0].data(
                        'id'))
                }
            })
            cy.on('tap', 'edge', (event) => {
                if (event.target == event.cy || event.target.length < 1) return

                if (focusedNode) {
                    let edge = event.target[0]
                    let node = edge.connectedNodes().difference(focusedNode)
                    this.focus(node.data("id"), 1000)
                }
            })
            this.loadData()
            window.addEventListener('wheel', (event) => {
                if (!focusedNode)
                    this.focus(cy.nodes()[0].data("id"))
                if (cy.animated()) {
                    animation.progress(animation.progress() + 0.25)
                    return
                }
                let delta = event.deltaY < 0 ? -1 : 1
                let index = undefined
                cy.nodes().forEach((node, i) => {
                    if (node.data("id") == focusedNode.data("id")) index = i
                })

                console.log(((index + delta) % cy.nodes().length + cy.nodes().length) % cy.nodes()
                    .length)
                this.focus(cy.nodes()[((index + delta) % cy.nodes().length + cy.nodes().length) % cy
                    .nodes().length].data("id"), 150)

            });
        },
        template: '#content',
        delimiters: ['${', '}'],
    })
</script>
{% endblock %}