{% extends "layout.html" %}
{% import 'layout.html' as layout %}
{% block VueComponent %}
<v-card style="height: 100%; width: 100%;">
    <v-container no-gutters
        style="position: absolute; top: 2.5%; margin-left: 10%; margin-right: 10%;z-index: 500; background-color: rgba(255,255,255,0.75);">
        <v-row no-gutters>
            <v-col>
                <v-autocomplete hide-details hide-no-data ref="searchBar" dense style="width: 100%"
                    label="bring me to ..." clearable :items="items" item-text="text" item-value="value"
                    @change="focus($event)"></v-autocomplete>
            </v-col>
            <v-col cols="auto">
                <v-icon @click="focus($refs.searchBar.$data.selectedItems[0].text)">loupe</v-icon>
            </v-col>
            <v-col cols="auto">
                <v-icon @click="focus('')">home</v-icon>
            </v-col>
        </v-row>
        <v-row>
            <v-subheader>Recent visit</v-subheader>
            <v-chip-group>
                <v-chip label v-for="(url, name) in visitedCourseGraph" :href="url">
                    ${name.split("_")[0] + " from " + (name.split("_").slice(1).join('_') == "None"?
                    'department':name.split("_").slice(1).join('_'))}
                </v-chip>
            </v-chip-group>
        </v-row>
    </v-container>
    <div id="cy" style="height: 100%; width: 100%;"></div>
    <v-snackbar v-model="neverScrolled" timeout="-1">
        <v-icon>mouse</v-icon> scroll or click to roam around available courseces and career. <v-icon>
            attractions</v-icon>
    </v-snackbar>
    <v-snackbar v-model="focusingNode">
        <v-icon>mouse</v-icon> click focused node <v-icon>radio_button_unchecked</v-icon> to open info page in new tab.
        </v-icon>
    </v-snackbar>
</v-card>
{% endblock %}
{% block VueComponentScript %}
{{ layout.cytoscapeCDN() }}
<script>
    cy = cytoscape({
        style: [{
                selector: 'node',
                style: {
                    'background-color': 'white',
                    'border-width': 1,
                    'border-color': 'grey'

                }
            }, {
                selector: 'node:selected',
                style: {
                    'background-color': 'white',
                    'border-width': 3,

                }
            }, {
                selector: 'node.course',
                style: {
                    'label': 'data(tag)',
                    'text-outline-color': 'white',
                    'text-outline-width': 3,
                    'font-size': 8,
                    'background-image': 'data(imageURL)',
                    'background-fit': 'cover'
                }
            }, {
                selector: 'edge',
                style: {
                    'width': 1,
                }
            },
            {
                selector: 'edge.irrelevant',
                style: {
                    'opacity': 0.25
                }
            }, {
                selector: 'edge.relevant',
                style: {
                    'width': 3,
                }
            },
        ],
        userZoomingEnabled: false,
        userPanningEnabled: false,
        boxSelectionEnabled: false,


    })

    function nodeFactory(node, classes) {
        let output = {
            group: 'nodes',
            data: {
                id: node.id,
                tag: node.tag,
            },
            classes: classes,
            grabbable: false,
            pannable: false,
        }
        return output
    }

    function edgeFactory(edge) {
        let output = {
            group: 'edges',
            data: {
                source: edge.start,
                target: edge.end,
            },
            selectable: false
        }
        return output

    }
    var focusedNode = null
    var animation = null
    var duration = null
    Vue.component('app-content', {
        data: () => ({
            neverScrolled: true,
            focusingNode: false,
            items: [],
            visitedCourseGraph: JSON.parse(localStorage.getItem('visitedCourseGraph'))
        }),
        methods: {
            loadData() {
                this.$root.progress.show = true
                fetch(
                        "{{ url_for('RESTful.course.query', list=True) }}", {
                            method: 'GET',
                            cache: 'no-store',
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        })
                    .then(response => {
                        try {
                            return response.json()
                        } catch {
                            this.$root.progress.show = false
                            this.$root.errorDisplay({},
                                'Unexpected error occured.')
                        }
                    })
                    .then(body => {
                        this.$root.progress.show = false
                        this.items = []
                        if (body.courses) {
                            body.courses.sort((a, b) => {
                                if (a.concept.name < b.concept.name) {
                                    return -1;
                                }
                                if (a.concept.name > b.concept.name) {
                                    return 1;
                                }
                                return 0;
                            }).forEach(c => {
                                this.items.push({
                                    text: c.concept.name,
                                    value: c.concept.name
                                })
                                this.items.push({
                                    text: c.course.courseName,
                                    value: c.course.courseName
                                })
                                cy.add(nodeFactory({
                                    id: c.concept.name,
                                    tag: c.course.courseName
                                }, ["course"])).data(
                                    'imageURL',
                                    c.course.imageURL,
                                )

                            })
                            for (let i = cy.nodes().length; i < 80; i++) {
                                cy.add(nodeFactory({
                                    id: i,
                                    tag: ''
                                }, ))

                            }
                            let numberOfNode = cy.nodes().length
                            let space = parseInt(numberOfNode / 5)
                            let padding = parseInt(numberOfNode * 0.2)
                            cy.nodes().forEach((a, i) => {
                                [...cy.nodes().slice(i + 1), ...cy.nodes().slice(0, i)].forEach((b,
                                    j) => {
                                    if (j % space != 0) return
                                    if (j < padding || j > numberOfNode - padding) return
                                    if (cy.edges().filter(edge => {
                                            return edge.source().data("id") == b.data(
                                                    "id") && edge.target().data("id") ==
                                                a
                                                .data("id")
                                        }).length > 0) return
                                    cy.add(edgeFactory({
                                        start: a.data('id'),
                                        end: b.data('id'),
                                    }))
                                })
                            })
                            cy.layout({
                                name: 'circle',
                                fit: true,
                                sweep: undefined,
                                startAngle: 1.5 * Math.PI,
                                padding: document.documentElement.clientHeight * 0.15
                            }).run()
                        } else {
                            this.$root.errorDisplay(body,
                                'Unexpected error on getting courses information.')
                        }
                    })
            },
            newTab(url) {
                let w = window.open(url, '_blank')
            },
            focus(id, d = 1000) {
                cy.stop()
                cy.clearQueue()
                cy.nodes().unselect()
                cy.edges().unselect()
                duration = d
                if (id) {
                    let node = cy.getElementById(id)
                    focusedNode = node.length > 0 ? node : cy.nodes('node[tag="' + id + '"]')
                    this.focusingNode = true
                    focusedNode.select()
                    cy.edges().addClass('irrelevant')
                    focusedNode.connectedEdges().removeClass('irrelevant')
                    focusedNode.connectedEdges().addClass('relevant')
                    animation = cy.animation({
                        fit: {
                            eles: focusedNode,
                            padding: document.documentElement.clientHeight * 0.39
                        },
                        duration: duration
                    })
                } else {
                    focusedNode = null
                    animation = cy.animation({
                        fit: {
                            padding: document.documentElement.clientHeight * 0.15
                        },
                        duration: duration
                    })
                }

                animation.play()
            }
        },
        mounted: function () {
            cy.mount(document.getElementById("cy"))
            self = this
            cy.on('tap', 'node', (event) => {
                if (event.target == event.cy) return
                if (!focusedNode || event.target[0].data('id') != focusedNode.data('id')) {
                    this.focus(event.target[0].data('id'), 500)
                } else {
                    if (event.target.classes().includes("course")) {
                        this.newTab("{{ url_for('course')}}" + event.target[0].data(
                            'id'))
                    }
                }
            })
            cy.on('tap', 'edge', (event) => {
                if (event.target == event.cy || event.target.length < 1 || cy.animated()) return


                let edge = event.target[0]
                let node = edge.connectedNodes().difference(focusedNode)
                if (node.length == 1) {
                    this.focus(node.data("id"))
                    node.select()
                } else {
                    this.focus(edge.source().data("id"))
                    edge.source().select()
                }

            })
            this.loadData()
            window.addEventListener('wheel', (event) => {
                this.neverScrolled = false
                if (!focusedNode)
                    this.focus(cy.nodes()[0].data("id"), 500)
                if (cy.animated()) {
                    if (duration == 150) animation.progress(animation.progress() + 0.25)
                    return
                }
                let delta = event.deltaY < 0 ? -1 : 1
                let index = undefined
                cy.nodes().forEach((node, i) => {
                    if (node.data("id") == focusedNode.data("id")) index = i
                })
                this.focus(cy.nodes()[((index + delta) % cy.nodes().length + cy.nodes().length) % cy
                    .nodes().length].data("id"), 150)

            });
        },
        template: '#content',
        delimiters: ['${', '}'],
    })
</script>
{% endblock %}