<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Knowledge Graph Visualization Demo</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.jpg') }}">

    <!-- Vuetify stylesheet -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">


    <!-- material icon stylesheet -->
    <link href="https://fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet">
    <!--=================================================-->
    {% block head %}{% endblock %}
</head>

<body>
    <script src=" https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
    <div id="nav" v-cloak>
        <v-app>
            <v-progress-linear style="z-index: 300" :active="progress.show" indeterminate rounded height="10">
            </v-progress-linear>
            <v-app-bar app>
                <a href="{{ url_for('index') }}">
                    <v-img src="{{ url_for('static', filename='images/logo.png') }}" link max-height="35"
                        max-width="35">
                    </v-img>
                </a>
                <v-btn text href="{{ url_for('index') }}">KG-Cube</v-btn>
                <v-spacer></v-spacer>
                {% if session['user'] %}
                <v-menu offset-y>
                    <template v-slot:activator="{ on, attrs }">
                        <v-btn text v-bind="attrs" v-on="on" style="text-transform: none !important;">
                            {{session['user'].userName}}<v-icon>arrow_drop_down</v-icon>
                        </v-btn>
                    </template>
                    <v-list>
                        <v-list-item href="{{ url_for('user.profile') }}">
                            <v-list-item-title>Edit Profile</v-list-item-title>
                        </v-list-item>
                        <v-list-item href="{{ url_for('user.logout') }}">
                            <v-list-item-title>Logout</v-list-item-title>
                        </v-list-item>
                    </v-list>
                </v-menu>
                {% else %}
                <v-dialog v-model="shouldShowLoginForm" persistent max-width="600px">
                    <template v-slot:activator="{ on, attrs }">
                        <v-btn text v-bind="attrs" v-on="on">
                            Login
                        </v-btn>
                    </template>
                    <v-card>
                        <v-card-text>
                            <v-container>
                                <v-tabs v-model="tab">
                                    <v-tab :key="login">Login </v-tab>
                                    <v-tab :key="register">Register </v-tab>
                                </v-tabs>
                                <v-tabs-items v-model="tab">
                                    <v-tab-item :key="login">
                                        <v-card flat>
                                            <v-form ref="loginFormControl" lazy-validation>
                                                <v-text-field v-model="loginForm.id" :rules="loginForm.idRules"
                                                    label="UserId" required></v-text-field>
                                                <v-text-field v-model="loginForm.password" type="password"
                                                    :rules="loginForm.passwordRules" label="password" required>
                                                </v-text-field>

                                                <v-btn @click="loginFormLogin" color="success">
                                                    login
                                                </v-btn>
                                            </v-form>
                                        </v-card>
                                    </v-tab-item>
                                    <v-tab-item :key="register">
                                        <v-card flat>
                                            <v-form ref="registerFormControl" lazy-validation>
                                                <v-container>
                                                    <v-row align="center">
                                                        <v-col cols="4">
                                                            <v-text-field ref="registerFormUserIdControl"
                                                                v-model="registerForm.id" :rules="registerForm.idRules"
                                                                label="UserId" required>
                                                            </v-text-field>
                                                        </v-col>
                                                        <v-col cols="4">
                                                            <v-btn small
                                                                :color="registerForm.isUserIdAvaliable? 'success':'error'"
                                                                :loading="userIdAvaliableChecking"
                                                                :disabled="!(this.$refs.registerFormUserIdControl && this.$refs.registerFormUserIdControl.valid)"
                                                                @click="checkUserIdAvaliability($event)">
                                                                ${registerForm.isUserIdAvaliable? 'Check':'Try again'}
                                                            </v-btn>
                                                        </v-col>
                                                        <v-col cols="4">
                                                            <v-checkbox v-model="userIdAvaliableCheckBox"
                                                                :ripple="false" label='avaliable' readonly></v-checkbox>
                                                        </v-col>
                                                    </v-row>
                                                    <v-row>
                                                        <v-col>
                                                            <v-text-field v-model="registerForm.name"
                                                                :rules="registerForm.nameRules" label="Name" required>
                                                            </v-text-field>
                                                        </v-col>
                                                    </v-row>
                                                    <v-row>
                                                        <v-col>
                                                            <v-text-field v-model="registerForm.email"
                                                                :rules="registerForm.emailRules" label="E-mail"
                                                                required>
                                                            </v-text-field>
                                                        </v-col>
                                                    </v-row>
                                                    <v-row>
                                                        <v-col>
                                                            <v-text-field v-model="registerForm.password"
                                                                type="password" :rules="registerForm.passwordRules"
                                                                label="password" required>
                                                            </v-text-field>
                                                        </v-col>
                                                    </v-row>
                                                    <v-row>
                                                        <v-col>
                                                            <v-text-field v-model="registerForm.password2"
                                                                type="password" :rules="registerForm.password2Rules"
                                                                label="confirm password" required>
                                                            </v-text-field>
                                                        </v-col>
                                                    </v-row>
                                                    <v-row>
                                                        <v-btn @click="registerFormSubmit" color="success">
                                                            register
                                                        </v-btn>
                                                    </v-row>
                                                </v-container>
                                            </v-form>
                                        </v-card>
                                    </v-tab-item>
                                </v-tabs-items>
                            </v-container>
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="blue darken-1" text @click="shouldShowLoginForm = false">
                                Close
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
                {% endif %}

            </v-app-bar>
            <v-navigation-drawer permanent expand-on-hover mini-variant :mini-variant.sync="miniSync"
                mini-variant-width="50" app>

                <v-divider></v-divider>
                <v-list nav dense>
                    <v-list-item link href="{{ url_for('index') }}">
                        <v-list-item-icon>
                            <v-icon>device_hub</v-icon>
                        </v-list-item-icon>
                        <v-list-item-title>Catalogue</v-list-item-title>
                    </v-list-item>
                    <v-list-item link href="{{ url_for('comprehensive.graph') }}">
                        <v-list-item-icon>
                            <v-icon>hub</v-icon>
                        </v-list-item-icon>
                        <v-list-item-title>Comprehensive</v-list-item-title>
                    </v-list-item>
                    <v-list-item link href="{{ url_for('job.bubble') }}">
                        <v-list-item-icon>
                            <v-icon>work</v-icon>
                        </v-list-item-icon>
                        <v-list-item-title>Jobs</v-list-item-title>
                    </v-list-item>
                    {% if session['permission'] and session['permission'].canOwnDraft %}
                    <v-list-item link href="{{ url_for('draft.my_space') }}">
                        <v-list-item-icon>
                            <v-icon>folder</v-icon>
                        </v-list-item-icon>
                        <v-list-item-title>My Space</v-list-item-title>
                    </v-list-item>
                    {% endif %}
                    {% if session['permission'] and session['permission'].canProposeRelationship %}
                    <v-list-item link href="{{ url_for('collaborate.index') }}">
                        <v-list-item-icon>
                            <v-icon>forum</v-icon>
                        </v-list-item-icon>
                        <v-list-item-title>Collaborate</v-list-item-title>
                    </v-list-item>
                    {% endif %}
                    {% if session['permission'] and session['permission'].canAccessAdminPanel %}
                    <v-list-item link href="{{ url_for('admin.panel') }}">
                        <v-list-item-icon>
                            <v-icon>admin_panel_settings</v-icon>
                        </v-list-item-icon>
                        <v-list-item-title>Admin Panel</v-list-item-title>
                    </v-list-item>
                    {% endif %}
                </v-list>
            </v-navigation-drawer>
            <v-snackbar v-model="errorSnackBar.show">
                ${ errorSnackBar.message }
                <template v-slot:action="{ attrs }">
                    <v-btn color="pink" text v-bind="attrs" @click="errorSnackBar.show = false">
                        Close
                    </v-btn>
                </template>
            </v-snackbar>
            <v-snackbar v-model="completeSnackBar.show">
                ${ completeSnackBar.message }
                <template v-slot:action="{ attrs }">
                    <v-btn color="blue" text v-bind="attrs" @click="completeSnackBar.show = false">
                        Close
                    </v-btn>
                </template>
            </v-snackbar>
            <v-snackbar v-model="bePatientSnackBar.show" :timeout="2000">
                A http request is already submitting in progress. Thank you for your patience.
                <template v-slot:action="{ attrs }">
                    <v-btn color="blue" text v-bind="attrs" @click="bePatientSnackBar.show = false">
                        Close
                    </v-btn>
                </template>
            </v-snackbar>
            </v-app-bar>
            <v-main>
                <v-container fluid>
                    <app-content></app-content>
                </v-container>
            </v-main>
        </v-app>

    </div>


    <script>
        Vue.use(Vuetify)
    </script>
    <script type="text/x-template" id="content">
        {% block VueComponent %} {% endblock %}
    </script>
    {% block VueComponentScript %} {% endblock %}
    <script>
        var app = new Vue({
            el: '#nav',
            data: () => ({
                miniSync: true,
                errorSnackBar: {
                    show: false,
                    message: ''
                },
                completeSnackBar: {
                    show: false,
                    message: ''
                },
                bePatientSnackBar: {
                    show: false
                },
                progress: {
                    show: false
                },
                shouldShowLoginForm: false,
                tab: 'register',
                login: 'login',
                register: 'register',
                userIdAvaliableCheckBox: false,
                userIdAvaliableChecking: false,
                registerForm: {
                    isUserIdAvaliable: true,
                    id: '',
                    idRules: [
                        v => !!v || 'UserId is required',
                        v => v.length > 3 && v.length < 101 ||
                        'UserId should be anything between 4 and 100 charactors', v =>
                        /^[a-zA-Z0-9]{4,100}$/.test(v) ||
                        'UserId can only contains alphanumeric characters.',
                        v => /^[a-zA-Z][a-zA-Z0-9]{3,100}$/.test(v) ||
                        'UserId must start with alphabetic characters.'
                    ],
                    name: '',
                    nameRules: [
                        v => !!v || 'Name is required',
                        v => v.length > 3 && v.length < 101 ||
                        'Name should be anything between 4 and 100 charactors', v =>
                        /^[a-zA-Z0-9\s]{4,100}$/.test(v) ||
                        'Name can only contains alphanumeric characters and space.'
                    ],
                    email: '',
                    emailRules: [
                        v => !!v || 'E-mail is required',
                        v => v.length < 320 || 'A valid email should have less then 320 characters',
                        v =>
                        /^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$/.test(v) ||
                        'E-mail must be in valid format',
                    ],
                    password: '',
                    passwordRules: [
                        v => !!v || 'Password is required',
                    ],
                    password2: '',
                    password2Rules: [
                        v => !!v || 'Password is required',
                        v => v == app._data.registerForm.password || 'Two password are different'
                    ],
                },
                loginForm: {
                    id: '',
                    idRules: [
                        v => !!v || 'UserId is required',
                        v => v.length > 3 && v.length < 101 ||
                        'UserId should be anything between 4 and 100 charactors', v =>
                        /^[a-zA-Z0-9]{4,100}$/.test(v) ||
                        'UserId can only contains alphanumeric characters.',
                        v => /^[a-zA-Z][a-zA-Z0-9]{3,100}$/.test(v) ||
                        'UserId must start with alphabetic characters.'
                    ],
                    password: '',
                    passwordRules: [
                        v => !!v || 'UserId is required',
                    ],
                }
            }),
            methods: {
                checkUserIdAvaliability(btn) {
                    console.log(btn)
                    this.userIdAvaliableChecking = true
                    if (this.$refs.registerFormUserIdControl.valid) {
                        fetch("{{ url_for('user.isUserIdAvaliable') }}?userId=" +
                                this.$refs.registerFormUserIdControl.value, {
                                    method: 'GET',
                                    cache: 'no-store',
                                })
                            .then(response => response.json())
                            .then(body => {
                                this.registerForm.isUserIdAvaliable = body.avaliable
                                this.userIdAvaliableChecking = false
                                if (body.avaliable) {
                                    this.userIdAvaliableCheckBox = true
                                } else {
                                    this.userIdAvaliableCheckBox = false
                                }
                            })
                    }
                },
                registerFormSubmit() {
                    if (this.$refs.registerFormControl.validate()) {
                        this.progress.show = true
                        fetch("{{ url_for('user.register') }}", {
                                method: 'POST',
                                cache: 'no-store',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify({
                                    userId: this.registerForm.id,
                                    password: this.registerForm.password,
                                    email: this.registerForm.email,
                                    userName: this.registerForm.name
                                })
                            })
                            .then(response => {
                                return response.json()
                            })
                            .then(body => {
                                this.progress.show = false
                                this.responseSnackBar(body, 'Registration failed for unkown reason.', true)
                            })

                    }
                },
                loginFormLogin() {
                    if (this.$refs.loginFormControl.validate()) {
                        this.progress.show = true
                        fetch("{{ url_for('user.login') }}", {
                                method: 'POST',
                                cache: 'no-store',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify({
                                    userId: this.loginForm.id,
                                    password: this.loginForm.password
                                })

                            })
                            .then(response => {
                                return response.json()
                            })
                            .then(body => {
                                this.progress.show = false
                                this.responseSnackBar(body, 'incorrect username or password', true)
                            })
                    }
                },
                responseSnackBar(body, defaultMessage, reloadOnSuccess, onSuccess = () => {}) {
                    if (body.success) {
                        if (reloadOnSuccess) {
                            location.reload()
                        } else if (body.message) {
                            this.completeSnackBar.message = body.message
                        } else {
                            this.completeSnackBar.message = 'success'
                        }
                        this.completeSnackBar.show = true
                        onSuccess()
                    } else if (body.message) {
                        this.errorSnackBar.message = body.message
                        this.errorSnackBar.show = true
                    } else {
                        this.errorSnackBar.message = defaultMessage
                        this.errorSnackBar.show = true
                    }
                }
            },
            delimiters: ['${', '}'],
            vuetify: new Vuetify(),
        })
    </script>
    {% macro echartsCDN() %}
    <script src="https://cdn.jsdelivr.net/npm/@vue/composition-api@1.0.5"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.1.2"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-echarts@6.0.0"></script>
    {% endmacro %}
    {% macro visCDN() %}
    <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
    {% endmacro %}

</body>


</html>