{% macro VueComponent() %}
<v-container style="height: 100%;">
    <v-row>
        <v-text-field v-model="search" append-icon="mdi-magnify" label="Search" hide-details>
        </v-text-field>
    </v-row>
    <v-row>
        <v-data-table show-group-by :headers="headers" style="width:100%" :items="materials" :items-per-page="500"
            multi-sort :search="search">
            <template v-slot:item.actions="{ item }">
                <v-icon @click="newTab(item.url)">
                    open_in_new
                </v-icon>
            </template>
        </v-data-table>
    </v-row>
</v-container>
{% endmacro  %}
<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Knowledge Graph Visualization Demo</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.jpg') }}">

    <!-- Vuetify stylesheet -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">


    <!-- material icon stylesheet -->
    <link href="https://fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet">
    <!--=================================================-->
    {% block head %}{% endblock %}
</head>

<body>
    <script src=" https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
    <div id="nav" v-cloak>
        <v-app>
            <v-progress-linear style="z-index: 300" :active="progress.show" indeterminate rounded height="10">
            </v-progress-linear>
            <v-snackbar v-model="errorSnackBar.show" timeout="-1">
                ${ errorSnackBar.message }
                <template v-slot:action="{ attrs }">
                    <v-btn color="pink" text v-bind="attrs" @click="errorSnackBar.show = false">
                        Close
                    </v-btn>
                </template>
            </v-snackbar>
            <v-snackbar v-model="completeSnackBar.show">
                ${ completeSnackBar.message }
                <template v-slot:action="{ attrs }">
                    <v-btn color="blue" text v-bind="attrs" @click="completeSnackBar.show = false">
                        Close
                    </v-btn>
                </template>
            </v-snackbar>
            <v-snackbar v-model="bePatientSnackBar.show" :timeout="2000">
                A http request is already submitting in progress. Thank you for your patience.
                <template v-slot:action="{ attrs }">
                    <v-btn color="blue" text v-bind="attrs" @click="bePatientSnackBar.show = false">
                        Close
                    </v-btn>
                </template>
            </v-snackbar>
            <v-snackbar v-model="actionSnackBar.show" timeout="-1">
                ${ actionSnackBar.message }
                <template v-slot:action="{ attrs }">
                    <v-btn color="blue" text v-bind="attrs" @click="actionSnackBar.action()">
                        ${actionSnackBar.actionName} </v-btn>
                    <v-btn color="error" text v-bind="attrs" @click="actionSnackBar.show = false">
                        Close
                    </v-btn>
                </template>
            </v-snackbar>
            <v-main>
                <app-content></app-content>
            </v-main>
        </v-app>

    </div>


    <script>
        KCube = {
            visibility: ["private", "collaborator", "instructor", "colleague", "public"],
        }
        Vue.use(Vuetify)
    </script>
    <script type="text/x-template" id="content">
        {{ VueComponent() }}
    </script>
    <script>
        Vue.component('app-content', {
            data: () => ({
                search: new URLSearchParams(window.location
                    .search).get('concept'),
                materials: [],
                headers: [{
                        text: 'Material concept',
                        value: 'concept',
                    },
                    {
                        text: 'Description',
                        value: 'desc',
                        groupable: false,
                    },
                    {
                        text: 'Instructor',
                        value: 'user',
                    },
                    {
                        text: 'Open in new tab',
                        value: 'actions',
                        groupable: false,
                    },
                ],
            }),
            methods: {
                loadData() {
                    this.$root.progress.show = true
                    let materialPromise = fetch(
                            "{{ url_for('RESTful.material.query', courseCode = courseCode) | safe}}", {
                                method: 'GET',
                                cache: 'no-store',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                            })
                        .then(response => {
                            try {
                                return response.json()
                            } catch {
                                this.$root.progress.show = false
                                this.$root.errorDisplay({},
                                    'Unexpected error occured.')
                            }
                        })
                        .then(body => {
                            this.materials = []
                            if (body.materials) {
                                body.materials.forEach(d => {
                                    this.materials.push(d)
                                })
                            } else {
                                this.$root.errorDisplay(body,
                                    'Unexpected error on getting materials information.')
                            }
                        })
                    let entityPromise = fetch("{{ url_for('RESTful.entity.query', list=True) }}", {
                            method: 'GET',
                            cache: 'no-store',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                        })
                        .then(response => {
                            try {
                                return response.json()
                            } catch {
                                this.$root.progress.show = false
                                this.$root.errorDisplay({},
                                    'Unexpected error occured.')
                            }
                        })
                        .then(body => {
                            if (body.entities) {
                                this.concepts = body.entities.map(e => e.concept.name)
                            } else {
                                this.$root.errorDisplay(body,
                                    'Unexpected error on getting relationship information.')

                            }
                        })
                    Promise.all([materialPromise, entityPromise]).then(_ => {
                        this.$root.progress.show = false
                    })
                },
                newTab(url) {
                    let w = window.open(url, '_blank')
                }
            },
            mounted: function () {
                this.loadData()
            },
            template: '#content',
            delimiters: ['${', '}'],
        })
    </script>
    <script>
        var app = new Vue({
            el: '#nav',
            data: () => ({
                errorSnackBar: {
                    show: false,
                    message: ''
                },
                completeSnackBar: {
                    show: false,
                    message: ''
                },
                actionSnackBar: {
                    show: false,
                    message: '',
                    actionName: '',
                    action: () => {}
                },
                bePatientSnackBar: {
                    show: false
                },
                progress: {
                    show: false
                },
            }),
            methods: {},
            delimiters: ['${', '}'],
            vuetify: new Vuetify(),
        })
    </script>

</body>


</html>